/*--新版怕皮肤报告  --*/
.pf-main{ padding:.2rem .3rem;}
.pifu_zls{ height: 1.2rem; margin: 0 auto 0; background: #ffffff; font-size: 0; border-radius: .1rem; box-shadow: 0 .1rem .2rem #f3f1f1;}
.pifu_zls .tit{ height: .75rem; text-align: center;}
.pifu_zls .tit span{ height: .88rem; width: 33.3%; display: inline-block; font-size: .28rem; border-right: #eaeaea solid .02rem;}
.pifu_zls .txt{margin: -.2rem 0 0; color: #3991F2; text-align: center; line-height: .36rem;}
.pifu_zls .txt span{ width: 33.3%; display: inline-block; font-size: .28rem; font-weight: bold;}

/*=kanghao新版保险报告=*/
.bodySta{ /*background: url(../img/kh130/ground.png) no-repeat bottom center; background-size: 100%;*/ color: #ffffff;}
.toper{height: 3.3rem; background: url(../img/kh130/bj.png) no-repeat bottom; background-size: 100%; position: relative; z-index: 100;}
.toper .gao{padding: .2rem .4rem .15rem; overflow: hidden;}
.toper .gao .per{text-align: center;}
.toper .gao .per img{ height: .44rem;}
.toper .gao span{display: inline-block; vertical-align: top; line-height: .44rem; margin: 0 .1rem;}
.staer{position: relative; font-size: .24rem;}
.staer .stabg{margin: -.1rem auto 0; width: 3.16rem; height: 2.68rem; padding: .45rem 0 0; background: url(../img/kh130/sta.png) no-repeat center; background-size:3.16rem 2.68rem;}
.staer .stabg .pointer{ display: block; margin: 0 auto; width: .28rem; height: 1.22rem; background: url(../img/kh130/pronter.png) no-repeat center; background-size:.28rem 1.22rem; transition: transform 1s; transform:rotate(-134deg); transform-origin:50% 91%;}
.kh-inf{ margin: 0 .3rem; padding: .2rem 0; min-width: 2.9rem; border-radius: .24rem; background: #ffffff; box-shadow:0px 0px 12px -4px rgba(156,196,243,1);overflow: hidden; color: #4A4A4A;}
.kh-inf .huolizhi{ width: 66%; padding: .2rem 0 0 .82rem;}
.kh-inf .huolizhi .d-chart{ width: 2rem; text-align: center;}
.kh-inf .huolizhi .toscore{ width: 2rem; height: 2rem; position: relative;}
.kh-inf .huolizhi .toscore span{position: absolute; top: .5rem; left: 0; width: 100%; height: 1rem; line-height: 1rem; color: #428FE8; font-size: 1rem;}
.kh-inf .huolizhi .toscore .dian{ position: absolute; width: .16rem; height: 1.04rem; top: -.04rem; left: 50%; margin-left: -.08rem; transform-origin: bottom center; transition: transform 1000ms cubic-bezier(0.57, -0.04, 0.65, 0.98) 0s;}
.kh-inf .huolizhi .toscore .dian i{display: block; width: .16rem; height: .16rem; border-radius: 50%; background: #428FE8;}
.kh-inf .fengxian{width: 33.6%; padding: .16rem 0 0;}
.kh-inf .fengxian p{height: .48rem; line-height: .48rem; font-size: .24rem;}
.kh-inf .fengxian p i{ display: inline-block; vertical-align: top; width: .44rem; height: .32rem; margin: .08rem .2rem 0 0; border-radius: .08rem;}
.kh-inf .fengxian p:nth-of-type(1).active{ color: #2FC7BE;}
.kh-inf .fengxian p:nth-of-type(2).active{ color: #53CFE0;}
.kh-inf .fengxian p:nth-of-type(3).active{ color: #ACE260;}
.kh-inf .fengxian p:nth-of-type(4).active{ color: #FFC255;}
.kh-inf .fengxian p:nth-of-type(5).active{ color: #FF8C3E;}
.kh-inf .fengxian p.active i{transform: scale(1.3,1.3);}
.bodyqg{ position: relative; margin: .8rem 0 0; background: url(../img/kh130/ground.png) no-repeat bottom center; background-size: 100% 100%;}
.qglist{padding: .2rem .3rem .15rem; font-size: 0;}
.qglist .qgitem{ display: inline-block; vertical-align: top; width: 49.9%; color: #ffffff;}
.qglist .qgitem .cn{ width: 1.08rem; text-align: center; padding: .15rem 0 0;}
.qglist .qgitem:nth-child(odd) .cn{float: left;}
.qglist .qgitem:nth-child(even) .cn{float: right;}
.qglist .qgitem .cn i{ display: block; margin: 0 auto; padding: .18rem 0 0; width: .72rem; height: .72rem; background: #ffffff; border-radius: 50%; box-shadow:0px 4px 4px 0px rgba(66,143,232,1);}
.qglist .qgitem .cn i img{ width: .36rem; height: .36rem;}
.qglist .qgitem .cn.mid i{background: #CE0019;}
.qglist .qgitem .cn.mid i img{-webkit-filter: brightness(100);filter: brightness(100);filter: brightness;}
.qglist .qgitem .cn.lit i{background: #F58B00;}
.qglist .qgitem .cn.lit i img{-webkit-filter: brightness(100);filter: brightness(100);filter: brightness;}
.qglist .qgitem .cn p{line-height: .4rem; padding: .13rem 0 0; font-size: .24rem;}
.bodyqg .renti{ width: 4.56rem; height: 11.26rem; position: absolute; left: 50%; transform: translateX(-50%); top: 1rem; background: url(../img/kh130/s_man.png); background-size:4.56rem 11.26rem ;}
.bodyqg .renti.woman{background: url(../img/kh130/s_woman.png); background-size:4.56rem 11.26rem ;}
.bodyqg .renti .biditem{position: absolute; width: .48rem; padding: .149rem; height: .48rem; border-radius: 50%;background:rgba(92,163,254,0.5);}
.bodyqg .renti .biditem.A3510{left: 2rem; top: 0rem;}
.bodyqg .renti .biditem.A3520{left: 2.2rem; top: .34rem;}
.bodyqg .renti .biditem.A3115{left: 1.95rem; top: .96rem;}
.bodyqg .renti .biditem.A3135{left: 1.7rem; top: 1.6rem;}
.bodyqg .renti .biditem.A3540{left: 1.65rem; top: 2.3rem;}
.bodyqg .renti .biditem.A3530{left: 2.3rem; top: 2.5rem;}
.bodyqg .renti .biditem.A3585{left: 3.25rem; top: 3.1rem;}
.bodyqg .renti .biditem.A3570{left: 2.25rem; top: 3.3rem;}
.bodyqg .renti .biditem.A3550{left: 1.65rem; top: 3.5rem;}
.bodyqg .renti .biditem.A3560{left: 2.5rem; top: 3.8rem;}
.bodyqg .renti .biditem.A3580{left: 2rem; top: 4.2rem;}
.bodyqg .renti .biditem.A3590{left: 1.4rem; top: 4.5rem;}
.bodyqg .renti .biditem.B3144,.bodyqg .renti .biditem.B3152{left: 2rem; top: 4.9rem;}
.bodyqg .renti .biditem.A3163{left: 2.7rem; top: 4.8rem;}
.bodyqg .renti .biditem.A3598{left: 1.65rem; top: 7.2rem;}
.bodyqg .renti .biditem.A3594{left: 2.4rem; top: 7.15rem;}
.bodyqg .renti .biditem.A3087{left: 1.65rem; top: 9.5rem;}
.bodyqg .renti .biditem.A3195{left: 2.4rem; top: 9.6rem;}
.bodyqg .renti .biditem i{ display: block; width: .18rem; height: .18rem; border-radius: 50%;background:rgba(206,0,25,0.6);}
.riskSta{ color: #4A4A4A; padding: 0;}
.riskSta .btit{height: .88rem; line-height: .88rem; text-align: center; font-size: .32rem; font-weight: bold; background:rgba(247,250,255,1);}
.riskSta .btit i{ display: inline-block; width: .2rem; margin: 0 .12rem; height: .2rem; background:rgba(66,143,232,1); border-radius: 50%;}
.tabrisk{padding: 0 .3rem; font-size: 0; color: #ffffff; position: relative;}
.tabrisk .tabitm{ display:inline-block; width: 49.9%; padding: .3rem;}
.tabrisk .tabitm p{height: 1rem; line-height: 1rem; text-align: center; background:linear-gradient(360deg,rgba(250,104,106,1) 0%,rgba(246,75,105,1) 100%);border-radius:.12rem;}
.tabrisk .tabitm p i{ display: inline-block; vertical-align: top; width: .8rem; height: 1rem; background: url(../img/kh130/i-risk.png) no-repeat center; background-size:.48rem .48rem;}
.tabrisk .tabitm:nth-of-type(2) p{ background:linear-gradient(180deg,rgba(253,222,99,1) 0%,rgba(253,175,23,1) 100%);border-radius:.12rem;}
.tabrisk .tabitm p span{ display: inline-block; vertical-align: top; line-height: 1rem; font-size: .3rem; font-weight: 600;}
.tabriskcon{margin: 0 .3rem .32rem; box-shadow:0px 0px 12px -4px rgba(155,155,155,1); border-radius:.2rem; position: relative; position: relative;}
.tabriskcon .jiao{position: absolute; top: -.28rem; left: 1.4rem; width: .44rem; height: .3rem; background: url(../img/kh130/jiao.png) no-repeat; background-size:100%;}
.tabriskcon ul{ overflow: hidden; padding: .48rem 0 0;}
.tabriskcon li{float: left; width: 49.9%; padding: 0 .2rem 0 .3rem; margin-bottom: .4rem;}
.tabriskcon li i{display: inline-block; width: .2rem; height: .2rem; margin-right: .1rem; border: #FEB4B4 solid .05rem; border-radius: 50%; background: #F10000;}
.tabriskcon li .lab{ display: inline-block; padding: 0 .2rem; height: .56rem; line-height: .56rem; background: #FFF2F2; font-size: .28rem;}
.tabriskcon.lit .jiao{left: 4.8rem;}
.tabriskcon.lit li i{ border: #FFC5AA solid .05rem; background: #FF8800;}
.tabriskcon.lit li .lab{ background: #FFF1E2;}
.phyage{margin: .3rem .3rem .4rem; padding: .2rem; background: #F7FAFF; border-radius: .24rem;}
.phyage .agecn{ height: .96rem; line-height: .96rem; font-size: 0;text-align: center;}
.phyage .agecn span{ display: inline-block; width: 33.3%; vertical-align: top; font-size: .28rem; }
.phyage .agecn span:nth-of-type(1) b{font-size: .64rem;}
.phyage .agecn span:nth-of-type(2){color: #428FE8;}
.phyage .agecn span:nth-of-type(2) b{font-size: .96rem;}
.phyage .agecn span:nth-of-type(3){color: #1ECEB7; font-size: .64rem;}
.phyage .titname{ text-align: center; line-height: .6rem;}
.phyage .titname span{display: inline-block; vertical-align: top; width: 33.3%; font-size: .28rem;}
.phyage .titname span .pop{display: inline-block; vertical-align: top; width: .6rem; height: .6rem; background: url(../img/pop.png) no-repeat center; background-size:.32rem .32rem;}
.phyage .tip{line-height: .4rem; margin-top: .3rem; font-size: .28rem; text-align: center;}
.stjk{display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; padding:.3rem;}
.stjk .s_li{ display: block; width: 3.2rem; height: 1.6rem; padding: .2rem; background: #F7FAFF; border-radius: .24rem;}
.stjk .s_li .tt{ height: .4rem;}
.stjk .s_li .tt span{font-size: .28rem; margin-right: .2rem; display: inline-block; line-height: .4rem; vertical-align: top;}
.stjk .s_li .tt i{ display: inline-block; vertical-align: top; margin: .06rem 0; width: .28rem; height: .28rem; border: #C8BFF7 solid .02rem; 
border-radius: 50%; color: #C8BFF7; font-size: .2rem; text-align: center; line-height: .24rem;}
.stjk .s_li .tt button{width: .8rem; height: .36rem; background: none; color: #428FE8; border: #428FE8 solid .02rem; border-radius: .18rem; outline: none;}
.stjk .s_li .bo{height: .8rem; line-height: .8rem; overflow: hidden; padding: 0 .4rem 0 0;}
.stjk .huoli{}
.stjk .huoli .bo em{display: inline-block; vertical-align: top; margin-top: .16rem; width: .48rem; height: .48rem; border-radius: 50%; background: #428FE8 url(../img/kh130/i-huoli.png) no-repeat center; background-size:.22rem .28rem;}
.stjk .huoli .bo span{ font-size: .72rem; color: #F5A623;}
.stjk .bmi{ position: relative;}
.stjk .bmi .bo em{display: inline-block; vertical-align: top; margin-top: .16rem; width: .48rem; height: .48rem; border-radius: 50%; background: #428FE8 url(../img/kh130/i-body.png) no-repeat center; background-size:.22rem .28rem;}
.stjk .bmi .bo span{ font-size: .56rem; color: #4A90E2;}
.zk_list{ padding: .2rem .3rem;}
.zk_item{height: .88rem; margin-bottom: .2rem; padding: 0 .2rem; background: #F7FAFF; border-radius: .24rem; overflow: hidden;}
.zk_item .ico{display: inline-block; vertical-align: top; margin: .2rem .1rem 0 0; width: .48rem; height: .48rem; border-radius: 50%;}
.zk_item .lab{ display: inline-block; max-width: .8rem; overflow: hidden; white-space: nowrap; line-height: .88rem; margin: 0 .24rem 0 0;}
.zk_item .pop{ display: inline-block; width: .28rem; height: .28rem; vertical-align: top; margin-top: .3rem; border: #C8BFF7 solid .02rem; 
border-radius: 50%; color: #C8BFF7; font-size: .2rem; text-align: center; line-height: .24rem;}
.zk_item .leve{width: 66%; font-size: 0; position: relative;}
.zk_item .leve em{display: inline-block; width: 20%; height: .88rem; -webkit-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.zk_item .leve em.on{ -webkit-filter: none;filter: none;}
.zk_item.tixing .ico{ background:#428FE8 url(../img/kh130/i-body.png) no-repeat center; background-size:.16rem .32rem;}
.zk_item.tixing .leve em{ line-height: .88rem; font-size: .28rem; color: #9B9B9B; text-align: center;}
.zk_item.tixing .leve em.on{color: #428FE8; font-size: .36rem; font-weight: 600;}
.zk_item.tixing .leve button{width: .8rem; height: .36rem; margin-top: .26rem; background: none; color: #428FE8; border: #428FE8 solid .02rem; border-radius: .18rem; outline: none;}
.zk_item.C3230 .ico{ background:#428FE8 url(../img/kh130/i-zk-xq.png) no-repeat center; background-size:.32rem .28rem;}
.zk_item.C3230 .leve em:nth-of-type(1){ background: url(../img/kh130/biaoqing-1.png) no-repeat center; background-size:.46rem .46rem;}
.zk_item.C3230 .leve em:nth-of-type(2){ background: url(../img/kh130/biaoqing-2.png) no-repeat center; background-size:.46rem .46rem;}
.zk_item.C3230 .leve em:nth-of-type(3){ background: url(../img/kh130/biaoqing-3.png) no-repeat center; background-size:.46rem .46rem;}
.zk_item.C3230 .leve em:nth-of-type(4){ background: url(../img/kh130/biaoqing-4.png) no-repeat center; background-size:.46rem .46rem;}
.zk_item.C3230 .leve em:nth-of-type(5){ background: url(../img/kh130/biaoqing-5.png) no-repeat center; background-size:.46rem .46rem;}
.zk_item.C3230 .leve em.active{ -webkit-filter: none;filter: none;background-size:.69rem .69rem;}
.zk_item.C3228 .ico{ background:#428FE8 url(../img/kh130/i-zk-qs.png) no-repeat center; background-size:.24rem .34rem;}
.zk_item.C3228 .leve em{ background: url(../img/kh130/zk-shuifen.png) no-repeat center; background-size:.36rem .44rem;}
.zk_item.C3229 .ico{ background:#428FE8 url(../img/kh130/i-zk-yangqi.png) no-repeat center; background-size:.3rem .32rem;}
.zk_item.C3229 .leve em{ background: url(../img/kh130/zk-yangqi.png) no-repeat center; background-size:.28rem .48rem;}
.zk_item.C3226 .ico{ background:#428FE8 url(../img/kh130/i-zk-fanyingli.png) no-repeat center; background-size:.34rem .34rem;}
.zk_item.C3226 .leve em{ background: url(../img/kh130/zk-fanyingli.png) no-repeat center; background-size:.4rem .48rem;}
.zk_item.C3227 .ico{ background:#428FE8 url(../img/154/i-zk-naoli.png) no-repeat center; background-size:.34rem .34rem;}
.zk_item.C3227 .leve em{ background: url(../img/154/zk-naoli.png) no-repeat center; background-size:.43rem .43rem;}
.zk_item.C3231 .ico{ background:#428FE8 url(../img/kh130/i-zk-jiyili.png) no-repeat center; background-size:.34rem .34rem;}
.zk_item.C3231 .leve .probj{position: absolute; left: 0; top: .38rem; height: .12rem; width: 100%; border-radius: .06rem; background: #BFC1CA;}
.zk_item.C3231 .leve .progress{position: absolute; left: 0; top: .33rem; height: .2rem; border-radius: .1rem; background:linear-gradient(90deg,#FFAA77 0%,#FCCD36 27%,#82E9F0 100%);}
.zk_item.C3259 .ico{ background:#428FE8 url(../img/kh130/i-zk-nl.png) no-repeat center; background-size:.24rem .34rem;}
.zk_item.C3259 .leve em{ background: url(../img/kh130/zk-nengliang.png) no-repeat center; background-size:.32rem .44rem;}
.questionZS {margin-bottom:.32rem;text-align:center;}
.questionZS .box {display:inline-block;height:.88rem;border-radius:.44rem;background:#FDF1F3;line-height:.88rem;padding-left:.32rem;position:relative;}
.questionZS .box > .i {display:inline-block;width:.32rem;height:.32rem;border-radius:50%;background:url(../img/new_skin/denger.png) no-repeat center;background-size:.32rem;vertical-align:-6%;margin-right:.14rem;}
.questionZS .box > .q {display:inline-block;width:.32rem;height:.32rem;border-radius:50%;background:url(../img/new_skin/qustion.png) no-repeat center;background-size:.32rem;vertical-align:-6%;position:absolute;top:54%;transform:translateY(-50%);right:.26rem;}
.questionZS .box > span {font-size:.28rem;}
.questionZS .box > span:not(.weight) {margin-right:.54rem;}
.questionZS .box > .weight {font-size:.36rem;position:relative;margin-right:.5rem;top:0.01rem;}
.questionZS .box > .weight > em {font-weight:600;margin-right:.17rem;}

.new_face {position:relative;}
.new_face > .user_face {position:absolute;z-index:20;width:1rem;height:1rem;border-radius:50%;color:#fff;font-size:.24rem;text-align:center;top:0.08rem;left:1.37rem;}
.new_face > .user_face > .show_photo {width:1rem;height:1rem;border-radius:50%;}
.new_face > .user_face > .xg {position:absolute;display:block;width:1rem;height:1rem;border-radius:50%;background:rgba(0,0,0,0.6);top:0;left:0;padding-top:.08rem;}
.new_face > .last_q {width:3.18rem;height:4.56rem;background:url(../img/new_skin/new_w.png) no-repeat center;background-size:3.18rem;background-size:3rem;margin:0 auto;margin-bottom:.36rem;position:relative;z-index:18;}
.new_face > .last_q.man{background:url(../img/new_skin/new_m.png) no-repeat center; background-size:3rem;}

.new_face > .last_q > .img_q {position:relative;width:3.18rem;height:4.56rem;}
.new_face > .last_q > .img_q > span.wrinkle {display:block;width:2.28rem;height:.84rem;background:url(../img/new_skin/zhouwen.png) no-repeat center;background-size:2.1rem .84rem;position:absolute;top:1.88rem;left:50%;transform:translateX(-53%);}
.new_face > .last_q > .img_q > span.darkcircle {display:block;width:1.86rem;height:.3rem;background:url(../img/new_skin/heiyanquan.png) no-repeat center;background-size:1.86rem .3rem;position:absolute;top:2.8rem;left:50%;transform:translateX(-53%);}
.new_face > .last_q > .img_q > span.pimple {display:block;width:.77rem;height:.79rem;background:url(../img/new_skin/doudou.png) no-repeat center;background-size:.77rem .79rem;position:absolute;top:3.2rem;left:50%;transform:translateX(-135%);}
.new_face > .last_q > .img_q > span.chloasma {display:block;width:.91rem;height:.9rem;background:url(../img/new_skin/huangheban.png) no-repeat center;background-size:.91rem .9rem;position:absolute;top:3.04rem;left:47%;transform:translateX(22%);}
.new_face > .last_q > .img_q > span.blackhead {display:block;width:.16rem;height:.11rem;background:url(../img/new_skin/heitou.png) no-repeat center;background-size:.16rem .11rem;position:absolute;top:3.25rem;left:50.5%;transform:translateX(-75%);}

.new_face > .text_q {position:absolute;top:0;left:0;width:100%;height:4.56rem;}
.new_face > .text_q > .l_q {position:relative;z-index:19;}
.new_face > .text_q > .l_q > span.pimple {display:block;width:2.74rem;height:1.59rem;background:url(../img/new_skin/doudou_w.png) no-repeat center;background-size:2.74rem 1.59rem;position:absolute;top:1.98rem;left:.65rem;}
.new_face > .text_q > .l_q > span.blackhead {display:block;width:3.22rem;height:.84rem;background:url(../img/new_skin/heitou_w.png) no-repeat center;background-size:3.22rem .84rem;position:absolute;top:3.46rem;left:.65rem;}
.new_face > .text_q > .l_q > span.spot {display:block;width:2.5rem;height:.69rem;background:url(../img/new_skin/bandian_w.png) no-repeat center;background-size:2.5rem .69rem;position:absolute;top:2.56rem;left:.65rem;}
.new_face > .text_q > .l_q > span.pore {display:block;width:2.19rem;height:.58rem;background:url(../img/new_skin/maokong_w.png) no-repeat center;background-size:2.19rem .58rem;position:absolute;top:3.14rem;left:.65rem;}
.new_face > .text_q > .l_q > span.moisture {display:block;width:2.74rem;height:1.2rem;background:url(../img/new_skin/shuifen_w.png) no-repeat center;background-size:2.74rem 1.2rem;position:absolute;top:1.4rem;left:0.65rem;}
.new_face > .text_q > .l_q > span.wrinkle {display:block;width:2.81rem;height:.77rem;background:url(../img/new_skin/zhouwenq_w.png) no-repeat center;background-size:2.81rem .77rem;position:absolute;top:1.3rem;right:.6rem;}
.new_face > .text_q > .l_q > span.darkcircle {display:block;width:2.81rem;height:.67rem;background:url(../img/new_skin/heiyanquanq_w.png) no-repeat center;background-size:2.81rem .67rem;position:absolute;top:2.46rem;right:.6rem;}
.new_face > .text_q > .l_q > span.chloasma {display:block;width:2.76rem;height:.58rem;background:url(../img/new_skin/haungheban_w.png) no-repeat center;background-size:2.76rem .58rem;position:absolute;top:3.04rem;right:.6rem;}
.new_face > .text_q > .l_q > span.texture {display:block;width:2.81rem;height:.77rem;background:url(../img/new_skin/wenli_w.png) no-repeat center;background-size:2.81rem .77rem;position:absolute;top:1.88rem;right:.6rem;}
.new_face > .text_q > .l_q > span.roughness {display:block;width:2.76rem;height:.58rem;background:url(../img/new_skin/cucaodu_w.png) no-repeat center;background-size:2.76rem .58rem;position:absolute;top:3.62rem;right:.6rem;}

.pifutab{ display: -webkit-flex;display: flex;-webkit-justify-content: space-between; justify-content: space-between; padding: 0 .4rem;}
.pifutab .btitem{ width: 2rem; height: .96rem; box-shadow:0px 4px 12px -4px rgba(155,155,155,1); border-radius: .24rem; color: #ffffff; text-align: center; padding: .1rem 0;}
.pifutab .btitem .tit{height: .4rem; line-height: .4rem; font-size: .28rem;}
.pifutab .btitem .tit i{ display: inline-block; width: .4rem; height: .4rem; background: url(../img/kh130/i-zhuyi.png) no-repeat center; background-size:.32rem .28rem;}
.pifutab .btitem .tit span{ display: inline-block;vertical-align: top;}
.pifutab .btitem .txt{ line-height: .4rem;}
.pifutab .btitem.zd{background:linear-gradient(180deg,#FA686A 0%,#F64B69 100%);}
.pifutab .btitem.yd{background:linear-gradient(180deg,#FDD363 0%,#FDD363 100%);}
.pifutab .btitem.jx{background:linear-gradient(180deg,#00DEB7 0%,#04CBB1 100%);}
.pifutab .btitem.jx .tit i{ background: url(../img/kh130/i-baochi.png) no-repeat center; background-size:.32rem .32rem;}
.gotoskin{ padding: .3rem 0 .1rem;}
.gotoskin button{margin: 0 auto; display: block; width: 2rem; height: .58rem; color:#428FE8; border: #428FE8 solid .02rem; border-radius: .29rem; font-size: .28rem; background: none; outline: none;}
.orginImg{position: fixed;z-index: 1000;top: 50%;left: 50%;transform: translate(-50%, -50%);visibility: hidden;width: 5.98rem;opacity: 0;transition-duration: 400ms;}

.riskSta .alter-box{ width: 1.8rem; padding:0 .12rem; border:1px solid #e8e8e8; border-radius: .1rem; box-shadow: 0 5px 10px #eaeaea; background: #fff; position: absolute; left: 1.7rem; top: 1rem; color: #333; z-index: 1111;}
.riskSta .alter-box .write{ overflow: hidden; font-size: .22rem; display: flex;}
.riskSta .alter-box .write div{ flex: 1; border-bottom: 1px solid #a6a6a6; height: .35rem; }
.riskSta .alter-box .write div input{ width: 100%;}
.riskSta .alter-box .confirm{ width: .6rem; height: .3rem; line-height: .3rem; text-align: center; color: #fff; font-size: .22rem; border-radius: .05rem; margin: .1rem auto; background: #31e6de;}


.jysp{ padding: .3rem .6rem; width: 100%; display: -webkit-flex; display: flex;-webkit-justify-content: space-between; justify-content: space-between; z-index: 111;}
.jysp p{display: block; width: 2.8rem; height: 1.2rem; text-align: center; border-radius: .12rem; background:linear-gradient(180deg,rgba(117,176,247,1) 0%,rgba(76,153,243,1) 100%); box-shadow:0px 4px 12px -4px rgba(155,155,155,1);}
.jysp p i{ display: inline-block; vertical-align: top; width: .64rem; height: 1.2rem; background: url(../img/kh130/jianyi.png) no-repeat center; background-size:.6rem .64rem; margin-right: .4rem;}
.jysp p:nth-of-type(2){background:linear-gradient(180deg,rgba(185,222,120,1) 0%,rgba(108,185,78,1) 100%);}
.jysp p:nth-of-type(2) i{ background: url(../img/kh130/shipu.png) no-repeat center; background-size:.6rem .6rem;}
.jysp p span{ display: inline-block; vertical-align: top; padding: .2rem 0; font-size: .32rem; line-height: .4rem; color: #ffffff;}
/*-*/
.kh-second-head{min-height: 2.88rem; padding: .2rem .3rem 0; background: url(../img/kh130/bj.png) no-repeat bottom; background-size:100%;}
.kh-second-head .bac{ height: .66rem;}
.kh-second-head .bac .b-arr{ width: .6rem; height: .66rem; background: url(../img/arr-b.png) no-repeat center left; background-size: .18rem .34rem;}
.kh-second-head .tit{ line-height: .88rem; color: #ffffff; font-size: .48rem; font-weight: 600;}

.kh-seconditem{margin:.3rem .3rem .3rem; background: #ffffff; box-shadow:0px 0px 12px -4px #9B9B9B; border-radius: .2rem;}
.kh-seconditem .ctt{ height: 1rem; line-height: 1rem; padding: 0 .4rem; font-size: .32rem; font-weight: bold;}
.kh-seconditem .ctt i{display: inline-block; vertical-align: top; margin-right: .2rem; width: .36rem; height: 1rem; background: url(../img/kh130/zhengzhuang.png) no-repeat center; background-size:.36rem .44rem ;}
.kh-seconditem .ctt i.ckt{background: url(../img/kh130/chuangketie.png) no-repeat center; background-size:.36rem .36rem;}
.kh-seconditem ul{font-size: .32rem;}
.kh-seconditem ul li{ padding: 0 .4rem; height: 1rem; line-height: 1rem; border-bottom: solid #F4F4F4 .02rem;}
.kh-seconditem ul li .lab{ color: #4A4A4A; }
.kh-seconditem ul li .lev{ color: #2CBCB4; font-weight: 600;}
.kh-seconditem ul li.mid .lev{ color: #F2843A; font-weight: 600;}
.kh-seconditem ul li.lit .lev{ color: #F2B850; font-weight: 600;}
.kh-seconditem ul li .arr{height: 1rem; width: .5rem; background: url(../img/arr-rs.png) no-repeat center right; background-size:.15rem .3rem;}
.kh-seconditem .symptom{ padding: 0 0 .3rem; text-align: center;}
.kh-seconditem .symptom span{ display: inline-block; margin: .16rem; padding: 0 .16rem; height: .48rem; line-height: .48rem; border: #428FE8 solid .01rem; border-radius: .24rem; font-size: .28rem; color: #428FE8;}

.tirBtit{height: .88rem; line-height: .88rem; text-align: center; font-size: .32rem; font-weight: bold; background:rgba(247,250,255,1);}
.tirBtit i{ display: inline-block; width: .2rem; margin: 0 .12rem; height: .2rem; background:rgba(66,143,232,1); border-radius: 50%;}

.kh-third-sta{margin: .2rem .3rem; padding: .2rem; background: #ffffff; color: #333333; box-shadow:0px 0px 12px -4px rgba(155,155,155,1); border-radius: .2rem;}

.thrsta{ padding: .4rem .2rem 0; font-size: 0; text-align: center; color: #ffffff; position: relative;}
.thrsta span{ height: .38rem; line-height: .38rem; width: 33.3%; display: inline-block; vertical-align: top; font-size:.24rem; font-weight: 600;}
.thrsta span:nth-of-type(1){ background: #23D1A2;}
.thrsta span:nth-of-type(2){ background: #FFC255;}
.thrsta span:nth-of-type(3){ background: #FF8C3E;}
.thrsta i{width: .36rem; height: .24rem; position: absolute; left: 60%; bottom: -.24rem; background: url(../img/kh130/jiao2.png) no-repeat; background-size:.36rem .24rem;}
.thrsul{ padding: .5rem .2rem .2rem; font-size: .32rem;}
.thrsul span{color: #E2001B;}
.thrsul span.zc{color: green;}

.kh-third-sta .dtxt{ font-size: .28rem; line-height: .56rem;}
.kh-third-sta .dtit{ line-height: .44rem; font-size: .32rem; font-weight: 600; margin-top: .1rem;}

.kh-third-sta .tcc{padding: .2rem 0;}
.kh-third-sta .tcc .cc_t{ display: flex; display: -webkit-flex; padding: .5rem 0 0;}
.kh-third-sta .tcc .cc_t .star{ display: block; margin: 0 .06rem 0 0; width: .2rem; height: .2rem; background: #FEDC56; border-radius: 50%;}
.kh-third-sta .tcc .cc_t .prc{ display: block; height: .2rem; font-size: 0;}
.kh-third-sta .tcc .cc_t .prc span{ display: inline-block; height: .12rem; border-radius: .06rem; font-size: .3rem; text-align: center;}
.kh-third-sta .tcc .cc_t .prc span em{line-height: .4rem; position: relative; top: .18rem; font-size: .24rem;}
.kh-third-sta .tcc .cc_t .prc i{ display: inline-block; vertical-align: top; margin: -.06rem 0 0 .06rem; width: .2rem; height: .2rem; border-radius: 50%;}

.kh-third-sta .tcc .cc_t .slow{ -webkit-flex: 3; padding: .04rem 0 0; }
.kh-third-sta .tcc .cc_t .slow span{ width:83%; background:linear-gradient(90deg,rgba(255,227,142,1) 0%,rgba(255,194,85,1) 100%);}
.kh-third-sta .tcc .cc_t .slow i{ background: #FFC255;}

.kh-third-sta .tcc .cc_t .normal{ -webkit-flex: 4; padding: .04rem 0 0 .08rem;}
.kh-third-sta .tcc .cc_t .normal span{ width: 86%; background:linear-gradient(90deg,rgba(74,236,147,1) 0%,rgba(4,203,177,1) 100%);}
.kh-third-sta .tcc .cc_t .normal i{ background: #23D1A2;}

.kh-third-sta .tcc .cc_t .fast{ -webkit-flex: 4; padding: .04rem 0 0 .08rem;}
.kh-third-sta .tcc .cc_t .fast span{ width: 86%; background:linear-gradient(90deg,rgba(255,194,85,1) 0%,rgba(255,140,62,1) 100%);}
.kh-third-sta .tcc .cc_t .fast i{ background: #FF8C3E;}

.kh-third-sta .tcc .cc_p{ font-size: 0; position: relative;}
.kh-third-sta .tcc .cc_p span{ display: inline-block; text-align: right; font-size: .24rem;}
.kh-third-sta .tcc .cc_p span:nth-of-type(1){text-align: center; width: 5%;}
.kh-third-sta .tcc .cc_p span:nth-of-type(2){ width: 25%;}
.kh-third-sta .tcc .cc_p span:nth-of-type(3){ width: 36%;}
.kh-third-sta .tcc .cc_p span:nth-of-type(4){ width: 34%;}
.kh-third-sta .tcc .cc_p .pro{ position: absolute; left: 0; top: 0; width: 50%; height: .24rem;}
.kh-third-sta .tcc .cc_p .pro i{width: .24rem; height: .24rem; background: url(../img/kh130/jiao2.png) no-repeat; background-size: contain; transform: rotate(180deg); position: relative;top: -.48rem;}

.kh-third-sta .dlit{ line-height: .8rem; margin: .2rem 0;}
.kh-third-sta .dlit i{ display: inline-block; width: .28rem; .28rem; margin-right: .1rem;}

.kh-third-sta .wxh-g{padding: .2rem 0; overflow: hidden;}
.kh-third-sta .wxh-g .d-left{ width: 1rem; height: 1rem; margin-right: .26rem;}
.kh-third-sta .wxh-g .d-right{ padding: .06rem 0; line-height: .44rem;}
.kh-third-sta .wxh-g .d-right .p1{}
.kh-third-sta .wxh-g .d-right .p1 span{ color: #E63A4F;}
.kh-third-sta .wxh-g .d-right .p2{ color: #E63A4F; font-weight: 400;}

.dfit{ margin-left: -.2rem; color: #4A4A4A;}
.dfit span{ display: inline-block; height: .44rem; line-height: .44rem; padding: 0 .28rem; text-align: center; background: #9CC4F3; border-radius: 0 .22rem .22rem 0;}

.advice .head{background:linear-gradient(180deg,#58a0f5 0%,#368cf0 100%);color:#fff;padding-bottom:.22rem;border-top:1px solid #58a0f5}
.advice .head > a{display:block;width:.18rem;height:.32rem;background:url(../img/kh130/back.png) no-repeat center;background-size:.18rem .32rem;margin-top:.06rem;margin-left:.34rem}
.advice .head > h1{font-size:.48rem;height:.66rem;line-height:.66rem;margin-left:.3rem;margin-top:.22rem;font-weight:600}
.advice .body{padding:.34rem .3rem .52rem .3rem}
.advice .body > div{margin-bottom:.4rem}
.advice .body > div > h2{font-weight:600;color:#428FE8;font-size:.36rem;height:.5rem;line-height:.5rem;margin-bottom:.24rem}
.advice .body > div > h2 > span{display:inline-block;vertical-align:text-top;width:.42rem;height:.36rem;background:url(../img/kh130/food.png) no-repeat center;background-size:.42rem .36rem;position:relative;top:.03rem;margin-left:.1rem;margin-right:.2rem}
.advice .body > div > .center{padding:.18rem .28rem .16rem .28rem;box-shadow:0 0 0.12rem -0.04rem #9b9b9b;border-radius:.2rem}
.advice .body > div > .center > .tab_list{padding:0 .06rem;font-size:.32rem;}
.advice .body > div > .center > .tab_list em{position:absolute;top:.47rem;left:50%; margin-left: -.18rem; width:.36rem;height:.08rem;background:#428fe8;border-radius:.06rem}
.advice .body > div > .center > .tab_list > span{display:inline-block;color:#4A4A4A;font-weight:400;height:.44rem;line-height:.44rem;margin-right:.28rem;margin-bottom:.34rem;position: relative;}
.advice .body > div > .center > .tab_list .dataactive{color:#428FE8;font-weight:600;height:.44rem;line-height:.44rem}
.advice .body > div > .center > .tab_box > div{color:#333333; font-size:.28rem; line-height:.56rem;}
.advice .body > div > .center > .tab_box .showadctive{display:block}
.advice .body > div > .center > p{position:relative;color:#333333;font-size:.28rem;line-height:.56rem;margin-left:.32rem}
.advice .body > div > .center > p > i{display:inline-block;width:.12rem;height:.12rem;background:#428FE8;border-radius:50%;position:absolute;top:.22rem;left:-0.3rem}
.advice .body > .box2 > h2 > span{width:.42rem;height:.42rem;background:url(../img/kh130/huluobo.png) no-repeat center;background-size:.42rem .42rem}
.advice .body > .box3 > h2 > span{width:.42rem;height:.42rem;background:url(../img/kh130/move.png) no-repeat center;background-size:.42rem .42rem}

.kefu{display: block; margin: .3rem .6rem; height: .88rem; box-shadow:0px 0px 12px -4px rgba(155,155,155,1); background: #ffffff; border-radius:.12rem; text-align: center;}
.kefu i{display: inline-block; vertical-align: top; width: .6rem; height: .88rem; background: url(../img/kh130/kefu.png) no-repeat center; background-size:.6rem .56rem; margin-right: .34rem;}
.kefu span{ font-size: .28rem; line-height: .88rem;}

/*new kanghao 154*/
.nkh_top{width: 100%; min-height: 5.72rem; background: url(../img/154/bj1.png) no-repeat top center; background-size: 100% 5.72rem; margin-bottom: .15rem;}
.nkh_top .topcon{display: flex; display: -webkit-flex; padding: 0 .2rem; color: #ffffff;}
.nkh_top .topcon .cn-left{ padding: .4rem 0; line-height: .4rem; font-size: .3rem;}
.nkh_top .topcon .cn-center{ flex: 1; -webkit-flex: 1;}
.nkh_top .topcon .cn-right{padding: .31rem 0;}
.nkh_top .dengji{margin: 4rem auto 0; width: 6.9rem; height: 1.9rem; background: url(../img/154/bj-n.png); background-size: 100% 1.9rem; padding: .3rem;}
.nkh_top .dengji .status{ text-align: center; height: .6rem;line-height: .6rem; position: relative;}
.nkh_top .dengji .status .lab{display: inline-block; color: #FF8A05; font-size: .32rem; font-weight: 600;}
.nkh_top .dengji .status em{ display: inline-block; vertical-align: top; margin: .16rem .18rem .16rem 0; width: .3rem; height: .28rem; background: url(../img/154/star2.png); background-size: .3rem .28rem;}
.nkh_top .dengji .status .zt1 em.on{background: url(../img/154/star01.png); background-size: .3rem .28rem;}
.nkh_top .dengji .status .zt2 em.on{background: url(../img/154/star02.png); background-size: .3rem .28rem;}
.nkh_top .dengji .status .zt3 em.on{background: url(../img/154/star03.png); background-size: .3rem .28rem;}
.nkh_top .dengji .status .zt4 em.on{background: url(../img/154/star04.png); background-size: .3rem .28rem;}
.nkh_top .dengji .status .zt5 em.on{background: url(../img/154/star05.png); background-size: .3rem .28rem;}

.nkh_top .dengji .status i.pop{width: .6rem; height: .6rem; background: url(../img/154/pop.png) no-repeat center; background-size:.26rem .26rem; position: absolute; right: 0; top: 0;}
.nkh_top .dengji .tip{text-align: center; padding: .2rem 0 0;}
.nkh_top .dengji .tip p{display: inline-block; padding: 0 .3rem; line-height: .34rem; background: #EFF4F8; color: #6298D6; border-radius: .25rem;}
.nkh_userInf{ width: 100%; padding: .35rem .4rem; min-height: 5.48rem; background: url(../img/154/bj2.png); background-size:100% 100%}
.nkh_userInf .inf{display: flex;display: -webkit-flex; border-bottom: #F6F7F9 solid .02rem;}
.nkh_userInf .inf .inf_l{ flex: 1; -webkit-flex: 1; padding: .3rem 0 .3rem .2rem;}
.nkh_userInf .inf .inf_l .pe{ height: .8rem; margin-bottom: .2rem;}
.nkh_userInf .inf .inf_l .pe .ac{display: inline-block; margin-right: .16rem; vertical-align: top;}
.nkh_userInf .inf .inf_l .pe .ac img{width: .75rem; height: .75rem; border-radius: 50%;}
.nkh_userInf .inf .inf_l .pe .nam{display: inline-block; vertical-align: top; line-height: .75rem; font-size: .36rem; font-weight: 600;}
.nkh_userInf .inf .inf_l .tx{ font-size: .28rem; line-height: .4rem;}
.nkh_userInf .inf .inf_r{width: 2.7rem;}
.nkh_userInf .inf .inf_r .circles{ padding: .1rem 0 0;}
.nkh_userInf .inf .inf_r .circles .circleScore{ position: relative; width: 2.2rem; height: 2.2rem; margin: 0 auto;}
.nkh_userInf .inf .inf_r .circles .circleScore .po{position: absolute; width: 1.63rem; height: 1.63rem; text-align: center; background: #EFF4F8; top: .285rem; left: .285rem; border-radius: 50%; padding-top: .3rem;}
.nkh_userInf .inf .inf_r .circles .circleScore .po .sco{ font-size: .52rem; font-weight: 600; line-height: .73rem;}
.nkh_userInf .inf .inf_r .circles .circleScore .po .la{color: #666666; font-size: .26rem;}

.nkh_userInf .more{ font-size: .3rem; line-height: .5rem; padding: .4rem 0;}
.nkh_userInf .more a{color: #306FB7;}
.nkh_box{width: 7.1rem; margin: 0 auto .3rem; min-height: 2rem; background: #ffffff; border-radius: .2rem; box-shadow: 0 .05rem .2rem 0 #EAEAEA; overflow: hidden; padding: 0 0 .3rem;}
.nkh_box .btt{height: .8rem; line-height: .8rem; text-align: center; background: linear-gradient(180deg, rgba(38,113,199,0.5) 0%, rgba(78, 170, 229, 0) 100%); font-size: .36rem; font-weight: 600;}
.nkh_box .xxg-sta{display: flex; display: -webkit-flex; margin: 0 .22rem .2rem; border-bottom: #F6F7F9 solid .02rem;}
.nkh_box .xxg-sta .sta-lab{ flex: 1; -webkit-flex: 1; font-size: .36rem; font-weight: 500; line-height: 1rem; padding: .2rem 0;}
.nkh_box .xxg-sta .sta-lab span{ color: #FF8800;}
.nkh_box .xxg-sta .sta-r{ color: #FF8800; line-height: 1rem; padding: .2rem 0; font-size: .72rem; font-weight: 600;}
.nkh_box .xxg-sta .sta-r font{ font-size: .36rem;}
.nkh_box .tt02{ line-height: .45rem; padding: .22rem;}
.nkh_box .tt02 i{background: #2671C7; width: .06rem; height: .29rem; border-radius: .03rem; display: inline-block; vertical-align: top; margin: .08rem .08rem .08rem 0;}
.nkh_box .tt02 span{ font-size: .32rem; font-weight: 500; color: #4A4A4A;}

.nkh_box .tcc{padding: .2rem 0;}
.nkh_box .tcc .cc_t{ display: flex; display: -webkit-flex; padding: .5rem 0 0;}
.nkh_box .tcc .cc_t .star{ display: block; margin: 0 .06rem 0 0; width: .2rem; height: .2rem; background: #FEDC56; border-radius: 50%;}
.nkh_box .tcc .cc_t .prc{ display: block; height: .2rem; font-size: 0;}
.nkh_box .tcc .cc_t .prc span{ display: inline-block; height: .12rem; border-radius: .06rem; font-size: .3rem; text-align: center;}
.nkh_box .tcc .cc_t .prc span em{line-height: .4rem; position: relative; top: .18rem; font-size: .24rem;}
.nkh_box .tcc .cc_t .prc i{ display: inline-block; vertical-align: top; margin: -.06rem 0 0 .06rem; width: .2rem; height: .2rem; border-radius: 50%;}

.nkh_box .tcc .cc_t .slow{ -webkit-flex: 3; padding: .04rem 0 0; }
.nkh_box .tcc .cc_t .slow span{ width:83%; background:linear-gradient(90deg,rgba(255,227,142,1) 0%,rgba(255,194,85,1) 100%);}
.nkh_box .tcc .cc_t .slow i{ background: #FFC255;}

.nkh_box .tcc .cc_t .normal{ -webkit-flex: 4; padding: .04rem 0 0 .08rem;}
.nkh_box .tcc .cc_t .normal span{ width: 86%; background:linear-gradient(90deg,rgba(74,236,147,1) 0%,rgba(4,203,177,1) 100%);}
.nkh_box .tcc .cc_t .normal i{ background: #23D1A2;}

.nkh_box .tcc .cc_t .fast{ -webkit-flex: 4; padding: .04rem 0 0 .08rem;}
.nkh_box .tcc .cc_t .fast span{ width: 86%; background:linear-gradient(90deg,rgba(255,194,85,1) 0%,rgba(255,140,62,1) 100%);}
.nkh_box .tcc .cc_t .fast i{ background: #FF8C3E;}

.nkh_box .tcc .cc_p{ font-size: 0; position: relative;}
.nkh_box .tcc .cc_p span{ display: inline-block; text-align: right; font-size: .24rem;}
.nkh_box .tcc .cc_p span:nth-of-type(1){text-align: center; width: 5%;}
.nkh_box .tcc .cc_p span:nth-of-type(2){ width: 25%;}
.nkh_box .tcc .cc_p span:nth-of-type(3){ width: 36%;}
.nkh_box .tcc .cc_p span:nth-of-type(4){ width: 34%;}
.nkh_box .tcc .cc_p .pro{ position: absolute; left: 0; top: 0; width: 50%; height: .24rem;}
.nkh_box .tcc .cc_p .pro i{width: .24rem; height: .24rem; background: url(../img/kh130/jiao2.png) no-repeat; background-size: contain; transform: rotate(180deg); position: relative;top: -.48rem;}

.nkh_box .jindu{margin:0 .22rem .22rem; border-bottom: #F6F7F9 solid 0.02rem;}
.nkh_box .chart{width: 6.5rem; margin: 0 auto; height: 1.61rem;background: #fcfdfe url(../img/154/xdt2.png) no-repeat; background-size: 100% 100%; /* border-radius: .08rem; border: .02rem solid #d6e3f1; */}
.nkh_box .tip01{padding: .3rem 0; line-height: .4rem; font-size: .28rem; text-align: center;}
.nkh_box .tip01 img{ display: inline-block; vertical-align: top; margin-top: .06rem; width: .32rem; height: .28rem; margin-right: .15rem;}
.nkh_box .btt2{}
.nkh_box .btt2 p{background: #2671C7; line-height: .48rem; padding: 0 .3rem; color: #FFFFFF; font-size: .28rem; font-weight: 500; border-radius: 0 .24rem .24rem 0; display: inline-block;}
.nkh_box .txt01{ padding: .22rem; line-height: .42rem; font-size: .28rem;}
.nkh_box .xxzs{margin: 0 .22rem; padding: 0 0 .3rem; border-bottom: #F6F7F9 solid 0.02rem;}
.nkh_box .xxzs .xx-cn{display: flex; display: -webkit-flex; justify-content: space-between;-webkit-justify-content: space-between; padding: 0 .67rem;}
.nkh_box .xxzs .xx-cn .cnitem{width: 2.2rem; height: 4.15rem;box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28);
border-radius: .18rem; text-align: center; padding:0 .2rem;}
.nkh_box .xxzs .xx-cn .cnitem .pic{padding: .2rem 0 .2rem;}
.nkh_box .xxzs .xx-cn .cnitem .pic img{width: 1.28rem; height: 1.28rem;}
.nkh_box .xxzs .xx-cn .cnitem .nam{ font-size: .28rem; margin-bottom: .25rem;}
.nkh_box .xxzs .xx-cn .cnitem .p1{ font-size: .28rem; color: #306FB7; font-weight: 600; margin-bottom: .1rem;}
.nkh_box .xxzs .xx-cn .cnitem .p2{ font-size: .24rem; line-height: .42rem;}
.nkh_box .xxzs .xx-do{ font-size: 0; padding: .4rem 0 0;}
.nkh_box .xxzs .xx-do .doitem{display: inline-block; width: 33.3%; margin-bottom: .3rem;}
.nkh_box .xxzs .xx-do .doitem .circle{text-align: center;}
.nkh_box .xxzs .xx-do .doitem .circle .circleItem{width: 1.9rem; height: 1.9rem; margin: 0 auto; position: relative;}
.nkh_box .xxzs .xx-do .doitem .circle .circleItem .con{ position: absolute; width: 100%; top: 0; left: 0; padding: .4rem 0 0;}
.nkh_box .xxzs .xx-do .doitem .circle .circleItem .con .pic{width: .55rem; height: .55rem; margin: 0 auto;}
.nkh_box .xxzs .xx-do .doitem .circle .circleItem .con .fen{ font-size: .36rem; line-height: .4rem; font-weight: 600;}
.nkh_box .xxzs .xx-do .doitem .circle .name{ font-size: .24rem; font-weight: 500; line-height: .46rem;}

.nkh_box .mylbids{ margin: 0 .22rem;}
.nkh_box .mylbids .biditem{height: .85rem; line-height: .85rem; padding: 0 .3rem;}
.nkh_box .mylbids .biditem:nth-child(odd){background: linear-gradient(180deg, #F7FCFF 0%, #E9F6FF 100%);}
.nkh_box .mylbids .biditem .icon{display: inline-block; vertical-align: top; width: .6rem; height: .85rem; padding: .125rem 0; margin-right: .7rem;}
.nkh_box .mylbids .biditem .icon img{width: .6rem; height: .6rem;}
.nkh_box .mylbids .biditem .lab{ font-size: .3rem; font-weight: 500;}
.nkh_box .mylbids .biditem .sta{ font-size: .3rem; font-weight: 500;}
.nkh_box .mylexp{margin: .3rem .22rem; padding: 0 .2rem; height: .5rem;background: linear-gradient(180deg, #F7FCFF 0%, #E9F6FF 100%); border-radius: .36rem;}
.nkh_box .mylexp .lab{display: inline-block; vertical-align: top; line-height: .5rem; font-size: .24rem; margin-right: .2rem;}
.nkh_box .mylexp .exp{ display: inline-block; vertical-align: top; height: .5rem; }
.nkh_box .mylexp .exp span{ line-height: .5rem; color: #306FB7; font-weight: 500;}
.nkh_box .mylexp .exp .pop{display: inline-block; vertical-align: top;  width: .5rem; height: .5rem; background: url(../img/154/pop.png) no-repeat center; background-size: .26rem .26rem; margin-left: .2rem;}
.nkh_box .mylexp .exp em{ color: #BFC1CA; margin: 0 .2rem;}
.nkh_box .mylxglist{ font-size: 0; padding-top: .2rem;}
.nkh_box .mylxglist .xgitem{display: inline-block; vertical-align: top; width: 3.1rem; height: .6rem; margin: 0 .2rem .2rem; min-height: .6rem; background: #FEFEFF; box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28); border-radius: .3rem;line-height: .6rem; padding: 0 .2rem;}
.nkh_box .mylxglist .xgitem .lab{ font-size: .28rem; font-weight: 400;}
.nkh_box .mylxglist .xgitem .sta{ font-size: .3rem; font-weight: 500;}
.nkh_box .tip02{ font-size: .3rem; font-weight: 600; line-height: .42rem; text-align: center; padding: .3rem 0 0;}

.nkh_box .fei_bids{ font-size: 0; padding: 0 .22rem .3rem; position: relative;}
.nkh_box .fei_bids .bitem{display: inline-block; width: 2.7rem; height: 1.37rem;background: #FFFFFF; box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28); margin-bottom: .41rem; padding: .2rem 0rem .2rem .2rem; border-radius: .12rem;}
.nkh_box .fei_bids .bitem:nth-child(odd){margin-right: 1.2rem;}
.nkh_box .fei_bids .bitem .pic{display: inline-block; vertical-align: top; padding: .18rem 0 0;width: .6rem;}
.nkh_box .fei_bids .bitem .pic img{width: .6rem; height: .6rem;}
.nkh_box .fei_bids .bitem .inf{ display: inline-block; vertical-align: top; width: 1.8rem; margin-left: .1rem; overflow: hidden;}
.nkh_box .fei_bids .bitem .inf .lab{font-size: .28rem; line-height: .46rem;}
.nkh_box .fei_bids .bitem .inf .sta{color: #306FB7; font-size: .28rem; line-height: .46rem;}

.nkh_box .fei_bids .sitem{width: 100%; height: 1.24rem; padding: .2rem .22rem; font-size: 0;
box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28); border-radius: .08rem;}
.nkh_box .fei_bids .sitem .pic{display: inline-block; vertical-align: top; padding:.12rem 0; width: .6rem;}
.nkh_box .fei_bids .sitem .pic img{width: .6rem; height: .6rem; display: block;}
.nkh_box .fei_bids .sitem .inf{ display: inline-block; vertical-align: top; font-size: .28rem; margin-left: .1rem;}
.nkh_box .fei_bids .sitem .inf .lab{ font-size: .28rem; line-height: .42rem;}
.nkh_box .fei_bids .sitem .inf .sta{ font-size: .28rem; color: #306FB7; line-height: .42rem;}
.nkh_box .fei_bids .sitem .fen{ line-height: .42rem;}
.nkh_box .fei_bids .sitem .fen .up{ font-size: .36rem; color: #2671C7; text-align: center;}
.nkh_box .fei_bids .sitem .fen .fw{ font-size: .3rem; color: #666666;}
.nkh_box .renticon{font-size: 0; padding: .22rem; display: flex; display: -webkit-flex;}
.nkh_box .renticon .renti{ width: 2.95rem; position: relative;}
.nkh_box .renticon .renti .ycx{}
.nkh_box .renticon .renti .ycx .nao{ width: .6rem; position: absolute; top: .09rem; left: 1.17rem;}
.nkh_box .renticon .renti .ycx .fei{ width: 1rem; position: absolute; top: 1.12rem; left: .95rem;}
.nkh_box .renticon .renti .ycx .wei{ width: .72rem; position: absolute; top: 2.13rem; left: 1.1rem;}
.nkh_box .renticon .renti .ycx .guge{ width: .38rem; position: absolute; top: 4.7rem; left: 1.67rem;}
.nkh_box .renticon .renti .ycx.woman .guge{ width: .38rem; position: absolute; top: 4.7rem; left: 1.55rem;}


.nkh_box .renticon .con{ flex: 1; -webkit-flex: 1; padding: 0 0 0 .1rem;}
.nkh_box .renticon .con .citem{height: .68rem; margin-bottom: .2rem;background: #FFFFFF; box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28); border-radius: .44rem; padding: 0 .2rem;  font-size: .28rem;}
.nkh_box .renticon .con .citem i{ display: inline-block; vertical-align: top; height: .68rem; width: .36rem; position: relative;}
.nkh_box .renticon .con .citem i img{width: .36rem; position: absolute; top: 50%; transform: translateY(-50%);}
.nkh_box .renticon .con .citem .nam{ margin-left: .2rem; line-height: .68rem;}
.nkh_box .renticon .con .citem .sta{ float: right; line-height: .68rem; color: #306FB7;}


.nkh_box .ycxCon{ margin: .6rem .22rem;padding: .01rem .4rem .2rem; background: #FFFFFF; box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28); border-radius: .2rem;}
.nkh_box .ycxCon .ttn{margin: -.46rem auto 0; width: 2.27rem; height: .93rem;}
.nkh_box .ycxCon .bidlist{}
.nkh_box .ycxCon .bidlist .bitem{height: .8rem; line-height: .8rem;  border-bottom: #E6E6E6 .01rem dashed;}
.nkh_box .ycxCon .bidlist .bitem:last-of-type{border: none;}
.nkh_box .ycxCon .bidlist .bitem .lab{display: inline-block; vertical-align: top; font-size: .26rem;}
.nkh_box .ycxCon .bidlist .bitem .fen{float: right; font-size: .3rem; font-weight: 600; color: #F10000;}
.nkh_box .ycxCon .bidlist .bitem .co{ display: inline-block; width: .2rem; height: .2rem; border-radius: 50%; background: #FEB4B4; padding: .05rem; margin-right: .1rem; vertical-align: top; margin-top: .3rem;}
.nkh_box .ycxCon .bidlist .bitem .co i{display: block; margin: 0 auto; width: .1rem; height: .1rem; border-radius: 50%; background: #F10000;}
.nkh_box .ycxCon .bidlist.lit .bitem .fen{ color: #FF8800;}
.nkh_box .ycxCon .bidlist.lit .bitem .co{background: #FFC5AA;}
.nkh_box .ycxCon .bidlist.lit .bitem .co i{ background: #FF8800;}

.nkh_box .zjfx{ padding: 0 .2rem;}
.nkh_box .zjfx .zj_item{ height: .84rem; margin-bottom: .2rem;}
.nkh_box .zjfx .zj_item .pro{ width: 66%;}
.nkh_box .zjfx .zj_item .pro .nam{ font-size: .28rem; line-height: .5rem;}
.nkh_box .zjfx .zj_item .pro .bb{height: .18rem; border-radius: .09rem; background: #ECF7ED;  overflow: hidden;}
.nkh_box .zjfx .zj_item .pro .dd{height: .18rem; border-radius: .09rem; background: #72B269;}
.nkh_box .zjfx .zj_item .pro .bb.lit{ background: #F8EEE1;}
.nkh_box .zjfx .zj_item .pro .bb.lit .dd{background: #E6A038;}
.nkh_box .zjfx .zj_item .pro .bb.mid{ background: #F9EDEB;}
.nkh_box .zjfx .zj_item .pro .bb.mid .dd{background: #E96B6B;}
.nkh_box .zjfx .zj_item .per{ width: 17%; padding: .42rem 0 0; font-size: .24rem; color: #9B9B9B;text-align: center; line-height: .34rem;}
.nkh_box .zjfx .zj_item .go{ width: 17%; text-align: center; padding: .36rem 0 0;}
.nkh_box .zjfx .zj_item .go button{padding: 0 .2rem; height: .43rem; line-height: .43rem; background: #FFFFFF; box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28); border-radius: .08rem; text-align: center; color: #2671C7; font-size: .26rem;}
.nkh_check{ display: flex; display: -webkit-flex; -webkit-justify-content: space-between; justify-content: space-between; padding: .1rem .27rem .3rem;}
.nkh_check .sbtn{width: 3.23rem; height: 1.13rem;}


/*loading*/
.load-overlay{ position: fixed; left: 0; top: 0; bottom: 0; right: 0; width: 100%; height: 100%; background: rgba(204,204,204,0.1); z-index: 9999; display: none;}
.load-overlay .loadimg{ width: .6rem; height: .6rem; position: absolute; top: 50%; left: 50%; margin: -.3rem 0 0 -.3rem;}
/*=*/
.v_overlay{position: fixed;left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,0.5); z-index: 999; visibility: hidden; opacity: 0; -webkit-transition-duration:400ms ;transition-duration: 400ms;}
.v_overlert{position: fixed; left:.76rem; right: .76rem; top: 50%; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); background: #fff; border-radius: .13rem; overflow: hidden; z-index: 1000; opacity: 0; visibility: hidden; transition-duration: 0; max-width: 6rem;}
.v_overlert2{position: fixed; left:.76rem; right: .76rem; top: 50%; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); background: #fff; border-radius: .13rem; overflow: hidden; z-index: 1000; opacity: 0; visibility: hidden; transition-duration: 0; max-width: 6rem;}
.tc_sy{ padding: .4rem; position: relative;}
.tc_sy .close{ position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; background: url(../img/o-close.png) no-repeat center; background-size: .22rem .23rem;}
.tc_sy .bit{ line-height: .66rem; margin-bottom: .2rem;}
.tc_sy .bit .labt{ display: inline-block; font-size: .32rem; color: #000;}
.tc_sy .bit em{ font-size: .22rem; color: #bcc1c6;}
.tc_sy .bxt{ color: #60666d; font-size: .28rem; line-height: .44rem;}
.tc_sy .bit2{margin-bottom: .2rem;}
.tc_sy .bit2 .labt{line-height: .5rem;font-size: .3rem; color: #000;}
.tc_sy .bxt2{color: #60666d; font-size: .28rem; line-height: .44rem; max-height: 7rem; overflow-y: auto; padding-bottom: .8rem;}
/*-*/


























