<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>健康建议</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<style type="text/css">
.bid-li:last-of-type .lasthiden{ display: none;}
</style>
</head>
<body>
<div class="my_view" id="appVUE">
	<header class="header">
		<a class="b-arr fl" href="javascript:history.go(-1);"></a>
		<a class="t-right fr" href="#"></a>
		<p class="t-cen txt1"><span>健康建议</span></p>
	</header>
	<section class="bid_det">
		<!--<div class="bid-li">
			<div class="li-name"><i class="ico"></i><span class="name">维生素B2</span></div>
			<p class="b-tit"><i class="don"></i><span class="lab">指标解释</span></p>
			<div class="ctxt">
				维生素B2又叫核黄素，微溶于水，在中性或酸性溶液中加热是稳定的。当缺乏时影响机体的生物氧化，使代谢发生障碍。
			</div>
			<p class="b-tit"><i class="don"></i><span class="lab">健康建议</span></p>
			<div class="advise_c">
				<p class="name-t">膳食建议</p>
				<p class="t-tip">一、多吃富含维生素B2的食物<i class=""></i></p>
				<div class="ctxt">
					维生素B2又叫核黄素，微溶于水，在中性或酸性溶液中加热是稳定的。当缺乏时影响机体的生物氧化，使代谢发生障碍。
				</div>
			</div>
			<div class="advise_c">
				<p class="name-t">运动和生活方式建议</p>
				<p class="t-tip">一、多吃富含维生素B2的食物<i class="arr fr"></i></p>
				<div class="ctxt">
					维生素B2又叫核黄素，微溶于水，在中性或酸性溶液中加热是稳定的。当缺乏时影响机体的生物氧化，使代谢发生障碍。
				</div>
			</div>
		</div>-->
		<div class="bid-li" v-for="item in bidList">
			<div class="li-name"><i class="ico"></i><span class="name">{{item.targetName}}</span></div>
			<section style="padding: 0 0 0 .2rem;">
				<p class="b-tit"><i class="don"></i><span class="lab">指标解释</span></p>
				<div class="ctxt">
					{{item.explain}}
				</div>
				<p class="b-tit"><i class="don"></i><span class="lab">健康建议</span></p>
				
				<p class="name-t">膳食建议</p>
				<div class="advise_c" v-for="(ssjy,index) in item.healthAdviceVo.dietList">
					<p class="t-tip" @click="showPop($event,ssjy)">{{options[index]}}、{{ssjy.indexName}}<i class="arr fr"></i></p>
					<div :class="'showHide h'+ssjy.indexTypeId" style="display: none;">
						<div class="ctxt">{{ssjy.personality}}</div>
						<div class="ctxt" v-html="ssjy.proposal"></div>
					</div>
				</div>
				
				<p class="name-t" v-if="item.healthAdviceVo.motionList && item.healthAdviceVo.motionList.length > 0">营养素建议</p>
				<div class="advise_c" v-for="(yyjy,index) in item.healthAdviceVo.motionList">
					<div class="ctxt">{{index+1}}、{{yyjy.personality}}<br>{{yyjy.simpleDescription}}</div>
				</div>
				
				<p class="name-t" v-if="item.healthAdviceVo.nutritionList && item.healthAdviceVo.nutritionList.length > 0">运动和生活方式建议</p>
				<div class="advise_c" v-for="(ydsh,index) in item.healthAdviceVo.nutritionList">
					<div class="ctxt">{{index+1}}、{{ydsh.personality}}</div>
					<div class="ctxt" v-html="ydsh.simpleDescription"></div>
				</div>
			</section>
				
			<p class="lasthiden" style="margin: .5rem 0 0; height: .3rem; background: #e2e2e2; border-radius: .15rem;"></p>
		</div>
	</section>
	
	
</div>


<div class="load-overlay"><p class="loadimg"><img src="img/loading.gif"></p></div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>
$('.my_view').css("display","none");
$('.load-overlay').css("display","block");
//获取url参数
function getQueryString(name) {
    var result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
    if (result == null || result.length < 1) {
        return "";
    }
    return result[1];
}
var reportId=getQueryString("reportId");
var targetId=getQueryString("targetId");
var myApp = new Vue({
	el: '#appVUE',
	data: {
		bidList:'',
		options:['一','二','三','四','五','六','七','八','九','十','十一','十二','十三','十四','十五','十五','十六']
	},
	methods:{
		getTargetDetails: function(){
			var vm = this;
			$.ajax({
				url: dataUrl + '/api/v3/reportIndex/getTargetDetails',
				type: 'post',
				dataType: 'json',
				data:{
					reportId: reportId,
					targetId: targetId
					//reportId: 'KJ104IS0014964C19011518124928212',
					//targetId: 1008
					
				},
				success: function(res){
					if(res.code == 200){
						$('.my_view').css("display","block");
						$('.load-overlay').css("display","none");
						
						for(var i=0; i<res.data.length; i++){
							var dietList = res.data[i].healthAdviceVo.dietList
							var motionList = res.data[i].healthAdviceVo.motionList
							var nutritionList = res.data[i].healthAdviceVo.nutritionList
							for(var j=0; j<dietList.length;j++){
								dietList[j].proposal = dietList[j].proposal.replace(/\n/g,'<br/>')
							}
							/*for(var h=0; h<dietList.length;h++){
								dietList[h].proposal = dietList[h].proposal.replace(/\n/g,'<br/>')
							}
							for(var k=0; k<dietList.length;k++){
								dietList[k].proposal = dietList[k].proposal.replace(/\n/g,'<br/>')
							}*/
						}
						vm.bidList = res.data
						
					}
					
				},
				error: function(){alert('getTargetDetails error')}
			});
		},
		showPop: function(e,item){ //展示收缩
			if($('.h'+item.indexTypeId).css("display")=="block"){
				$('.showHide').css("display","none");
			}else{
				$('.h'+item.indexTypeId).css("display","block")
			}		
		},
	},
	mounted: function(){
		this.getTargetDetails()
	}
});
</script>
</body>
</html>
