<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>我的优惠券</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body style="background: #f2f2f2;">

<section class="my_view" style="display: none;">
<div class="coupons" id="appVue">
	<p class="ctab">
		<span class="on"><font>未使用</font></span><span><font>已使用</font></span><span><font>已过期</font></span>
	</p>
	<div id="userState1" class="clist">
		<a class="cli" v-for="coupon in coupons" :href="coupon.voucherId|goCouponHref">
			<input type="hidden" :value="coupon.useStatus">
			<div class="coupon_dd">
				<div class="dd-t">
					<div class="t-l fl"><span>￥<font>{{coupon.discountNum}}</font></span></div>
					<div class="t-r fr"><p class="p1">健康报告优惠券</p><p class="p2">仅限指定时间内使用</p></div>
				</div>
				<div class="dd-b">
					<p class="tb"><img src="img/coupon/ge.png" class="img_b"></p>
					<p class="txc">有效期：{{coupon.startDate.slice(0,10)}} 至 {{coupon.endDate.slice(0,10)}}</p>
				</div>
				<span class="bid">使用规则</span>
			</div>
		</a>
	</div>
	<ul id="userState2" class="clist" style="display: none;">
		<div class="cli used" v-for="coupon in coupons">
			<input type="hidden" :value="coupon.useStatus">
			<div class="coupon_dd">
				<div class="dd-t">
					<div class="t-l fl"><span>￥<font>{{coupon.discountNum}}</font></span></div>
					<div class="t-r fr"><p class="p1">健康报告优惠券</p><p class="p2">仅限指定时间内使用</p></div>
				</div>
				<div class="dd-b">
					<p class="tb"><img src="img/coupon/ge.png" class="img_b"></p>
					<p class="txc">有效期：{{coupon.startDate.slice(0,10)}} 至 {{coupon.endDate.slice(0,10)}}</p>
				</div>
				<span class="bid">已使用</span>
			</div>
		</div>
	</ul>
	<ul id="userState3" class="clist" style="display: none;">
		<div class="cli overdue" v-for="coupon in coupons">
			<input type="hidden" :value="coupon.useStatus">
			<div class="coupon_dd">
				<div class="dd-t">
					<div class="t-l fl"><span>￥<font>{{coupon.discountNum}}</font></span></div>
					<div class="t-r fr"><p class="p1">健康报告优惠券</p><p class="p2">仅限指定时间内使用</p></div>
				</div>
				<div class="dd-b">
					<p class="tb"><img src="img/coupon/ge.png" class="img_b"></p>
					<p class="txc">有效期：{{coupon.startDate.slice(0,10)}} 至 {{coupon.endDate.slice(0,10)}}</p>
				</div>
				<span class="bid">已过期</span>
			</div>
		</div>
	</ul>
	
	
	
</div>	
</section>


<div class="load-overlay">
	<div class="loadimg"><img src="img/loading.gif"></div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>

<script>
$('.my_view').css("display","none");
$('.load-overlay').css("display","block");
//截取URL 获取
function GetQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
};
//var myuserId=GetQueryString("userId");
var customerId=GetQueryString("userId");
var code=GetQueryString("code");
if(code == 300){
	alert('调取接口失败');
}else if(code == 301){
	alert('优惠券不属于对方，无法获取优惠券');
}else if(code == 302){
	alert('获取当前用户信息失败，无法获取优惠券');
}else if(code == 303){
	alert('系统执行失败，未获取到优惠券');
}else if(code == 500){
	alert('系统异常，请联系管理员');
}else if(code == 200){
	console.log('执行成功');
};

$.ajax({
	url : couponData + "/v1/use/coupon/findCouponListByCustomerId",
	type : "post",
	dataType : 'json',
	data : {
	   	customerId : customerId
	},
	success : function(data) {
		if(data.code == 0){
			$('.my_view').css("display","block");
			$('.load-overlay').css("display","none");
			var myApp = new Vue({
				el: "#appVue",
				data: {
					coupons:data.data
				},
				filters:{
		    		goCouponHref:function(val){
		            	return 'couponDetail.html?voucherId='+val+'&customerId='+customerId;
		       		}
			  	}
			});
			$('.coupons .ctab span').on("click",function(){
				$('.coupons .clist').css("display","none");
				$('.coupons .clist').eq($(this).index()).css("display","block");
				$(this).addClass('on').siblings().removeClass('on');
			});
			//未使用
			$('#userState1 .cli').each(function(index){
				if($(this).find('input').val() == 0){
					$(this).css("display","block");
				}else{
					$(this).css("display","none");
				}
			});
			//已使用
			$('#userState2 .cli').each(function(index){
				if($(this).find('input').val() == 1){
					$(this).css("display","block");
				}else{
					$(this).css("display","none");
				}
			});
			//已过期
			$('#userState3 .cli').each(function(index){
				if($(this).find('input').val() == 3){
					$(this).css("display","block");
				}else{
					$(this).css("display","none");
				}
			});
			
		}else{
			alert('code='+ data.code + data.msg);
		}
	},
	error : function(obj,msg){
		console.log(obj+": "+msg+'post请求失败');
	}
});
</script>
</body>
</html>
