<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />
    <title>心脏功能</title>
    <link rel="stylesheet" href="./css/basic.css">
    <script>
        document.write('<link rel="stylesheet" href="css/skin.css?t='+new Date().getTime()+'">')
    </script>
    <!-- <link rel="stylesheet" href="./css/skin.css"> -->
</head>
<body class="fiveone body_heart">
        <div class="loadmore loading"></div>
   <div id="app_501">
        <div class="header_heart">
                <h1>心脏功能</h1>
                <span class="go_black" @click="goHistory()"></span>
            </div>
            <div class="num">
                <h5>心率结果：</h5>
                <p v-cloak>{{heartRate}}<em>bmp</em></p>
                <!-- .25rem 是起始位置 -->
                <div class="img"><img src="./img/skin/bottom_heart.png" alt="" :style="'left:'+kedu+'rem;'"></div>  
                <div class="progress_heart">
                    <i></i>
                    <span class="yellow_span"></span>
                    <i class="yellow_i"></i>
                    <span class="green_span"></span>
                    <i class="green_i"></i>
                    <span class="red_span"></span>
                    <i class="red_i"></i>
                </div>
                <div class="shuzi">
                    <em>0</em>
                    <em>60</em>
                    <em>100</em>
                    <em>200</em>
                </div>
                <div class="jieshuo">
                    <em>过缓</em>
                    <em>正常</em>
                    <em>过速</em>
                </div>
            </div>
            <div class="title_heart" v-if="paraResult || paraCause">
                <h5>心脏功能：</h5>
                <p class="danger" v-if="paraResult"><i></i><span v-cloak >{{paraResult}}</span></p>
                <div calss="caption" v-if="paraCause"><i class="begin_title"></i><h3 class="til">常见原因</h3></div>
                <p class="title" v-cloak v-if="paraCause">
                    {{paraCause}}
                </p>
            </div>
   </div>
    <script src="js/jquery.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/base.js"></script>
    <script type="text/javascript">
        (function (doc, win) {
            var   docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var   clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };
            
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script>
        $(function(){
            var  inspectCode = getQueryString('reportId');
            new Vue({
                el:'#app_501',
                data:{
                    heartRate:'',
                    inspectCode:'',
                    paraCause:'',
                    paraResult:'',
                    kedu:.25
                },
                methods:{
                    goHistory:function(){
                        history.back()
                    }
                },
                mounted:function(){
                    var  that = this;
                    $.ajax({
                        url: dataUrl + '/api/v5/ecg/queryEcg',
                        type:'POST',
                        data:{
                            inspectCode:inspectCode
                        },
                        success:function(res){
                            $('#app_501').css({'display':'block'});
                            $('.loadmore.loading').css({'display':'none'});
                            that.kedu = res.data.heartRate >= 100 ? 4.13 + .0223 * (res.data.heartRate-100) : res.data.heartRate >= 60 ?1.96 +0.05425 *  (res.data.heartRate-60) : .25 + 0.0285 *res.data.heartRate
                            that.inspectCode = res.data.inspectCode;
                            that.paraCause = res.data.paraCause;
                            that.paraResult =  res.data.paraResult;
                            that.heartRate = res.data.heartRate;
                        }
                    });
                }
            });
             // 获取url参数方法
           function getQueryString(name) {
                var   result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
                if (result == null || result.length < 1) {
                    return "";
                }
                return result[1];
            };
        });
    </script>
</body>