<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>历史报告</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div class="my_view">
	<section id="appVUE">
		<header class="header">
			<!--<a class="b-arr fl" href="javascript:history.go(-1);"></a>-->
			<a class="t-right fr" href="#"></a>
			<p class="t-cen txt1"><span>历史报告</span></p>
		</header>
		<div class="history_b" id="thelist">
			<template v-if="source != 'khyapp'">
				<a class="h_li" v-for="item in dataList" @click="gotosee($event,item)">
					<span class="dat">{{item.inspectDateStr}}</span>
					<i class="arr fr"></i><span class="num fr">{{item.totalScore}}分</span>
				</a>
			</template>
			<template v-if="source == 'khyapp'">
				<a class="h_li" v-for="item in dataList" @click="gotosee($event,item)">
					<span class="dat">{{item.inspectDateStr}}</span>
					<i class="arr fr"></i><span class="num fr">{{item.nickName.slice(0,3)}}</span>
					<span class="fr num" style="margin-right: .4rem;">{{item.mobile}}</span>
				</a>
			</template>
			<template v-if="source == 'psyc'">
				<a class="h_li" v-for="item in dataList" @click="gotosee($event,item)">
					<span class="dat">{{item.inspectDateStr}}</span>
					<i class="arr fr"></i>
				</a>
			</template>
				
		</div>
	</section>
</div>
<div class="v_overlay"></div>
<div class="daifu_d">
	<p class="imo"><img src="img/daifu.png" class="img_b"></p>
	<p class="tit">亲，这份报告数据已被别人扫描<br>请重新测量</p>
	<p class="tip">误扫别人的健康报告，将会影响您的健康趋势，谢谢您的配合！</p>
	<p class="dbtn"><button id="iknow">知道了</button></p>
</div>
<div class="load-overlay"><p class="loadimg"><img src="img/loading.gif"></p></div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="zhuge.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>
$('.my_view').css("visibility","hidden");
$('.load-overlay').css("display","block");
var userId = getQueryString("userId");
var openId = getQueryString('openId');
var isAgent = getQueryString('isAgent');
var saasId = getQueryString('saasId');
var clientType = (getQueryString("clientType") || '');
var source = (getQueryString('source') || '');  //通过解析获得
var resource = getQueryString("resource"); //康浩 khyapp  康加 kjyapp  康加健康：kjjkapp  //app交互返回获得
//if(resource == 'khyapp'){source = 'khyapp'} 看需求打开（如果是康浩app 不管从什么报告过来都只显示康浩历史）
if(openId == null || openId == undefined){
	openId = ''
}
zhuge.track('进入历史列表页', { //埋点t
	'openId' : openId,  
	'渠道' : '微信'
});
var aIndex = 0;//记录索引

var myApp = new Vue({
	el:'#appVUE',
	data: function(){
		return{
			source: source,
			resource: resource,
			userId: userId,
			dataList: ''
		}
	},
	mounted:function(){
		this.historyByUserId();
	},
	methods:{
		historyByUserId: function(){
			var vm = this;
			$.ajax({
				url : dataUrl + "/api/v1/ne/findHistoryReport",
				type : "POST",
				dataType : 'json',
				data : {
				   	customerId : userId,
				   	companyId: saasId,
				    firstPage: '0',
				    pageSize: 50,
				    source: source
				},
				success : function(res) {
					if(res.code == 200){
						$('.my_view').css("visibility","visible");
						$('.load-overlay').css("display","none");
						vm.dataList = res.data
						for(var i=0;res.data.length>i;i++){
							res.data[i].mobile = geTel(res.data[i].mobile)
						}
						vm.dataList = res.data
					}else{alert('findHistoryReport code='+ res.code)}
				},
				error : function(obj,msg){alert('findHistoryReport error')}
			});
		},
		gotosee: function(e,item){
			var vm = this;
			vm.analysisReportFace(item.inspectId,'',vm.userId,item.openId,saasId,'',item.reportSource)
		},
		analysisReportFace: function(report,sendCustom,user,open,saas,language,reportSource){
			var vm = this;
			$.ajax({
				type:"post",
				url:dataUrl + "/api/v1/reportIndex/analysisReportFace",
				dataType:"json",
				data:{
					reportId: report,
					sendCustomerId: sendCustom,
					customerId: user,
					openId: open,
					saasId: saas,
					language: language
				},
				success:function(res){
					if(res.code == 200){
						var visible = res.data.visible; //是否可查看 0不可查看
						var reportType = res.data.reportType;
						var cansee = (reportSource == 5?'jgj':'');  //判断金管家 
						var reportUrl = '?reportId='+report+'&userId='+res.data.customerId+'&openId='+open+"&reportType="+reportType+'&saasId='+saasId+'&clientType='+clientType+'&resource='+resource+'&source='+source+'&cansee='+cansee;
						if(visible == 0){
							$('.v_overlay').css({"visibility":"visible","opacity":"1"});
							$('.daifu_d').css("display","block");	
							$('.daifu_d .tit').text('亲，您目前无法查看该份报告，请您联系你的业务员');
							$('.daifu_d .tip').remove();
							$('#iknow').click(function(){
								$('.v_overlay').css({"visibility":"hidden","opacity":"0"});
								$('.daifu_d').css("display","none");
								//WeixinJSBridge.call('closeWindow');
								//location.href = 'historyRecord.html?userId='+res.data.customerId+'&openId='+open+'&saasId='+saas;
							});
						}else{
							if(reportType == 121 || reportType == 122){
							location.href = 'report120.html'+reportUrl
							}else if(reportType == 501 || reportType == 502 ){
								location.href = 'report500.html'+reportUrl
							}else if(reportType < 5){
								location.href = 'report5.html'+reportUrl
							}else{
								location.href = 'report'+reportType+'.html'+reportUrl
							}
						}		
					}else{
						console.log('analysisReportFace code='+res.code+' msg='+res.msg)
					}
				},
				error: function(){alert('analysisReportFace error')}
			});
		}
	}
});
//截取URL 获取
function getQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
};
//隐藏手机号
function geTel(tel){
    var reg = /^(\d{3})\d{4}(\d{4})$/;  
    return tel.replace(reg, "$1****$2");
}
</script> 
</body>
</html>
