<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>历史报告</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body class="bck-col-f4">
<div class="my_view">
	<section id="appVUE">
		<header class="header">
			<!--<a class="b-arr fl" href="javascript:history.go(-1);"></a>-->
			<a class="t-right fr" href="#"></a>
			<p class="t-cen txt1" v-if="invite == 'invite'"><span>邀约历史</span></p>
			<p class="t-cen txt1" v-else><span>历史报告</span></p>
		</header>
		<div class="choseoHis hide">
			<span class="close" @click="closeOption"></span>
			<p class="sltt">选择时间</p>
			<div class="sellx">
				<span class="lp"><label :class="{on:sltime == 0}" @click="handleTime(0)">全部</label></span>
				<span class="lp"><label :class="{on:sltime == 1}" @click="handleTime(1)">当天</label></span>
				<span class="lp"><label :class="{on:sltime == 7}" @click="handleTime(7)">七天</label></span>
				<span class="lp"><label :class="{on:sltime == 30}" @click="handleTime(30)">一个月</label></span>
				<span class="lp"><label :class="{on:sltime == 90}" @click="handleTime(90)">三个月</label></span>
				<span class="lp"><label :class="{on:sltime == 180}" @click="handleTime(180)">六个月</label></span>
				
				<p v-if="reportHistoryVo.startTime" style="font-size: .20rem;">{{reportHistoryVo.startTime.slice(0,10)}} 至 {{reportHistoryVo.endTime.slice(0,10)}}</p>
			</div>
			<p class="sltt">报告类型</p>
			<div class="sellx">
				<span class="lp"><label :class="{on:reportHistoryVo.deviceGroup == ''}" for="lx1">全部</label><input type="radio" id="lx1" value="" v-model="reportHistoryVo.deviceGroup"></span>
				<span class="lp"><label :class="{on:reportHistoryVo.deviceGroup == '0'}" for="lx2">亚健康</label><input type="radio" id="lx2" value="0" v-model="reportHistoryVo.deviceGroup"></span>
				<span class="lp"><label :class="{on:reportHistoryVo.deviceGroup == '1'}" for="lx3">心功仪</label><input type="radio" id="lx3" value="1" v-model="reportHistoryVo.deviceGroup"></span>
				<span class="lp"><label :class="{on:reportHistoryVo.deviceGroup == '2'}" for="lx4">心理健康</label><input type="radio" id="lx4" value="2" v-model="reportHistoryVo.deviceGroup"></span>	
				<!--<p style="font-size: .3rem;">选中值 {{reportHistoryVo.deviceGroup}}</p>-->
			</div>
			<p class="sltt">排序</p>
			<div class="sellx">
				<span class="lp"><label :class="{on:reportHistoryVo.sort == '2'}" for="px1">由近及远</label><input type="radio" id="px1" value="2" v-model="reportHistoryVo.sort"></span>
				<span class="lp"><label :class="{on:reportHistoryVo.sort == '1'}" for="px2">由远及近</label><input type="radio" id="px2" value="1" v-model="reportHistoryVo.sort"></span>
				<!--<p style="font-size: .3rem;">选中值 {{reportHistoryVo.sort}}</p>-->
			</div>
			<div class="btngrp">
				<button @click="resetOption">重置</button>
				<button @click="checkByoption">确定</button>
			</div>
		</div>
		<div class="nh_seltab">
			<p class="tab">
				<span @click="handleTime('today')">当天</span>
				<span @click="handleTime('week')">七天</span>
				<span @click="handleTime('month')">一个月</span>
				<span @click="handleOption" style="color: #2fbab0;">更多筛选</span>
			</p>
			<p class="tim">{{reportHistoryVo.startTime.slice(0,10)}}　至　{{reportHistoryVo.endTime.slice(0,10)}}</p>
			
			<p class="tip" v-if="reportHistoryVo.deviceGroup==''">当前报告类型为：全部</p>
			<p class="tip" v-else-if="reportHistoryVo.deviceGroup=='1'">当前报告类型为：心功仪</p>
			<p class="tip" v-else-if="reportHistoryVo.deviceGroup=='2'">当前报告类型为：心理报告</p>
			<p class="tip" v-else>当前报告类型为：亚健康</p>
		</div>
		<div class="history_b" id="thelist">
			<template>
				<div class="nh_li" v-for="item in dataList" @click="gotosee($event,item)">
					<p v-if="item.deviceGroup == 0" class="tt"><span style=" font-weight: bold;">亚健康报告 </span>　<span>{{item.totalScore}}分</span></p>
					<p v-else-if="item.deviceGroup == 1" class="tt"><span style=" font-weight: bold;">心功仪报告 </span></p>
					<p v-else-if="item.deviceGroup == 2" class="tt"><span style=" font-weight: bold;">心理报告 </span></p>
					<p v-else><span style=" font-weight: bold;">亚健康报告 </span>　<span>{{item.totalScore}}分</span></p>
					
					<p class="cc">检测人：{{item.nickName}}</p>
					<p class="ti">检查时间：{{item.inspectDateStr}}</p>
					<em class="arr"></em>
				</div>
			</template>

		</div>
	</section>
</div>
<div class="v_overlay"></div>
<div class="daifu_d" style="display: none;">
	<p class="imo"><img src="img/daifu.png" class="img_b"></p>
	<p class="tit">亲，这份报告数据已被别人扫描<br>请重新测量</p>
	<p class="tip">误扫别人的健康报告，将会影响您的健康趋势，谢谢您的配合！</p>
	<p class="dbtn"><button id="iknow">知道了</button></p>
</div>
<div class="load-overlay"><p class="loadimg"><img src="img/loading.gif"></p></div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="zhuge.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>document.write('<script src="js/historyNew.js?t=' + new Date().getTime() + '"><\/script>')</script>
</body>
</html>
