<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>健康报告</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css?v=20180606" />
</head>
<body>
<DIV class="my_view bck-col-f4" style="visibility:hidden">
<div id="appVUE">
	<header class="header">
		<a class="t-left fl" id="goSetUp">设置</a>
		<a class="t-right fr" id="checkHistory">历史报告</a>
		<p class="t-cen"><span>{{inspectDate}}</span></p>
	</header>
	<div class="all_score">
		<div class="circle_b">
			<div class="circle"> 
				<i></i><strong></strong>
				<div class="box-d"></div>
			</div>
		</div>
		<div class="score_inf">
			<p class="inf-rk"><i class="i_bronze"></i>基于您身体的异常状况，建议您<em id="sugDay">30</em>日后再次复检</p>
		</div>
	</div>
	<p style="background:#f4f4f4; height:10px; margin:0;"></p>
	
	<div class="sy_summary">
		<p class="sstit">亲爱的<span id="dearName"></span>你好！</p>
		<div class="sstxt">
			　　感谢您使用健康筛查机器人进行亚健康评估。如您是初次使用，请阅读<a class="nt" id="notice">用户须知</a>。现将您的评估结果汇总分析如下，请您认真阅读。如需帮助请拨打我们的健康热线4006666787，将有我们专业的健康咨询师为您答疑解惑。祝您健康！
		</div>
		<p class="sstit2">-------汇总分析-------</p>
		<div class="sstxt">
			1、本次评估结果您的身体状况<em class="sta" id="bodySta"></em>，
			<span class="srhAge">您的生理年龄评估为<em class="sta">{{age}}</em>岁，</span>
			<span class="srhRank">整体状况较同年龄段好于<em class="sta">{{ranking}}%</em>的人；</span>
			<p class="noSeg" id="segTwo">
				2、本次检测您在<span id="list4" class="list4"></span><span class="list4">为重度异常，</span><span id="list3" class="list3"></span><span class="list3">为中度异常，</span><span class="list2">还有<font id="list2_No"></font>项为轻度异常。</span>
				希望能够引起您的关注；
			</p>
			<p class="noSeg">
				3、<span id="tipmsg">根据您本次检测结果，给您的专属健康建议重点解决</span><span id="listAb"></span><span class="buchong">指标的问题，</span><a class="inpv">请点击查看详情&gt;&gt;</a>
			</p>
			
		</div>
	</div>
	
	<!--<p style="background:#f4f4f4; height:10px; margin:0;"></p>-->
	<div class="sumTit">以下是您10大系统及身体实时状况的评估结果：</div>
	
	<div class="index_tab clearfix">
	  	<span class="on">健康指数</span><span>身体状况</span>
    </div>
    <div class="zhibiao_c indexShow">
    	<a class="c_li" v-for="site in sites" :href="site.targetFirstId|getSecondHref">
    		<i class="ico"></i><span class="lab">{{site.targetFirstName}}</span><em class="pop"></em>
    		<div class="v_overlert">
				<div class="tc_sy">
					<p class="bit"><span class="labt">{{site.targetFirstName}}</span><em></em></p>
					<div class="bxt">{{site.inspectExplain}}</div>
				</div>
			</div>
			<div class="tiptxt">{{site.inspectExplain}}</div>
    		<i class="arr fr"></i><span class="fen fr">{{site.score}}分</span>
    	</a>
    	<div class="sumTit slhide">以下是您生理年龄的评估结果：</div>
	    <div class="slnl_d">
			<div class="d-con">
				<p class="btt">生理年龄</p>
				<p class="ltt" v-html="reportStr"></p>
				<div class="ctt" v-html="firstStr"></div>
			</div>
		</div>
    </div>
    <div class="zhuangk_c indexShow" style="display: none;">
    	<div class="c_li" v-for="state in status">
    		<span class="lab">{{state.targetThirdName}}</span><i class="pop"></i>
    		<div class="v_overlert">
				<div class="tc_sy">
					<p class="bit"><span class="labt">{{state.targetThirdName}}</span><em></em></p>
					<div class="bxt">{{state.inspectExplain}}</div>
				</div>
			</div>
    		<div class="tiptxt"></div>
    		<div class="lev">{{state.abnormalLevel}}</div>
    		<span class="sta fr">
    			<i class="on"></i><i class=""></i><i class=""></i><i></i><i></i>
    		</span>
    		<span class="sta2 fr">{{state.analysisResults}}</span>
    	</div>
    </div>
    
	    
    
    <input type="hidden" id="appId"/>
    <input type="hidden" id="nonceStr"/>
    <input type="hidden" id="signature"/>
    <input type="hidden" id="timestamp"/>
    <input type="hidden" id="age"/>
    <input type="hidden" id="share" value="101"/>
</div>
	
</DIV>
<div class="v_overlay"></div>
<div class="v_overlert" id="showNotice">
	<div class="tc_sy">
		<em class="close"></em>
		<p class="bit">
			<span class="labt">用户须知</span>
		</p>
		<div class="bxt2">
			<p>欢迎您使用康加智能筛查机器人服务，本人已经阅读康加智能筛查机器人服务条款并同意本声明。</p>
			<p>1.康加智能筛查机器人是针对亚健康人群进行数据指标采集设备，并非医疗器械设备，康加智能筛查机器人所有资料及数据报告仅供参考使用，不作为个人健康状况的医疗目的衡量指标，也不能替代医生和其他医务人员的专业建议。</p>
			<p>2.任何情况下，康加智能筛查机器人所提供数据仅为提升用户体验所用，用户对于其自身健康状况的最终评估仅来自于专业医疗机构的检测手段，康加智能筛查机器人对于采集数据不做任何形式的保证，不保证所提供数据满足用户的要求，对采集结果的安全性、正确性、及时性均不做担保。故本公司不对因使用本品提供的数据而导致之损失或损害承担任何直接或间接责任。</p>
			<p>3.康加智能筛查机器人是为亚健康人群设计，相关指标依据三大人体数据采集系统（人体光谱波、人体生物电、人体脉搏波）而成，经过科学及实践测算出来，并非特别针对残缺人士及疾病患者，此类人群使用可能会出现个别指标测量不精准。</p>
			<p>4.健康分析报告说明：⽬的实现⾃我预防保健。世界卫⽣组织研究报告表明，1/3的疾病是可以通过预防保健避免的，1/3的疾病可以通过信息的有效沟通来提⾼治疗的效果。要从疾病管理为主转向预防保健和⾃我保健为主，康加智能筛查机器人通过移动互联和康加云健康系统为用户提供⽐较全⾯、系统的健康分析，从⽽有重点地进⾏⾃我预防、有重点地去医疗机构检查！</p>
			<p>5.本报告主要起预警作⽤，对检测出来⾃⼰也知道的慢性健康问题，继续加以重视；对检测出来提示预警或⾃⼰原来不知道的健康问题，可能仅是⼀种早期症状，应引起重视，但不必紧张，或者去医院做进⼀步检查。或因本次所查范围所限未能发现到的情况，仍按原诊断及治疗。本次健康分析报告仅根据本次所查范围所做，可能难以全⾯反映您的健康状况。如有不适症状出现请到相应医院专科就诊。</p>
			<p>6康加智能筛查机器人评估报告推送的内容，含膳食建议、营养建议、运动建议、健康食谱、调养方法等均作为个人健康管理所需的参考，不作为处方。本公司不对通过康加智能筛查机器人在其信息平台提供的相关产品或服务做任何担保。</p>
			<p>7.康加智能筛查机器人是基于假定用户正常情况下进行的数据采集，采集结果每时每刻都在发生变化，所以建议每天测量选择固定时间点，最好是空腹平静心态下测量会更有效。用户通过康加智能筛查机器人获取材料或数据由您自己承担风险，同时您将对使用此类材料或数据而导致的人身或财产损失承担全部责任。</p>
			<p>8.因健康报告里面包含个人隐私问题，当用户分享给它人或朋友圈时，即表示该用户自行同意把隐私公开。 </p>
			<p>9.用户扫描二维码需要先关注康加公众号/或下载使用康加APP，因其数据报告跟公众号/或APP绑定在一起，会保留历史纪录，方便进行长期数据追踪和分析。</p>
			<p>10.本公司重视对用户隐私的保护，保护隐私是本公司的一项基本政策。您提供的登记资料及本公司保留的有关您的若干其他个人资料将受到中国有关隐私的法律法规的保护。康加健康报告会引用您的基础数据进行大数据建模，非经用户亲自许可或根据相关法律的强制性规定，本公司不会主动的将您的身份信息泄露给其他任何第三方。</p>
			<p>11.本公司有权在必要时修改服务条款，服务条款一旦发生变动，将会在相关页面上公布修改后的服务条款。如果不同意所改动的内容，用户应主动取消此项服务。如果用户继续使用服务，则视为接受服务条款的变动。</p>
			<p>12.凡以任何方式登录康加智能筛查机器人， 或对您使用康加智能筛查机器人、网络平台、与本公司相关的任何内容、服务均视为自愿接受康加智能筛查机器人声明的约束。无论在任何原因下（包括但不限于疏忽原因），对您或任何人通过使用康加智能筛查机器人所导致的损失或损害（包括直接、间接的损失或损害），责任均由使用者自行承担（除非该等损失系由本公司产品质量不达标所致）。</p>
			<p style="text-align: center; padding: .2rem 0; color: #666;">康加公司 版权所有<br><em style="color: #999; font-size: .2rem;">Copyright &copy; 2011-2017 Konstar.All Rights Reserved.</em></p>
		</div>
	</div>
</div>

<div class="load-overlay">
	<div class="loadimg"><img src="img/loading.gif"></div>
</div>
<div style="text-align:center;padding:100px 30px; display: none;position: fixed;top: 0;width: 100%;" id="error_con">
    <p style="font-size:.5rem;line-height:.8rem">健康报告获取失败，请检查设备网络是否连接（<font style="font-size: .4rem;">设备屏幕下方是否有红字提示</font>），或咨询客服：400-6666-787</p>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/circle-progress.js"></script>
<script src="js/index.js?v=2018060702"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script src="js/wxShare.js"></script>
</body>
</html>
