<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>支付</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<script> document.write('<link rel="stylesheet" type="text/css" href="css/style.css?t=' + new Date().getTime() + '" \/>')</script>
</head>
<body style="background: #f0f0f0;">
<div class="my_view" id="appVUE" style="display: none;">
	<!--
	<header class="header">
		<a class="b-arr fl" href="javascript:history.go(-2);"></a>
		<a class="t-right fr" href="#"></a>
		<p class="t-cen txt1"><span>支付</span></p>
	</header>
	-->
	<div class=""><img src="img/payfor-tt.jpg" class="img_b"></div>
	<div style="margin: .22rem .43rem; position: relative; font-size: .28rem;">
		<p style="position: absolute; width: 100%; text-align: center;"><!--您是第<em style="color: #d22b22; font-size: .38rem;font-weight: bold; margin: 0 .1rem;">{{userId}}</em>位检测的用户-->
		</p>
		<img src="img/payfor-tp.png" class="img_b">
	</div>
	
	<div class="pay_tj_c">
		<div class="tj_c">
			<dl class="tens">
				<dd><img src="img/ten/i-new-xunhuan.png"><font>循环系统</font></dd>
				<dd><img src="img/ten/i-new-xiaohua.png"><font>消化系统</font></dd>
				<dd><img src="img/ten/i-new-huxi.png"><font>呼吸系统</font></dd>
				<dd><img src="img/ten/i-new-neifenmi.png"><font>内分泌</font></dd>
				<dd><img src="img/ten/i-new-guge.png"><font>骨骼系统</font></dd>
				<dd><img src="img/ten/i-new-mianyi.png"><font>免疫系统</font></dd>
				<dd><img src="img/ten/i-new-shengzhi.png"><font>生殖系统</font></dd>
				<dd><img src="img/ten/i-new-yingyang.png"><font>营养状态</font></dd>
				<dd><img src="img/ten/i-new-youhai.png"><font>有害物质</font></dd>
				<dd><img src="img/ten/i-new-pifu.png"><font>皮肤系统</font></dd>
			</dl>
			<div class="pay_go" id="pay" @click="goPay($event)">
				<p>原价:{{oprice}}</p>
				<p>现价:{{price}}</p>
				<p v-if="discount">优惠价:{{subprice}}</p>
				<button class="sub">点击支付<i></i></button>
			</div>
		</div>
	</div>
	
	<div style="padding: 0 .15rem 1.35rem;">
		<a class="gocheckmx" href="indicators.html" style="    display: block;text-align: right;color: #1aa78e;padding: 0 .3rem;">点击查看指标明细<i></i></a>
		<p class="pay_tj_yc">
			本次检测您有<span v-if="midAbnormal"><em>{{midAbnormal}}</em>项为中度风险<br/></span><span v-if="litAbnormal"><em>{{litAbnormal}}</em>项为轻度风险</span>
		</p>
		<div class="pay_tj_tip" style="padding:0 .15rem;">为您提供专属的<em>食谱、营养素、运动及生活方式建议</em></div>
		<p v-show="isShow" style=" font-size: .3rem; text-align: center; color: #1aa78e;">微信支付成功，即可获得<em style="font-size: .4rem; color: #e73005;">10元</em>优惠券</p>
	</div>
	
	<div class="fix-tpp">
		<p>您的整体身体状况好于<font>{{ranking}}%</font>的同龄人<em class="aa" :class="{a1:ranking>=50,a2:ranking<50}"></em></p>
	</div>
	
	<div class="sl-pay">
		<p class="bt"><span>选择支付方式</span><i class="close"><img src="img/o-close.png"></i></p>
		<div class="cnn">
			<p class="p1">支付金额</p>
			<p class="p2" v-if="!discount">￥{{price}}</p>
			<p class="p2" v-if="discount">￥{{subprice}}</p>
		</div>
		<button class="pay-li" id="kaPay" @click="gopayBycard($event)"><i class="icard"></i><span>VIP卡</span><img class="arr" src="img/o-arr.png"></button>
		<button class="pay-li" v-for="pay in data" @click="hrefRouter(pay)">
			<i :class="'ico'+pay.payChannelType"></i><span>{{pay.payChannelName}}</span><img class="arr" src="img/o-arr.png">
		</button>
	</div>	

</div>

<div class="v_overlay"></div>
<div class="load-overlay">
	<div class="loadimg"><img src="img/loading.gif"></div>
</div>

<div class="daifu_d" style="display: none;">
	<p class="imo"><img src="img/daifu.png" class="img_b"></p>
	<p class="tit">亲，这份报告数据已被别人扫描<br>请重新测量</p>
	<p class="tip">误扫别人的健康报告，将会影响您的健康趋势，谢谢您的配合！</p>
	<p class="dbtn"><button id="iknow">知道了</button></p>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script>document.write('<script src="js/base.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="js/language.js"></script>
<!-- <script type="text/javascript" src="zhuge.js"></script> -->
<script>document.write('<script src="zhuge.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/echarts.common.min.js"></script>
<script>document.write('<script src="js/payChannel.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
</body>
</html>
