<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>新户支付</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/pay.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div class="new-pay my_view" id="appVUE" style="display: none;">
   <div class="pay-num"><p>您是第<span>{{userIdstr}}</span>位检测的用户</p></div>
   <div class="list-box">
   		<!--风险指标数目-->
   		<div class="abnormal">
   			<p class="tit">您本次检测有</p>
   			<div class="con">
   				<div class="c_li">
   					<i class="ico"></i><em>项</em> <input type="hidden" :value="midAbnormal" />
   					<div class="circle_d">
   						<div class="circle"><font></font></div>
   						<div class="zz"></div>
   					</div>
					<p>中度风险指标</p>   						
   				</div>
   				<div class="c_li">
   					<i class="ico"></i><em>项</em> <input type="hidden" :value="litAbnormal" />
   					<div class="circle_d">
   						<div class="circle"><font></font></div>
   						<div class="zz"></div>
   					</div>
					<p>轻度风险指标</p>   						
   				</div>
   			</div>
   			<p class="tip"><i class="dot"></i>您可通过微信公众号查看<br>我们为您免费提供的健康资讯以及健康视频</p>
   		</div>

       <!--十大系统列表-->
        <div class="list">
            <p class="title">我们为您提供十大系统的深度筛查</p>
            <div class="item item-t">
                <span class="dot"></span>
                <span class="txt">十大系统</span>
            </div>
            <ul class="system">
                <li v-for="item in firstlist">
                    <div class="img" v-if="item.score >= 90"><img :src="'img/ten/i-'+item.targetId+'-1.png'"></div>
                    <div class="img" v-if="item.score < 90 && item.score >= 80"><img :src="'img/ten/i-'+item.targetId+'-2.png'"></div>
                    <div class="img" v-if="item.score < 80"><img :src="'img/ten/i-'+item.targetId+'-3.png'"></div>
                    <p class="green" v-if="item.score >= 90">{{item.targetName}}</p>
                    <p class="yello" v-if="item.score < 90 && item.score >= 80">{{item.targetName}}</p>
                    <p class="red" v-if="item.score < 80">{{item.targetName}}</p>
                    <i v-if="item.abnormalcount != 0">{{item.abnormalcount}}</i>
                </li>
            </ul>
            <div class="item item-b">
                <span class="dot"></span><span class="txt">70余项指标深度筛查及指标解读，<a>点击查看指标明细&gt;&gt;</a></span>
            </div>
            <div class="item item-b">
                <span class="dot"></span><span class="txt">专属的健康改善建议，<a>(膳食、营养素、运动及生活方式)</a></span>
            </div>
            <div class="item item-b">
                <span class="dot"></span><span class="txt">7天专属的健康食谱</span>
            </div>
        </div>
        <!--专家轮播-->
        <div class="list table">
            <p class="title">健康专家为您提供专属的改善方案</p>
            <div class="specialist">
                <div class="prev"><img src="img/120/left.png"></div>
                <div class="next"><img src="img/120/right.png"></div>
                
                <div class="v_doctor" style="width:4.6rem; height: 1.2rem; margin: 0 auto; overflow: hidden; position: relative;">
                	<ul class="v_list" style="width: 500%; position: absolute; overflow: hidden;">
	                    <li v-for="item in 5" style="float: left;">
	                        <div class="head-img"></div>
	                        <div class="text">
	                            <p class="name"><span>张医生{{item}}</span>教授/博士生导师</p>
	                            <p class="detail">首都医科大学公共卫生学院营养与食品卫生系主任</p>
	                        </div>
	                    </li>
	                </ul>
                </div> 
            </div>   
        </div>
   </div>
    <!--红色查看按钮 -->
    <div class="look-btn" id="pay">关爱健康，点击查看</div>
    <p class="hint">支付成功即可获得10元优惠券</p>
    <div class="foot">“国家工业和信息化部、民政部、国家卫生健康委员会”联合推广</div>
    
    <div class="sl-pay">
		<p class="bt"><span>选择支付方式</span><i class="close"><img src="img/o-close.png"></i></p>
		<div class="cnn">
			<p class="p1">支付金额</p>
			<p class="p2">￥{{price}}</p>
		</div>
		<a class="pay-li" id="kaPay"><i class="icard"></i><span>卡支付</span><img class="arr" src="img/o-arr.png"></a>
		<a class="pay-li" v-for="pay in data" @click="hrefRouter(pay)">
			<i :class="'ico'+pay.payChannelType"></i><span>{{pay.payChannelName}}</span><img class="arr" src="img/o-arr.png">
		</a>
	</div>
    
</div>

<div class="v_overlay"></div>
<div class="load-overlay">
	<div class="loadimg"><img src="img/loading.gif"></div>
</div>


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/circle-progress.js"></script>
<script type="text/javascript" src="js/pay_test.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>
setTimeout(function(){
	var page_now=1;
	var itemNum=1;  //一页显示几个
	var v_width = $('.v_doctor').width();
	var v_len = $('.v_list li').length;
	var page_count = Math.ceil(v_len/itemNum);
	function next(){	
			if(!$('.v_list').is(':animated')){
			if(page_now == page_count){
				$('.v_list').animate({left:'0px'},'slow');
				page_now=1;
			}else{
				$('.v_list').animate({left:'-='+v_width},'slow');
				page_now++;
			}
			$('.heighlight_tip span').eq(page_now-1).addClass('current').siblings().removeClass('current');
			}
		};
	function prev(){
			if(!$('.v_list').is(':animated')){
			if(page_now == 1){
				$('.v_list').animate({left:'-='+v_width*(page_count-1)},'slow');
				page_now=page_count;
			}else{
				$('.v_list').animate({left:'+='+v_width},'slow');
				page_now--;
			}
			$('.heighlight_tip span').eq(page_now-1).addClass('current').siblings().removeClass('current');
			}
		};
	$('.next').bind('click',function(){ next() });	
	$('.prev').bind('click',function(){ prev() });
	var toNext=setInterval(next,3000);
},500)
	
</script>

</body>
</html>
