<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>健康报告</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<script>document.write('<link rel="stylesheet" type="text/css" href="css/style.css?t=' + new Date().getTime() + '" \/>')</script>
</head>
<body>
<DIV class="my_view">
<div id="report4" class="report4" v-cloak>
	<section v-for="item in parentList" v-if="item.targetId == 'total_score'">
		<p class="btit"><span class="lab">健康活力</span><i class="pop" @click="pop($event,item)">{{item.inspectContent}}</i></p>
		<div class="vitality" :class="{bg1:item.score >= 90,bg2:item.score < 90 && item.score >= 80,bg3:item.score < 80}" @click="goSecond($event,item)">
			<p class="score"><b>{{item.score}}</b>分</p>
			<p class="lev">{{item.xtbmName}}</p>
		</div>
	</section>
	
	<ul class="state">
		<li class="s_li" v-for="item in parentList" v-if="item.targetId == 'A1004' || item.targetId == 'A1005' || item.targetId == 'A1007'" :class="item.targetId" @click="goSecond($event,item)">
			<div class="call"><i><img :src="'img/4.0/'+item.targetId+'.png'"></i><span>{{item.inspectName}}</span></div>
			<p class="res">{{item.xtbmName}}</p>
		</li>
		
	</ul>
	<section v-for="item in parentList" v-if="item.targetId == 'A1001'">
		<p class="btit"><span class="lab">体型</span><i class="pop" @click="pop($event,item)">{{item.inspectContent}}</i></p>
		<div class="shape" :class="{bg1:item.score<18.5,bg2:item.score>=18.5 && item.score<24,bg3:item.score>=24 && item.score<28,bg4:item.score>=28}" @click="goSecond($event,item)">
			<div class="bmibox">
				<p class="v_num">BMI={{item.score}}</p>
				<p>{{item.xtbmName}}</p>
				<!--<p class="update" @click.stop="goUpdate">更新数据</p>-->
			</div>
			<p class="tip">{{item.xtbmContent}}</p>
			<div class="alter-box" v-show="showUpdateBmi" @click.stop="">
				<div class="write">
					<span>身高：</span>
					<div><input type="number" id="_height" max="250" min="50" v-model="height" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
					<span>cm</span>
				</div>
				<div class="write">
					<span>体重：</span>
					<div><input type="number" id="_weight" max="200" min="20" v-model="weight" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
					<span>kg</span>
				</div>
				<div class="confirm" @click.stop="updateBmi()">确定</div>
			</div>
		</div>
	</section>
		
	<ul class="state">
		<li class="s_li" v-for="item in parentList" v-if="item.targetId == 'A1006' || item.targetId == 'A1008' || item.targetId == 'A1009'" :class="item.targetId" @click="goSecond($event,item)">
			<div class="call"><i><img :src="'img/4.0/'+item.targetId+'.png'"></i><span>{{item.inspectName}}</span></div>
			<p class="res">{{item.xtbmName}}</p>
		</li>
	</ul>
	<section v-for="item in parentList" v-if="item.targetId == 'A1002'">
		<p class="btit"><span class="lab">心情</span><i class="pop" @click="pop($event,item)">{{item.inspectContent}}</i></p>
		<div class="mood" :class="{bg1:item.abLive >= 4,bg2:item.abLive == 3,bg3: item.abLive <3}" @click="goSecond($event,item)">
			<p class="sta">{{item.xtbmName}}</p>
			<p class="tip">{{item.xtbmContent}}</p>
		</div>
	</section>
		
	<ul class="state">
		<li class="s_li" v-for="item in parentList" v-if="item.targetId == 'A1003' || item.targetId == 'A1010' || item.targetId == 'A1011'" :class="item.targetId" @click="goSecond($event,item)">
			<div class="call"><i><img :src="'img/4.0/'+item.targetId+'.png'"></i><span>{{item.inspectName}}</span></div>
			<p class="res">{{item.xtbmName}}</p>
		</li>
	</ul>
	
	<div class="fix-dh">
		<ul class="daohang">
			<li class="dh-li active">
				<div class="pic"><img src="img/4.0/dh-rp-1.png"></div>
				<p class="txt">报告</p>
			</li>
			<li class="dh-li" @click="getRecipesData()">
				<div class="pic"><img src="img/4.0/dh-sp-0.png"></div>
				<p class="txt">食谱</p>
			</li>
			<li class="dh-li" @click="checkHistory()">
				<div class="pic"><img src="img/4.0/dh-ls-0.png"></div>
				<p class="txt">历史</p>
			</li>
		</ul>
	</div>
</div>
</DIV>

<div class="v_overlay"></div>
<div class="v_overlert">
	<div class="tc_sy">
		<em class="close"></em>
		<p class="bit" style="text-align: center; font-weight: bold;"></p>
		<div class="bxt" style="text-align: left;"></div>
	</div>
</div>
<div class="load-overlay"><p class="loadimg"><img src="img/loading.gif"></p></div>

<script type="text/javascript" src="js/jquery.js"></script>
<script>document.write('<script src="js/base.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="js/vue.min.js"></script>
<!-- <script type="text/javascript" src="zhuge.js"></script> -->
<script>document.write('<script src="zhuge.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="js/jquery.animateNumber.min.js"></script>
<script type="text/javascript" src="js/echarts/echarts.min.js"></script>
<script>document.write('<script src="js/report400.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
</body>
</html>