<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>健康报告</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<script>document.write('<link rel="stylesheet" type="text/css" href="css/index3.css?t=' + new Date().getTime() + '" \/>')</script>
<link rel="stylesheet" type="text/css" href="css/menu.css" />
</head>
<body style="visibility: hidden;">
<DIV class="all-view" style="padding-bottom: 1.5rem;">
	<!--头部-->
	<header class="header">
		<div class="mine header-box goToPer" v-if="openId">
			<div class="img-box"><img src="./images/tx-icon.png" /></div>
			<span @click="goSetUp()">{{language.la_perCen}}</span>
		</div>
		<div class="mine header-box goToShare" v-if="!openId">
			<button id="goToShare">分享报告</button>
		</div>
		<div class="title">{{inspectDate}}</div>
		<div class="report header-box">
			<span @click="checkHistory()">{{language.la_hisRepo}}</span>
			<div class="img-box"><img src="./images/ls-icon.png" /></div>
		</div>
	</header>
	<!-- 导航 -->
	<div class="kj-nav-box">
		<ul>
			<li class="active">
				<div class="index-img"><img src="./images/nav-1.png" /></div><p>首页</p>
			</li>
			<li @click="adviseHref()">
				<div class="index-img"><img src="./images/nav-02.png" /></div><p>建议</p>
			</li>
			<li @click="recipeHref()" v-if="languageStr == 'zh'">
				<div class="index-img"><img src="./images/nav-03.png" /></div><p>食谱</p>
			</li>
			<li @click="graphHref()" v-if="languageStr == 'zh'">
				<div class="index-img"><img src="./images/nav-04.png" /></div><p>趋势</p>
			</li>
		</ul>
	</div>
	<!--报告说明-->
	<div class="report-box">{{language.la_toptip}}<a @click="seeMore()">{{language.la_learnMore}}</a></div>
	<div class="kj-box">
	<!--综合健康分数-->
		<div class="sleep-box synthesis">
			<!--<div class="header-img"><img :src="headimgurl"/></div>--><!--用户头像-->
			<div class="title">
				<p class="bmi-box"><span class="state">{{language.la_zonghefenshu}}</span><span class="explain" @click="clickA()"><img src="./images/explain.png" /></span></p>
			</div>
			<!--进度条-->
			<div class="strip">
				<div class="active" id="prcc">
					<div class="dot">
						<div class="within-dot"><span><em id="score"></em>{{language.la_fen}}</span><p class="trigon"><img src="./images/trigon.png"/></p></div>
					</div>
				</div>
			</div>
			<p class="num"><spn class="left">0</spn><spn class="right">100</spn></p>
			<p class="advise">
				<span class="dot-box"></span>
				<span>{{language.la_comp_befor}}<b class="greater">{{ranking}}%</b>{{language.la_comp_after}}</span>
			</p>
			<div class="bottom-box"></div>
			<div class="shade" v-show="popupA" @click="shade">
				<div class="popup">{{language.la_zhfs_description}}</div>
			</div>
		</div>
		<!--亚健康风险-->
		<div class="sleep-box sub-health">
			<div class="title">
				<p class="bmi-box"><span class="state">{{language.la_yjkrisk}}</span><span class="explain" @click="clickB()"><img src="./images/explain.png" /></span></p>
			</div>
			<div :class="{text:language == zh,text_en:language == en}">
				<div class="pointer"><img src="./images/jt.png" />
				</div>
			</div>
			<p class="advise">
				<span class="dot-box"></span>
				<span  v-if="100 >= totalScore && totalScore >= 95">{{language.la_bestConditionTip}}</span>
				<span  v-else-if="94 >= totalScore && totalScore >= 90">{{language.la_goodConditionTip}}</span>
				<span  v-else-if="89 >= totalScore && totalScore >=85">{{language.la_levelOneTip}}</span>
				<span  v-else-if="84 >= totalScore && totalScore >=80">{{language.la_levelTwoTip}}</span>
				<span  v-else>{{language.la_levelThreeTip}}</span>
			</p>
			<div class="bottom-box"></div>
			<div class="shade" v-show="popupB" @click="shade">
				<div class="popup" v-html="language.la_yjkfx_description">
				</div>
			</div>
		</div>
		<!-- 快乐指数 -->
		<div class="sleep-box  happy" v-for="item in data" v-if="item.targetId == 1001">
			<div class="title">
				<p class="bmi-box"><span class="state">{{item.targetName}}</span><span class="explain" @click="clickF()"><img src="./images/explain.png" /></span></p>
			</div>
			
			<div class="happy-box" >
				<span class="gloomy-title">{{language.la_depressed}}</span>
				<span class="depress-title">{{language.la_repressive}}</span>
				<span class="peace-title">{{language.la_calm}}</span>
				<span class="joviality-title">{{language.la_cheerful}}</span>
				<span class="best-title">{{language.la_happy}}</span>
				<div class="klzs_c">
					<div class="zs_b"></div>
					<div class="zs_p"></div>
				</div>
			</div>
			<div class="happy-icon"
			:class="[{
				'gloomy-box':item.childTarget[0].abLive == 4},
				{'best-box':item.childTarget[0].abLive == 0},
				{'joviality-box':item.childTarget[0].abLive == 1},
				{'peace-box':item.childTarget[0].abLive == 2},
				{'depress-box':item.childTarget[0].abLive == 3}
			]">
				<div class="img"></div>
				<p v-if="item.childTarget[0].abLive == 4">{{language.la_depressed}}</p>
				<p v-else-if="item.childTarget[0].abLive == 0">{{language.la_happy}}</p>
				<p v-else-if="item.childTarget[0].abLive == 1">{{language.la_cheerful}}</p>
				<p v-else-if="item.childTarget[0].abLive == 2">{{language.la_calm}}</p>
				<p v-else>{{language.la_repressive}}</p>
			</div>
			<p v-if="item.childTarget[0].abLive == 4" class="advise"><span class="dot-box"></span><span>{{language.la_depressedTip}}</span></p>
			<p v-else-if="item.childTarget[0].abLive == 0" class="advise"><span class="dot-box"></span><span>{{language.la_happyTip}}</span></p>
			<p v-else-if="item.childTarget[0].abLive == 1" class="advise"><span class="dot-box"></span><span>{{language.la_cheerfulTip}}</span></p>
			<p v-else-if="item.childTarget[0].abLive == 2" class="advise"><span class="dot-box"></span><span>{{language.la_calmTip}}</span></p>
			<p v-else class="advise"><span class="dot-box"></span><span>{{language.la_repressiveTip}}</span></p>
			<div class="bottom-box"></div>
			<div class="shade" v-show="popupF" @click="shade"><div class="popup">{{item.explain}}</div></div>
		</div>
		<!--睡眠质量-->
		<div class="sleep-box quality" v-for="item in data" v-if="item.targetId == 1002">
			<div class="title-img"><img src="./images/deng-icon.png" /></div>
			<div class="sleep-text">
				<p class="bmi-box"><span class="state">{{item.targetName}}</span><span class="explain" @click="clickC()"><img src="./images/explain.png" /></span></p>
			</div>
			<div class="percent">
				<p class="yello"></p>
				<p class="blue"></p>
				<p class="last-child"></p>
				<div  v-show="90 > item.score" class="active" style="width:19%;"><div class="dot"><p></p></div></div>
				<div v-show="95 > item.score && item.score >= 90" class="active" style="width:52%;"><div class="dot"><p></p></div></div>
				<div  v-show="item.score >= 95" class="active" style="width:85%;"><div class="dot"><p></p></div></div>
			</div>
			<!--身体质量条-->
			<div class="drawing-box">
				<div class="bad-box">
					<div class="drawing-img"><img src="./images/moon.png" /></div>
					<span>{{language.la_sleep3}}</span>
				</div>
				<div class="normal-box">
					<div class="drawing-img"><img src="./images/moon2.png" /></div>
					<span>{{language.la_sleep2}}</span>
				</div>
				<div class="excellent-box">
					<div class="drawing-img"><img src="./images/moon3.png" /></div>
					<span>{{language.la_sleep1}}</span>
				</div>
			</div>
			<p class="advise">
				<span class="dot-box"></span>
				<span v-show="90 > item.score">{{language.la_sleep3_tip}}</span>
				<span v-show="95 > item.score && item.score >= 90">{{language.la_sleep2_tip}}</span>
				<span v-show="item.score >= 95">{{language.la_sleep1_tip}}</span>
			</p>
			<div class="bottom-box"></div>
			<div class="shade" v-show="popupC" @click="shade"><div class="popup">{{item.explain}}</div></div>
		</div>
		<!--实时状态-->
		<div class="sleep-box real-time" v-for="item in data" v-if="item.targetId == 1003">
			<p class="title">{{item.targetName}}</p>
			<ul>
				<li :class="'listImg'+index" v-for="(site,index) in item.childTarget" v-if="site.targetId != 3232">
					<div class="caption">
						<span class="img-box"></span>
						<span class="text">{{site.targetName}}</span>
						<span class="explain" @click="liClick(index)"><img src="./images/explain.png" /></span>
					</div>
					<div v-if="site.targetId !='3232'" class="thread">
						<p v-if="site.abLive == 4"><span class="active"></span><span></span><span></span><span></span><span></span></p>
						<p v-else-if="site.abLive == 3"><span class="active"></span><span class="active"></span><span></span><span></span><span></span></p>
						<p v-else-if="site.abLive == 2"><span class="active"></span><span class="active"></span><span class="active"></span><span></span><span></span></p>
						<p v-else-if="site.abLive == 1"><span class="active"></span><span class="active"></span><span class="active"></span><span class="active"></span><span></span></p>
						<p v-else><span class="active"></span><span class="active"></span><span class="active"></span><span class="active"></span><span class="active"></span></p>
					</div>
					<div class="thread-txt" v-else>{{site.abLive}}</div>
					<div class="shade" v-show='isActive[index]' @click="shade(index)"><div class="popup">{{site.explain}}</div></div>
				</li>
			</ul>
			<div class="bottom-box"></div>
		</div>
		<!--BMI健康状态-->
		<div class="sleep-box bmi" v-for="item in data" v-if="item.targetId == 1004">
			<p class="title-img"><img src="./images/ybp.png"/></p>
			<p class="bmi-box"><span class="title">{{item.targetName}}</span><span class="explain" @click="clickD()"><img src="./images/explain.png" /></span></p>
			<div class="percent">
				<div class="number-box number">
					<span>18.5</span>
					<div v-if=" 18.5 >= item.score && item.score > 14" class="active" :style="'width:'+ item.score/18.5*100 +'%;'">
						<div class="dot"><p><span>{{item.score}}</span></p></div>
					</div>
					<div v-if=" 14 >= item.score" class="active" :style="'width:'+ 0 +'%;'">
						<div class="dot"><p><span>{{item.score}}</span></p></div>
					</div>
					<div v-if="  item.score > 18.5 " class="active" :style="'width:'+ 100 +'%;'"></div>
				</div>
				<div class="number-box number">
					<span>24</span>
					<div v-if=" 24 >= item.score && item.score >18.5" class="active" :style="'width:'+ (item.score-18.5)*100/5.5 +'%;'">
						<div class="dot"><p><span>{{item.score}}</span></p></div>
					</div>
					<div v-if="  item.score > 24 " class="active" :style="'width:'+ 100 +'%;'"></div>
				</div>
				<div class="number-box number">
					<span>28</span>
					<div v-if=" 28 >= item.score && item.score >24" class="active" :style="'width:'+ (item.score-24)*25 +'%;'">
						<div class="dot"><p><span>{{item.score}}</span></p></div>
					</div>
					<div v-if="  item.score > 28 " class="active" :style="'width:'+ 100 +'%;'"></div>
				</div>
				<div class="number-box last-child">
					<div v-if=" 32 >= item.score && item.score >28" class="active" :style="'width:'+ item.score/32*100 +'%;'">
						<div class="dot"><p><span>{{item.score}}</span></p></div>
					</div>
					<div v-if="item.score > 32" class="active" :style="'width:'+ 100 +'%;'">
						<div class="dot"><p><span>{{item.score}}</span></p></div>
					</div>
				</div>
			</div>
			<div class="weight"><p>{{language.la_underweight}}</p><p>{{language.la_jkweight}}</p><p>{{language.la_overweight}}</p><p>{{language.la_obesity}}</p></div>
			<p v-show="18.5 > item.score" class="advise"><span class="dot-box"></span><span>{{language.la_underweightTip}}</span></p>
			<p v-show="23.9 > item.score && item.score > 18.5" class="advise"><span class="dot-box"></span><span>{{language.la_jkweightTip}}</span></p>
			<p v-show="27 > item.score && item.score > 24" class="advise"><span class="dot-box"></span><span>{{language.la_overweightTip}}</span></p>
			<p v-show="item.score  > 28 " class="advise"><span class="dot-box"></span><span>{{language.la_obesityTip}}</span></p>
			<div class="bottom-box"></div>
			<!--修改身体信息-->
			<div class="alter">
				<div class="title" @click="update()">{{language.la_update}}</div>
				<div v-show="isShow" class="alter-box">
					<div class="write">
						<span>{{language.la_height}}：</span>
						<div><input type="number" id="_height" max="250" min="50" v-model="height" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
						<span>cm</span>
					</div>
					<div class="write">
						<span>{{language.la_weight}}：</span>
						<div><input type="number" id="_weight" max="200" min="20" v-model="weight" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
						<span>kg</span>
					</div>
					<div class="confirm" @click="sure()">{{language.la_ok}}</div>
				</div>
			</div>
			<div class="shade" v-show="popupD" @click="shade"><div class="popup">{{item.explain}}</div></div>
		</div>
		<!--健康状态表-->
		<ul>
			<!-- 营养状态 -->
			<template v-for="item in data" v-if="item.targetId >= 1005 && item.targetId <= 1009">
			<li class="condition" @click="goAdvise(item.targetId,item.score,item.childTarget)">
				<!-- 指数大于80的时候显示蓝色 -->
				<div v-show="item.score > 80" class="img"><img src="./images/icon1005.png" /></div>
				<!-- 指数小于等于80的时候显示黄色 -->
				<div v-show="80 >= item.score" class="img"><img src="./images/icon1005-1.png" /></div>
				<div class="txt">
					<p class="title">
						<!-- 指数大于80的时候显示蓝色 -->
						<span v-show="item.score > 80">{{item.targetName}}</span>
						<!-- 指数小于等于80的时候显示黄色 -->
						<span v-show="80 >= item.score" class="yello">{{item.targetName}}</span>
						<span class="explain" @click.stop="listG()"><img src="./images/explain.png"><span>
					</p>
					<p class="declare">{{item.hintName}}</p>
				</div>
				<div v-show="item.score >= 70" class="amount" :class="{'yello-img': 80 >= item.score}">
					<div class="active">
						<p :style="'height:'+item.score +'%;'" :class="{'yello-color': 80 >= item.score}"></p>
					</div>
				</div>
				<div v-show="70 >= item.score" class="amount-yello"></div>
				<div class="shade" v-show="popupG" @click.stop="shade"><div class="popup">{{item.explain}}</div></div>
			</li>
			</template>
			
			<!-- 男性功能 -->
			<template v-for="item in data" v-if="item.targetId == 1010">
			<li v-if="sex == 1 && showSex" class="condition" @click="goAdvise(item.targetId,item.score,item.childTarget)">
				<!-- 指数大于80的时候显示蓝色 -->
				<div v-show="item.score > 80" class="img"><img src="./images/icon1010.png" /></div>
				<!-- 指数小于等于80的时候显示黄色 -->
				<div v-show="80 >= item.score" class="img"><img src="./images/icon1010-1.png" /></div>
				<div class="txt">
					<p class="title">
						<!-- 指数大于80的时候显示蓝色 -->
						<span v-show="item.score > 80">{{item.targetName}}</span>
						<span v-show="item.score > 80" class="ln"><img src="./images/ln2.png"></span>
						<!-- 指数小于等于80的时候显示黄色 -->
						<span v-show="80 >= item.score" class="yello">{{item.targetName}}</span>
						<span v-show="80 >= item.score" class="ln"><img src="./images/ln.png"></span>
						<span class="explain" @click.stop="listL()"><img src="./images/explain.png"><span>
					</p>
					<p class="declare">{{item.hintName}}</p>
				</div>
				<div v-show="item.score >= 70" class="amount" :class="{'yello-img': 80 >= item.score}">
					<div class="active">
						<p :style="'height:'+item.score +'%;'" :class="{'yello-color': 80 >= item.score}"></p>
					</div>
				</div>
				<div v-show="70 >= item.score" class="amount-yello"></div>
				<div class="shade" v-show="popupL" @click.stop="shade"><div class="popup">{{item.explain}}</div></div>
			</li>
			</template>
			<!-- 女性功能 -->
			<template v-for="item in data" v-if="item.targetId == 1011">
			<li v-if="sex != 1 && showSex" class="condition"  @click="goAdvise(item.targetId,item.score,item.childTarget)">
				<!-- 指数大于80的时候显示蓝色 -->
				<div v-show="item.score > 80" class="img"><img src="./images/icon1011.png" /></div>
				<!-- 指数小于等于80的时候显示黄色 -->
				<div v-show="80 >= item.score" class="img"><img src="./images/icon1011-1.png" /></div>
				<div class="txt">
					<p class="title">
						<!-- 指数大于80的时候显示蓝色 -->
						<span v-show="item.score > 80">{{item.targetName}}</span>
						<span v-show="item.score > 80" class="ln"><img src="./images/hg2.png"></span>
						<!-- 指数小于等于80的时候显示黄色 -->
						<span v-show="80 >= item.score" class="yello">{{item.targetName}}</span>
						<span v-show="80 >= item.score" class="ln"><img src="./images/hg.png"></span>
						<span class="explain" @click.stop="listL()"><img src="./images/explain.png"><span>
					</p>
					<p class="declare">{{item.hintName}}</p>
				</div>
				<div v-show="item.score >= 70" class="amount" :class="{'yello-img': 80 >= item.score}">
					<div class="active">
						<p :style="'height:'+item.score +'%;'" :class="{'yello-color': 80 >= item.score}"></p>
					</div>
				</div>
				<div v-show="70 >= item.score" class="amount-yello"></div>
				<div class="shade" v-show="popupL" @click.stop="shade"><div class="popup">{{item.explain}}</div></div>
			</li>
			</template>
		</ul>
		<!--皮肤评估-->
		<div class="skin" v-for="item in data" v-if="item.targetId == 1012">
			<p class="title">
				<span>{{item.targetName}}</span>
				<span class="explain" @click="clickE()"><img src="./images/explain.png"></span>
				<span class="normal" v-if="item.childTarget[0].abLevel == 1 && item.childTarget[1].abLevel == 1 && item.childTarget[2].abLevel == 1 && item.childTarget[3].abLevel == 1 ">{{language.la_normal}}</span>
			</p>
			<div class="skin-box">
				<div class="img-box">
					<div class="center">
						<div class="img">
							<img v-if="sex == 1" src="./images/boy.png"/>
							<img v-else src="./images/girl.png"/>
						</div>
						<div class="list">
							<p><span class="img-box-a">{{language.la_youzhi}}</span><span class="img-box-b">{{language.la_jiaozhi}}</span></p>
							<p><span class="img-box-c">{{language.la_shuifen}}</span><span class="img-box-d">{{language.la_jiaoyuan}}</span></p>
						</div>
					</div>
				</div>
				<div v-if="item.childTarget[0].abLevel != 1 || item.childTarget[1].abLevel != 1 || item.childTarget[2].abLevel != 1 || item.childTarget[3].abLevel != 1 " class="text-box">
					<p class="title">{{language.la_FocusImpro}}：</p>
					<!-- 胶原蛋白 -->
					<div class="suggest-box" v-show="90 > item.childTarget[0].score">
							<div class="card">
								<p><span class="img"><img src="./images/dot.png"/></span><span>胶原</span></p>
								<p class="moisture">蛋白</p>
							</div>
							<div class="suggest"><p v-show="item.childTarget[0].abLevel != 1">{{language.la_skin_danbai}}</p>		
							</div>
					</div>
					<!-- 皮肤油脂 -->
					<div class="suggest-box" v-show="90 > item.childTarget[1].score">
						<div class="card">
							<p><span class="img"><img src="./images/dot.png"/></span><span>皮肤</span></p>
							<p class="moisture">油脂</p>
						</div>
						<div class="suggest"><p v-show="item.childTarget[1].abLevel != 1">{{language.la_skin_youzhi}}</p></div>
					</div>
					<!-- 皮肤水分 -->
					<div class="suggest-box" v-show="90 > item.childTarget[2].score">
						<div class="card">
							<p><span class="img"><img src="./images/dot.png"/></span><span>皮肤</span></p>
							<p class="moisture">水分</p>
						</div>
						<div class="suggest"><p v-show="item.childTarget[2].abLevel != 1">{{language.la_skin_shuifen}}</p></div>
					</div>	
					<!-- 皮肤角质 -->	
					<div class="suggest-box" v-show="90 > item.childTarget[3].score">
						<div class="card">
							<p><span class="img"><img src="./images/dot.png"/></span><span>皮肤</span></p>
							<p class="moisture">角质</p>
						</div>
						<div class="suggest">
							<p v-show="item.childTarget[3].abLevel == 2">{{language.la_skin_jiaozhi1}}</p>	
							<p v-show="item.childTarget[3].abLevel > 2">{{language.la_skin_jiaozhi2}}</p>	
						</div>
					</div>
				</div>
			</div>
			<div class="shade" v-show="popupE" @click="shade"><div class="popup">{{item.explain}}</div></div>
		</div>
	</div>
	<!---广告--->
    <section class="ban_gg" style="width: 100%;">
    	<div class="v_content" style="width: 6.9rem; height: 1.5rem; margin: 0 auto; overflow: hidden; position: relative;">
	    	<ul class="v_list" style="width: 300%; position: absolute; overflow: hidden;">
	    		<li v-for="item in banData" style="float: left;">
	    			<a :href="item.bannerUrl"><img :src="item.bannerImg" style="width: 6.9rem; height: 1.4rem;"></a>
	    		</li>
	    	</ul>
	    </div>
    </section>
    <!---广告end--->
    <!--<div id="btn" class="zhiCustomBtn"></div>-->
</DIV>
<script type="text/javascript" src="js/jquery.js"></script>
<script>document.write('<script src="js/base.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/language.js"></script>
<script type="text/javascript" src="zhuge.js"></script>
<script type="text/javascript" src="js/jquery.animateNumber.min.js"></script>
<script>document.write('<script src="js/report3.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script class="zhiCustomBtn" id="zhichiScript" src="https://www.sobot.com/chat/frame/js/entrance.js?sysNum=7fcb0a4d0b0a42aaabf60e5b0c86d7d8" data-args="manual=true" charset="utf-8"></script>
<script>
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script> 
</body>
</html>
