<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>健康报告</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<script>document.write('<link rel="stylesheet" type="text/css" href="css/style.css?t=' + new Date().getTime() + '" \/>')</script>
<script>document.write('<link rel="stylesheet" type="text/css" href="css/kanghao130.css?t=' + new Date().getTime() + '" \/>')</script>
</head>
<body>
<DIV class="my_view" style="display: none;">
<section class="bodySta">
	<div class="toper">
		<div class="gao">
			<div class="fl per"  @click="checkHistory()"><img src="img/kh130/i-his.png" ><span>历史</span></div>
			<button class="fr per" id="goToShare" @click="goToShare('goToShare')" style="background: none;"><span>分享</span><img src="img/kh130/i-share.png" ></button>
		</div>
		<!--<div class="staer">
			<p style="position: absolute; left: 12%; top: 71%;">最佳状态</p>
			<p style="position: absolute; left: 11%; top: 17%;">良好状态</p>
			<p style="position: absolute; left: 44%; top: -17%;">一级风险</p>
			<p style="position: absolute; left: 76%; top: 17%;">二级风险</p>
			<p style="position: absolute; left: 75%; top: 71%;">三级风险</p>
			<div class="stabg"><i id="pointer" class="pointer"></i></div>
		</div>-->
		<div class="kh-inf">
			<div class="huolizhi fl">
				<div class="d-chart">
					<div class="toscore">
						<span>80</span>
						<p class="dian"><i></i></p>
					</div>
					<p style="line-height: .46rem;">健康活力值</p>
				</div>
				
			</div>
			<div class="fengxian fr">
				<p :class="{active:totalScore>=95}"><i style="background: #2FC7BE;"></i><span>最佳状态</span></p>
				<p :class="{active:totalScore>=90 && totalScore<95}"><i style="background: #53CFE0;"></i><span>良好状态</span></p>
				<p :class="{active:totalScore>=85 && totalScore<90}"><i style="background: #ACE260;"></i><span>一级风险</span></p>
				<p :class="{active:totalScore>=80 && totalScore<85}"><i style="background: #FFC255;"></i><span>二级风险</span></p>
				<p :class="{active:totalScore<80}"><i style="background: #FF8C3E;"></i><span>三级风险</span></p>
			</div>
		</div>
	</div>
	<div class="bodyqg">
		<div class="qglist">
			<a class="qgitem" v-for="item in firsts" :key="item.targetId">
				<div class="cn" :class="{ lit:item.score<90 && item.score>=80,mid:item.score<80 }" @click="goSecond(item)">
					<i><img :src="'img/kh130/qg-'+item.targetId+'.png'"></i>
					<p>{{item.targetName}}</p>
				</div>
			</a>
		</div>
		<div class="renti" :class="{woman:sex!=1}">
			<span class="biditem" :class="item.targetId" v-for="item in firsts" v-if="item.score<90" @click="goSecond(item)"><i></i></span>
		</div>
	</div>	
</section>
<section class="riskSta">
	<p class="btit"><i></i><span>异常指标项</span><i></i></p>
	<ul class="tabrisk">
		<li class="tabitm"><p @click.stop="showRiskItems(1)"><i></i><span>中度风险</span></p></li>
		<li class="tabitm"><p @click.stop="showRiskItems(2)"><i></i><span>轻度风险</span></p></li>
	</ul>
	<div class="tabriskcon" v-show="activeRiskItems == 1">
		<em class="jiao"></em>
		<ul>
			<li v-for="item in moderate" :key="item.targetId" @click="goThird(item)">
				<i></i><span class="lab">{{item.targetName}}</span>
			</li>
		</ul>
	</div>
	<div class="tabriskcon lit" v-show="activeRiskItems == 2">
		<em class="jiao"></em>
		<ul>
			<li v-for="item in mild" :key="item.targetId" @click="goThird(item)">
				<i></i><span class="lab">{{item.targetName}}</span>
			</li>
		</ul>
	</div>
	<p class="btit"><i></i><span>生理年龄</span><i></i></p>
	<div class="phyage">
		<div class="agecn">
			<span><b>{{customerAge}}</b>岁</span> <span><b>{{physicalAge}}</b>岁</span> <span>{{physicalAge-customerAge}}</span>
		</div>
		<p class="titname"><span>实际年龄</span><span>生理年龄</span><span>年龄差</span></p>
		<p class="tip" v-if="physicalAge-customerAge < 0">您的生理年龄低于实际年龄，身体年轻态，请继续保持哦！</p>
		<p class="tip" v-if="physicalAge-customerAge > 0">您的生理年龄高于实际年龄，请注意管理健康哦！</p>
		<p class="tip" v-if="physicalAge-customerAge == 0">您的生理年龄与实际年龄相当，请继续努力，力争变的更年轻哦！</p>
	</div>
	<template v-if="inspectSkinView">
	<p class="btit"><i></i><span>皮肤状态</span><i></i></p>
	<div style="padding: .2rem 0 .3rem;">
		<div class="pf-main">
			<div class="pifu_zls">
				<p class="tit" ><span>肤质</span><span>肤龄</span><span style="border: none;">肤色</span></p>
				<p class="txt"><span>{{inspectSkinView.skinTypeResult}}</span><span>{{inspectSkinView.age}}</span><span>{{skinColor[inspectSkinView.color]}}</span></p>
			</div>
		</div>
		<div class="questionZS">
            <div class="box" :style="sex.qianBg">
            	<i class="i"></i><span>肌肤问题</span><span class="weight"><em v-for="item in diseaseResult">{{item}}</em></span><i class="q" @click="showskinQe(inspectSkinView.diseaseExplain)"></i>
            </div>
        </div>  
        <div class="new_face">
            <div class="user_face" @click="originImg()"><img class="show_photo" :src="inspectSkinView.fileName" ></img><span class="xg">查看<br>原图</span></div>
            <div class="last_q" :class="{man:sex == 1}">
                <div class="img_q">
                    <span :class="item.targetName" v-for="item in inspectSkinView.minList"></span>
                </div>
            </div>
            <div class="text_q" >
                <div class="l_q">
                	<span :class="item.targetName" v-for="item in inspectSkinView.minList"></span>
                </div>
            </div>
        </div>
        <div class="pifutab">
        	<div class="btitem zd" @click="gotoSkin()">
        		<p class="tit"><i></i><span>重点关注</span></p><p class="txt">({{inspectSkinView.majorList.length}}项)</p>
        	</div>
        	<div class="btitem yd" @click="gotoSkin()">
        		<p class="tit"><i></i><span>有待改善</span></p><p class="txt">({{inspectSkinView.awaitList.length}}项)</p>
        	</div>
        	<div class="btitem jx" @click="gotoSkin()">
        		<p class="tit"><i></i><span>继续保持</span></p><p class="txt">({{inspectSkinView.continueList.length}}项)</p>
        	</div>
        </div>
        <p class="gotoskin"><button @click="gotoSkin()">查看更多</button></p>
	</div>
	</template>
	
	
	<p class="btit"><i></i><span>身体状况</span><i></i></p>
	<!--<div class="stjk">
		<div class="huoli s_li">
			<p class="tt"><span>健康活力值</span><i @click="popExplain('健康活力值',healthExplain)">?</i></p>
			<p class="bo"><em></em><span class="fr">{{totalScore}}</span></p>
		</div>
		<div class="bmi s_li">
			<p class="tt"><span>体型</span><i @click="popExplain('体型',bmiexplain)">?</i><button class="fr" @click.stop="goUpdate()">更新</button></p>
			<p class="bo"><em></em>
				<span class="fr" v-if="bmi<18.5">偏轻</span>
				<span class="fr" v-if="bmi<24 && bmi>=18.5">健康</span>
				<span class="fr" v-if="bmi<28 && bmi>=24">超重</span>
				<span class="fr" v-if="bmi>=28">肥胖</span>
			</p>
			<div class="alter-box" v-show="showUpdateBmi" @click.stop="">
				<div class="write">
					<span>身高：</span>
					<div><input type="number" id="_height" max="250" min="50" v-model="height" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
					<span>cm</span>
				</div>
				<div class="write">
					<span>体重：</span>
					<div><input type="number" id="_weight" max="200" min="20" v-model="weight" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
					<span>kg</span>
				</div>
				<div class="confirm" @click.stop="updateBmi()">确定</div>
			</div>
		</div>
	</div>-->
	<div class="zk_list">
		<div class="zk_item tixing" style="overflow: initial;">
			<em class="ico"></em><span class="lab">体型</span><i class="pop" @click="popExplain('体型',bmiexplain)">?</i>
			<div class="leve fr" style="position: relative;">
				<template v-if="bmi<18.5"><em class="on">偏轻</em><em>健康</em><em>超重</em><em>肥胖</em></template>
				<template v-if="bmi<24 && bmi>=18.5"><em>偏轻</em><em class="on">健康</em><em>超重</em><em>肥胖</em></template>
				<template v-if="bmi<28 && bmi>=24"><em>偏轻</em><em>健康</em><em class="on">超重</em><em>肥胖</em></template>
				<template v-if="bmi>=28"><em>偏轻</em><em>健康</em><em>超重</em><em class="on">肥胖</em></template>
				<button class="fr" @click.stop="goUpdate()">更新</button>
				<div class="alter-box" v-show="showUpdateBmi" @click.stop="">
					<div class="write">
						<span>身高：</span>
						<div><input type="number" id="_height" max="250" min="50" v-model="height" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
						<span>cm</span>
					</div>
					<div class="write">
						<span>体重：</span>
						<div><input type="number" id="_weight" max="200" min="20" v-model="weight" pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" /></div>
						<span>kg</span>
					</div>
					<div class="confirm" @click.stop="updateBmi()">确定</div>
				</div>
			</div>
		</div>
		<div class="zk_item" :class="item.targetId" v-for="item in conditions" :key="item.targetId">
			<em class="ico"></em><span class="lab">{{item.targetName}}</span><i class="pop" @click="popExplain(item.targetName,item.explain)">?</i>
			<p class="leve fr" v-if="item.targetId != 'C3230' && item.targetId != 'C3231'">
				<template v-if="item.abLevel == 0">
					<em class="on"></em><em class="on"></em><em class="on"></em><em class="on"></em><em class="on"></em>
				</template>
				<template v-else-if="item.abLevel == 1">
					<em class="on"></em><em class="on"></em><em class="on"></em><em class="on"></em><em></em>
				</template>
				<template v-else-if="item.abLevel == 2">
					<em class="on"></em><em class="on"></em><em class="on"></em><em></em><em></em>
				</template>
				<template v-else-if="item.abLevel == 3">
					<em class="on"></em><em class="on"></em><em></em><em></em><em></em>
				</template>
				<template v-else>
					<em class="on"></em><em></em><em></em><em></em><em></em>
				</template>
			</p>
			<p class="leve fr" v-if="item.targetId == 'C3230'">
				<template v-if="item.abLevel == 0">
					<em></em><em></em><em></em><em></em><em class="active"></em>
				</template>
				<template v-else-if="item.abLevel == 1">
					<em></em><em></em><em></em><em class="active"></em><em></em>
				</template>
				<template v-else-if="item.abLevel == 2">
					<em></em><em></em><em class="active"></em><em></em><em></em>
				</template>
				<template v-else-if="item.abLevel == 3">
					<em></em><em class="active"></em><em></em><em></em><em></em>
				</template>
				<template v-else>
					<em class="active"></em><em></em><em></em><em></em><em></em>
				</template>
			</p>
			<div class="leve fr" v-if="item.targetId == 'C3231'">
				<p class="probj"></p>
				<p class="progress" style="width: 100%;" v-if="item.abLevel == 0"></p>
				<p class="progress" style="width: 80%;" v-else-if="item.abLevel == 1"></p>
				<p class="progress" style="width: 60%;" v-else-if="item.abLevel == 2"></p>
				<p class="progress" style="width: 40%;" v-else-if="item.abLevel == 3"></p>
				<p class="progress" style="width: 20%;" v-else></p>
			</div>
		</div>
	</div>
</section>
<template v-if="inspectSkinView"><div class="orginImg"><img class="img_b" :src="inspectSkinView.fileName"></div></template>
<div class="jysp">
	<p class="" @click="getSuggest()"><i></i><span>专属<br>建议</span></p>
	<p class="" @click="getRecipesData()"><i></i><span>健康<br>食谱</span></p>
</div>
<a class="kefu" href="https://www.sobot.com/chat/pc/index.html?sysNum=7fcb0a4d0b0a42aaabf60e5b0c86d7d8&titleFlag=2&customTitle=智能健康助手"><i></i><span>智能健康助手</span></a>
<p style="height: .3rem;"></p>
</DIV>
<div class="v_overlay"></div>
<div class="v_overlert">
	<div class="tc_sy">
		<em class="close"></em>
		<p class="bit"><span class="labt">test</span><em></em></p>
		<div class="bxt" style="text-align: left;">test</div>
	</div>
</div>
<div class="load-overlay"><p class="loadimg"><img src="img/loading.gif"></p></div>

<script type="text/javascript" src="js/jquery.js"></script>
<script>document.write('<script src="js/base.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="zhuge.js"></script>
<script src="js/circle-progress.js"></script>
<!--<script class="zhiCustomBtn" id="zhichiScript" src="https://www.sobot.com/chat/frame/js/entrance.js?sysNum=7fcb0a4d0b0a42aaabf60e5b0c86d7d8" data-args="manual=true" charset="utf-8"></script>-->
<script>document.write('<script src="js/report130.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>
(function () {
    if (typeof WeixinJSBridge == "object" && typeof WeixinJSBridge.invoke == "function") {
        handleFontSize();
    } else {
        if (document.addEventListener) {
            document.addEventListener("WeixinJSBridgeReady", handleFontSize, false);
        } else if (document.attachEvent) {
            document.attachEvent("WeixinJSBridgeReady", handleFontSize);
            document.attachEvent("onWeixinJSBridgeReady", handleFontSize);
        }
    }
    function handleFontSize() {
        WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize': 0 });
        WeixinJSBridge.on('menu:setfont', function () {
            WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize': 0 });
        });
    }
})();	
</script>
</body>
</html>