<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>心理报告</title>
  <link rel="stylesheet" href="css/basic.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <script>
      document.write('<link rel="stylesheet" href="css/pychology2.css?t='+new Date().getTime()+'">')
  </script>
</head>
<body>
  <div class="loadmore loading"></div>
  <div id="app">
    <div class="mask"  @click="Touchmove"></div>
    <div class="popup">
      <i class="close"  @click="Touchmove"></i>
      <h1>展示区</h1>
      <div class="huadong">
      </div>
    </div>
    <div class="user_name">
      <span class="lishi" @click="gohistory()" style="text-align: center;"><img src="./img/psy2/history.png" ><em>历史</em></span>
      <span class="time" >2019-06-17 20:34:56</span>
      <span class="zhinan" @click="stopTouchmove(event)" data-h="指南" :data-t="zhinan" ><img src="./img/psy2/zhinan.png"><i>指南</i></span>
    </div>
    <div class="center1">
      <div class="huaxiang">
        <h4>情绪画像</h4>
        <span :class="'sp'+(index+1)" v-for="(item,index) in moodViewsList">{{item}}</span>
      </div>
      <div class="zhishu1" data-target="tu">
          <h4>情绪指数</h4>
          <div class="ec">
              <div class="eahar" id="echa3" style="width:9rem;height:4.8rem;position: absolute;top:.45rem;left:-.8rem;" ></div>
              <div class="biaoji">
                <span class="hong"><em></em>同龄人平均值</span>
                <span class="lan"><em></em>您的测量值</span>
              </div>
              <span class="btn" data-go="zhishu2">雷达图</span>
          </div>
      </div>
      <div class="zhishu2" data-target="tu">
          <h4>情绪指数</h4>
          <div class="ech_box">
            <div class="eahar" id="main" style="width:6.98rem;height:5.6rem;" ></div>
            <div class="question_box"  >
              <span v-for="(item,index) in leidaObj1" :class="'q_' + ( index + 1 )" @click="stopTouchmove(event)" :data-h="item.leidaH" :data-t="item.leidaT">{{item.leidaName}}<i></i></span>
            </div>
            <div class="biaoshi"><em><i></i>同龄人平均值</em><em><i></i>您的测量值</em></div>
          </div>
          <span class="btn" data-go="zhishu1" >曲线图</span>
      </div>
    </div>
    <div class="center2">
      <div class="swiper-container" style="height:7.65rem;padding-top:1rem;">
        <div class="swiper-wrapper">
            <!-- 适中背景clas="ssw1"   过高过低字体改变颜色 class="ssbox1" -->
            <template v-for="(item,index) in metricViews">
              <div class="swiper-slide ssw" :class="{ssw1:item.threshholdType == '适中',ssw:item.threshholdType != '适中'}">
                <b><i></i></b>
                <div class="ssbox" :class="{ssbox1:item.threshholdType != '适中'}">
                    <h5>{{item.metricName}}</h5>
                    <h6>{{item.threshholdType}}</h6>
                    <div class="text">
                      <span><em></em><i>{{item.threshholdExplain.split('\n')[0]}}</i> </span>
                      <span><em></em><i>{{item.threshholdExplain.split('\n')[1]}}</i> </span>
                    </div>
                </div>
              </div>
            </template>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="center3">
        <div class="jiedu" v-for="(item,index) in metricViews" :class="'jie'+(index+1)">
          <h4>情绪解读</h4>
          <div class="jj">
            <div class="body1" >
              <div class="sen_box"><div class="box"><span class="red" :style="item.left"><em class="zhezhao" :style="item.width"></em><i class="r_img"><img src="./img/psy2/n_head.png" alt=""></i><i class="r_k"></i></span><span class="yellow" :style="item.leftP"><i class="y_img"><img src="./img/psy2/o_head.png" alt=""></i><i class="y_k"></i></span></div></div>
              <p><em>低</em><em>高</em></p>
            </div>
            <div class="h4_biaoshi"><em><i></i>您的测量值</em><em><i></i>同龄人群平均值</em></div>
          </div>
          <div class="renzhi">
            <h2>认识情绪</h2>
            <div class="renbox">
              <i class="shu"></i>
              <i class="heng"></i>
              <i class="im"></i>
              <div class="si1 s1">
                <h3><i></i>行为表现</h3>
                <div>
                  <span v-for="site in item.cognitiveEmotions.actionExpression">{{site}}</span>
                </div>
              </div><div class="si1 s2">
                <h3><i></i>认知表现</h3>
                <div>
                    <span v-for="site in item.cognitiveEmotions.cognitionExpression">{{site}}</span>
                </div>
                </div><div class="si1 s3">
                    <h3><i></i>情绪表现</h3>
                    <div>
                      <span v-for="site in item.cognitiveEmotions.moodExpression">{{site}}</span>
                    </div>
                  </div><div class="si1 s4">
                      <h3><i></i>身体表现</h3>
                      <div>
                        <span v-for="site in item.cognitiveEmotions.bodyExpression">{{site}}</span>
                      </div>
                    </div>
            </div> 
          </div>
          <div class="jianyi" v-if="item && item.threshholdSuggestion">
              <h2>建议</h2>
              <div class="renzhibox">
                <span><i></i><em>{{item.threshholdSuggestion}}</em></span>
                <!-- <span><i></i><em>通过多运动、和亲朋好友联系、看喜剧电影、旅游等方式来维持自身平衡；适当增加自身的紧迫性和积极性；</em></span> -->
              </div>
          </div>
          <div class="shuji">
              <h2>相关推荐</h2>
              <div class="shubox">
                <div class="div1">
                  <span><i></i>书籍推荐：</span><em><b v-for="site in item.bookRecommends">{{site}}</b></em>
                </div>
                <div class="div2">
                  <span><i></i>音乐推荐：</span><em><b v-for="site in item.musicRecommends">{{site}}</b></em>
                </div>
                <div class="div3">
                  <span><i></i>电影推荐：</span><em><b v-for="site in item.movieRecommends">{{site}}</b></em>
                </div>
                <div class="div4">
                  <span><i></i>食物推荐：</span><em><b v-for="site in item.foodRecommends">{{site}}</b></em>
                </div>
              </div>
          </div>
          <div class="qushi">
              <h2>历史趋势</h2>
              <div class="qubox">
                  <div class="eahar" :id="'qu'+(index+1)" style="width:8.5rem;height:4.8rem;position: absolute;top:-.8rem;left:-.89rem;" ></div>
              </div>
          </div>
        </div>                 
    </div>
  </div>
  <script src="./js/base.js"></script>
  <script src="js/jquery.js"></script>
  <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script> 
  <script src="./js/vue.min.js"></script> 
  <script src="js/swiper.min.js"></script>
  <script type="text/javascript">
    (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var    clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if(clientWidth>=750){
              docEl.style.fontSize = '100px';
          }else{
              docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
          }
        };
      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
  <script>document.write('<script src="js/report231.js?t=' + new Date().getTime() + '"><\/script>')</script>
</body>
</html>