<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>报告详情</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css?v=201807002" />
</head>
<body>
<div class="my_view" style="visibility: hidden;">
<section id="appVUE">
	<header class="header">
		<p class="t-cen txt1"><span>{{targetThirdName}}</span></p>
		<a class="b-arr fl" href="javascript:history.go(-1);"></a>
		<!--<a class="t-right fr" id="gotrend">查看趋势</a>-->
	</header>
	
	<div class="thr_sta">
		<p class="sta_i"><i :class="abnormalLevelStr">{{score}}</i></p>
		<p class="sta_t">
			<span>{{language.la_ass_results}}：
				<em>{{inspectStandard==1?language.la_normal:(inspectStandard==2?language.la_piangao:language.la_piandi)}}</em>
			</span>
		</p>
	</div>
	
	<div class="thr_tit"><i></i><span>{{language.la_bid_int}}</span></div>
	<div class="thr_cn">	
		<div class="ctxt">
			{{inspectExplain}}
		</div>	
	</div>
	<p style=" height: .2rem; background: #F2F2F2;"></p>
	
	<div class="thr_tit thr_jy"><i></i><span>{{language.la_jkAdvice}}</span></div>
	<!--健康建议内容-->
	<div class="">
		<div class="jkjy_wrap" v-if="dietList">
			<p class="btite"><span class="lab">{{language.la_sug_diet}}</span><i class="ico" @click="ssjyTab()"></i></p>
			<div class="box-c" v-for="(site,index) in dietList">
				<p class="tit02" @click="showHide($event)">{{options[index]}}、{{site.indexName}}<i class="fr"></i></p>
				<div class="txt03">
					<p>{{site.personality}}</p>
					<p v-html="site.proposal"></p>
				</div>
			</div>
		</div>
		<p v-if="dietList" style="height: .3rem; background: #F4F4F4;"></p>
	
		<div class="jkjy_wrap" v-if="motionList">
			<p class="btite"><span class="lab">{{language.la_sug_sport}}</span><i class="ico" @click="yysTab()"></i></p>
			<div class="box-c" v-for="(msite,index) in motionList">
				<!--<p class="tit01"></p>-->
				<div class="txt02">
					{{index+1}}.{{msite.personality}}
				</div>
			</div>
		</div>
		<p v-if="motionList" style="height: .3rem; background: #F4F4F4;"></p>
		
		<div class="jkjy_wrap" v-if="nutritionList">
			<p class="btite"><span class="lab">{{language.la_sug_nut}}</span><i class="ico" @click="yysTab()"></i></p>
			<div class="box-c" v-for="(osite,index) in nutritionList">
				<p class="tit01">{{options[index]}}.{{osite.indexName}}</p>
				<div class="txt02">
					<p>{{osite.personality}}</p>
					<p>{{osite.simpleDescription}}</p>
				</div>
			</div>
		</div>	
	</div>	
	<!--健康建议内容 end-->
	<p class="thr_jy" style=" height: .2rem; background: #F2F2F2;"></p>
	<div class="thr_tit"><i></i><span>{{language.la_histTre}}</span></div>
	<div class="" id="ichart" style=" width: 95%; margin: 0 auto; height: 300px; top: -.8rem;"></div>
</section>

<div id="btn" class="zhichi zhiCustomBtn"></div>
	
</div>

<div class="v_overlay"></div>
<div class="v_overlert" id="ssjyTab">
	<div class="tc_sy">
		<p class="bit2">
			<span class="labt">康加膳食、营养专家 肖荣教授领衔的专家团队为您提供。</span>
		</p>
		<div class="bxt">
			肖 荣   <br/>
			博士/教授，博士生导师<br/>
			中国营养学会常务理事 <br/>
			中国优生科学协会常务理事<br/>
			中国营养学会学术交流工作委员会委员<br/>
			北京营养师协会副理事长<br/>
			首都医科大学公共卫生学院营养与食品卫生学系主任<br/>
		</div>
	</div>
</div>
<div class="v_overlert" id="yysTab">
	<div class="tc_sy">
		<p class="bit2">
			<span class="labt">康加运动学专家 高岭娣教授、生活方式专家 潘晓明博士领衔的专家团队为您提供。</span>
		</p>
		<div class="bxt">
			高岭娣<br/>     
			首都医科大学卫生与教育管理学院体育学系主任/副教授<br/><br/>
			
			潘晓明<br/>     
			中医博士<br/>
			北京大学医学部研究中心学术部副主任<br/>
			深圳市中医药健康服务协会副会长；<br/>
		</div>
	</div>
</div>

<div class="load-overlay"><p class="loadimg"><img src="img/loading.gif"></p></div>
<script type="text/javascript" src="js/jquery.js"></script>
<script>document.write('<script src="js/base.js?t=' + new Date().getTime() + '"><\/script>')</script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/language.js"></script>
<script type="text/javascript" src="js/echarts/echarts.min.js"></script>
<script class="zhiCustomBtn" id="zhichiScript" src="https://www.sobot.com/chat/frame/js/entrance.js?sysNum=7fcb0a4d0b0a42aaabf60e5b0c86d7d8" data-args="manual=true" charset="utf-8"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>
$('.my_view').css("visibility","hidden");
$('.load-overlay').css("display","block");
var reportId = getQueryString('reportId');
var targetId = getQueryString("targetId");
var userId = getQueryString('userId');
var JsSrc = (navigator.language || navigator.browserLanguage).toLowerCase();  //获取系统语言
console.log(JsSrc);
if(JsSrc.indexOf('zh')>=0){
	var language = zh;
	var languageStr = 'zh';
}else if(JsSrc.indexOf('en')>=0){
    var language = en;
    var languageStr = 'en';
    document.title = 'Report details'
}else{
	var language = en;
    var languageStr = 'en';
    document.title = 'Report details'
}
var myApp = new Vue({
	el:'#appVUE',
	data: function(){
		return{
			reportId: reportId,
			targetId: targetId,
			userId: userId,
			targetThirdName:'',
			score:'', 
			inspectStandard:'', //偏高偏低
			abnormalLevel:'', //异常程度
			abnormalLevelStr:'',
			inspectExplain:'',
			dietList:'',//膳食
			nutritionList:'',// 营养
			motionList:'', //运动
			options:['一','二','三','四','五','六','七','八','九','十','十一','十二','十三','十四','十五','十五','十六'],
			language: language
		}
	},
	mounted: function(){
		this.targetProposal();
		this.findThirdTrend();
	},
	methods:{
		targetProposal: function(){ //获取数据
			var vm = this;
			$.ajax({
				url : dataUrl + "/api/v1/reportIndex/targetProposal",
				type : "POST",
				dataType : 'json',
				data : {
				    reportId : reportId,
				    targetId : targetId
				},
				success : function(res) {
					if(res.code == 200){
						$('.my_view').css("visibility","visible");
						$('.load-overlay').css("display","none");
						if(res.data.dietList){
							for(var i=0;i<res.data.dietList.length;i++){
								var newProp = res.data.dietList[i].proposal.replace(/\n/g, "<br/>");
								res.data.dietList[i].proposal = newProp;
							}
						}
						vm.targetThirdName = res.data.guideThirdVo.targetThirdName //指标名称
				   		vm.score = res.data.guideThirdVo.score //指标得分
				   		vm.inspectStandard = res.data.guideThirdVo.inspectStandard //偏高偏低
				   		vm.abnormalLevel = res.data.guideThirdVo.abnormalLevel //异常成度
				   		vm.abnormalLevelStr = languageStr+res.data.guideThirdVo.abnormalLevel //class+异常成度
				   		vm.inspectExplain = res.data.guideThirdVo.inspectExplain //指标介绍
				   		vm.dietList = res.data.dietList //膳食
					    vm.nutritionList = res.data.nutritionList //营养
					    vm.motionList = res.data.motionList //运动
						if(!vm.dietList && !vm.nutritionList && !vm.motionList){
							$('.thr_jy').css("display","none");
						}
					}
				},
				error : function(obj,msg){alert('targetProposal error')}
			});
		},
		showHide: function(e){
			if($(e.target).next('.txt03').css("display") == 'none'){
				$(e.target).next('.txt03').css("display","block");
				$(e.target).find('i').css('transform','rotate(180deg)');
			}else{
				$(e.target).next('.txt03').css("display","none");
				$(e.target).find('i').css('transform','rotate(0deg)');
			}
		},
		ssjyTab: function(){
			event.stopPropagation();
			showMask();
			$('#ssjyTab').css({"visibility":"visible","opacity":"1"});
			return false;
		},
		yysTab: function(){
			event.stopPropagation();
			showMask();
			$('#yysTab').css({"visibility":"visible","opacity":"1"});
			return false;
		},
		findThirdTrend: function(){ //调用三级指标历史趋势
			var vm = this;
			$.ajax({
				url : dataUrl + "/api/v2/reportThird/findThirdTrend",
				type : "POST",
				dataType : 'json',
				data : {
				    userId : userId,
				    targetId : targetId
				},
				success : function(trendData) {
					if(trendData.code == 200){
						var arryDate = [],arryVal = [];
						for(var i=0;i<trendData.data.length;i++){
							arryDate.push(trendData.data[i].inspectDateStr);
							//arryVal.push(trendData.data[i].score);
							arryVal.push(reviseScore(trendData.data[i].score));
						};
						console.log(arryDate);
						console.log(arryVal);
						intchart('ichart','',arryDate,arryVal);
					}
				},
				error : function(obj,msg){alert(obj  + msg);}
			});
		}
	}
});

//矫正趋势得分
function reviseScore(score) {
	if (score != null) {
		if (score < 0) {// 偏低
			score = -score;
		} else if (score > 100) {
			score = 200 - score;
		}
	}
	return score;
}

//查用户信息对接智齿客服
$.ajax({
	url : dataUrl + "/api/v1/reportUser/findUserById",
	type : "POST",
	dataType : 'json',
	data : {
	    userId : userId
	},
	success : function(userData) {
		if(userData.code == 200){
			//初始化智齿咨询组件实例
			var zhiManager = (getzhiSDKInstance());
			zhiManager.set("color", '09aeb0');  //取值为0-9a-f共六位16进制字符[主题色] | 默认取后台设置的颜色
			zhiManager.set('location',1); //位置
			zhiManager.set('horizontal', 20); //设置水平边距，默认水平为 20 像素
			zhiManager.set('vertical', 50); //设置垂直边距，默认垂直为 40 像素
			zhiManager.set('powered',false); //隐藏聊天窗体底部的智齿科技冠名
			zhiManager.set('lan', 'zh'); //支持语言
			zhiManager.set('moduleType',3); //机器人客服优先模式
			zhiManager.set('title', '欢迎咨询'); //咨询按钮文案   移动端无用
			zhiManager.set('customBtn', 'true');  //不使用默认咨询按钮
			zhiManager.set('customMargin', 200);
			//设置用户信息
			zhiManager.set('uname',userData.data.userName);
			zhiManager.set('realname',userData.data.userName);
			zhiManager.set('tel',userData.data.mobile);
			zhiManager.set('remark','报告ID： '+reportId);
			zhiManager.on("load", function() {
			    zhiManager.initBtnDOM();
			});
		//////
		}
	},
	error : function(obj,msg){console.log(obj+msg + ":查用户出错");}
});
//截取URL 获取
function getQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
};
//弹
function showMask(){
	$('.v_overlay').css({"visibility":"visible","opacity":"1"});
	$(document).on('touchmove',function(e){
		e.preventDefault();//阻止滚动
	})
}
$('.v_overlay').click(function(){
	$('.v_overlay').css({"visibility":"hidden","opacity":"0"});
	$('.v_overlert').css({"visibility":"hidden","opacity":"0"});
	$(document).off("touchmove")
});
function intchart(el,tit,arryDate,arryVal){
	var myChart = echarts.init(document.getElementById(el));
	option = {
	    title: {
	    	//show: false,
	        text: tit
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	    	show:false
	    },
	    grid: {
	        left: '3%',
	        right: '10%',
	        bottom: '10%',
	        containLabel: true
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        axisLabel:{
	            textStyle:{
	                color:"#222"
	        }},
	        data: arryDate
	    },
	    yAxis: {
	        type: 'value',
	        scale:true,
		    boundaryGap:['10%','0%'],
		    max:100
	    },
	    series: [
	        {
	            name:'得分',
	            type:'line',
	            stack: '总量',
	            data:arryVal,
	            itemStyle:{
	                normal:{
	                    color:'#2c886f',  
	                    lineStyle:{  
	                        color:'#2c886f'  
	                    }  
	                }
	            }
	        }
	        
	    ]
	};
	myChart.setOption(option);
}
</script>
</body>
</html>
