<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>报告详情</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div class="my_view" id="appVUE" style="display: none;">
	<header class="header">
		<p class="t-cen txt1"><span>{{targetThirdName}}</span></p>
		<a class="b-arr fl" href="javascript:history.go(-1);"></a>
		<!--<a class="t-right fr" id="gotrend">查看趋势</a>-->
	</header>
	
	<div class="thr_sta">
		<p class="sta_i"><i v-bind:class="abnormalLevelStr">{{score}}</i></p>
		<p class="sta_t">
			<span>评估结果：
				<em>{{inspectStandard==1?'正常':(inspectStandard==2?'偏高':'偏低')}}</em>
			</span>
		</p>
	</div>
	
	<div class="thr_tit"><i></i><span>指标解读</span></div>
	<div class="thr_cn">	
		<div class="ctxt">
			{{inspectExplain}}
		</div>	
	</div>
	<p style=" height: .2rem; background: #F2F2F2;"></p>
	
	<div class="thr_tit thr_jy"><i></i><span>健康建议</span></div>
	<!--健康建议内容-->
	<!--<iframe src="suggest.html" width="100%"></iframe>-->
<div class="">
	<div class="jkjy_wrap">
		<p class="btite"><span class="lab">膳食建议</span><i class="ico ssjyTab"></i></p>
		<div class="box-c" v-for="(site,index) in dietList">
			<p class="tit02">{{options[index]}}、{{site.indexName}}<i class="fr"></i></p>
			<div class="txt03">
				<p>{{site.personality}}</p>
				<p v-html="site.proposal"></p>
			</div>
		</div>
		<div class="zanshi" style="display: none">暂时没有数据</div>
	</div>
	<p style="height: .3rem; background: #F4F4F4;"></p>

	<div class="jkjy_wrap">
		<p class="btite"><span class="lab">运动和生活方式建议</span><i class="ico yysTab"></i></p>
		<div class="box-c" v-for="(msite,index) in motionList">
			<!--<p class="tit01"></p>-->
			<div class="txt02">
				{{index+1}}.{{msite.personality}}
			</div>
		</div>
		<div class="zanshi" style="display: none">暂时没有数据</div>
	</div>
	<p style="height: .3rem; background: #F4F4F4;"></p>
	
	<div class="jkjy_wrap">
		<p class="btite"><span class="lab">营养素建议</span><i class="ico ssjyTab"></i></p>
		<div class="box-c" v-for="(osite,index) in nutritionList">
			<p class="tit01">{{options[index]}}.{{osite.indexName}}</p>
			<div class="txt02">
				<p>{{osite.personality}}</p>
				<p>{{osite.simpleDescription}}</p>
			</div>
		</div>
		<div class="zanshi" style="display: none">暂时没有数据</div>
	</div>	
</div>	
	<!--健康建议内容 end-->
	<p class="thr_jy" style=" height: .2rem; background: #F2F2F2;"></p>
	
	<div class="thr_tit"><i></i><span>历史趋势</span></div>
	<div class="" id="ichart" style=" width: 95%; margin: 0 auto; height: 300px; top: -.8rem;"></div>	
</div>

<div class="v_overlay"></div>
<div class="v_overlert" id="ssjyTab">
	<div class="tc_sy">
		<p class="bit2">
			<span class="labt">康加膳食、营养专家 肖荣教授领衔的专家团队为您提供。</span>
		</p>
		<div class="bxt">
			肖 荣   <br/>
			博士/教授，博士生导师<br/>
			中国营养学会常务理事 <br/>
			中国优生科学协会常务理事<br/>
			中国营养学会学术交流工作委员会委员<br/>
			北京营养师协会副理事长<br/>
			首都医科大学公共卫生学院营养与食品卫生学系主任<br/>
		</div>
	</div>
</div>
<div class="v_overlert" id="yysTab">
	<div class="tc_sy">
		<p class="bit2">
			<span class="labt">康加运动学专家 高岭娣教授、生活方式专家 潘晓明博士领衔的专家团队为您提供。</span>
		</p>
		<div class="bxt">
			高岭娣<br/>     
			首都医科大学卫生与教育管理学院体育学系主任/副教授<br/><br/>
			
			潘晓明<br/>     
			中医博士<br/>
			北京大学医学部研究中心学术部副主任<br/>
			深圳市中医药健康服务协会副会长；<br/>
		</div>
	</div>
</div>


<div class="load-overlay">
	<div class="loadimg"><img src="img/loading.gif"></div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/echarts/echarts.min.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>
$('.my_view').css("display","none");
$('.load-overlay').css("display","block");
//截取URL 获取
function GetQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
};
var myReportId = GetQueryString('reportId');
var targetId = GetQueryString("targetId");
var userId = GetQueryString('userId');
$.ajax({
url : dataUrl + "/api/v1/reportIndex/targetProposal",
type : "POST",
dataType : 'json',
data : {
    reportId : myReportId,
    targetId : targetId
},
success : function(indexData) {
	if(indexData.code == 200){
		$('.my_view').css("display","block");
		$('.load-overlay').css("display","none");
		
		if(indexData.data.dietList != null){
			for(var i=0;i<indexData.data.dietList.length;i++){
				var newProp = indexData.data.dietList[i].proposal.replace(/\n/g, "<br/>");
				indexData.data.dietList[i].proposal = newProp;
			}
		}
		
		var myApp = new Vue({
		  	el: '#appVUE',
		  	data: {
		    	targetThirdName: indexData.data.guideThirdVo.targetThirdName, //指标名称
		   		score: indexData.data.guideThirdVo.score, //指标得分
		   		inspectStandard: indexData.data.guideThirdVo.inspectStandard, //偏高偏低
		   		abnormalLevel: indexData.data.guideThirdVo.abnormalLevel, //异常成度
		   		abnormalLevelStr: "b"+indexData.data.guideThirdVo.abnormalLevel, //class+异常成度
		   		inspectExplain: indexData.data.guideThirdVo.inspectExplain, //指标介绍
		   		
		   		dietList: indexData.data.dietList, //膳食
			    nutritionList: indexData.data.nutritionList, //营养
			    motionList: indexData.data.motionList,//运动
			    options:['一','二','三','四','五','六','七','八','九','十','十一','十二','十三','十四','十五','十五','十六']
		  
		  	}
		});
		
		var dietList = indexData.data.dietList, //膳食
		    nutritionList = indexData.data.nutritionList, //营养
		    motionList = indexData.data.motionList;//运动
		if(dietList==null && nutritionList==null && motionList==null){
			$('.thr_jy').css("display","none");
		}
		
		//切换展示
		$('.jkjy_wrap .box-c .tit02').on("click",function(){
			if($(this).next('.txt03').css("display") == 'none'){
				//$('.jkjy_wrap .box-c .txt03').css('display','none');
				//$('.jkjy_wrap .box-c .tit02 i').css('transform','rotate(0deg)');
				$(this).next('.txt03').css("display","block");
				$(this).find('i').css('transform','rotate(180deg)');
			}else{
				$(this).next('.txt03').css("display","none");
				$(this).find('i').css('transform','rotate(0deg)');
			}
		
		});
		//判断在没有数据的情况下 提示
		$('.jkjy_wrap').each(function(){
			if($(this).find('.box-c').length == 0){
				//$(this).find('.zanshi').css("display","block");
				$(this).css("display","none");
				$(this).next('p').css("display","none");
			}
		});
		
		//专家弹
		function showMask(){
			$('.v_overlay').css({"visibility":"visible","opacity":"1"});
			$(document).on('touchmove',function(e){
				e.preventDefault();//阻止滚动
			})
		}
		$('.ssjyTab').on("click",function(){
			event.stopPropagation();
			showMask();
			$('#ssjyTab').css({"visibility":"visible","opacity":"1"});
			return false;
		});
		$('.yysTab').on("click",function(){
			event.stopPropagation();
			showMask();
			$('#yysTab').css({"visibility":"visible","opacity":"1"});
			return false;
		});
		$('.v_overlay').click(function(){
			$('.v_overlay').css({"visibility":"hidden","opacity":"0"});
			$('.v_overlert').css({"visibility":"hidden","opacity":"0"});
			//$('.v_overlert2').css({"visibility":"hidden","opacity":"0"});
			$(document).off("touchmove")
		});
		
	}

},
    error : function(obj,msg){
    	debugger
    	alert(obj  + msg);
    }
});
//调用三级指标历史趋势
$.ajax({
url : dataUrl + "/api/v2/reportThird/findThirdTrend",
type : "POST",
dataType : 'json',
data : {
    userId : userId,
    targetId : targetId
},
success : function(trendData) {
	if(trendData.code == 200){
		//alert('历史')
		var arryDate = [],arryVal = [];
		for(var i=0;i<trendData.data.length;i++){
			arryDate.push(trendData.data[i].inspectDateStr);
			arryVal.push(trendData.data[i].score);
		};
		console.log(arryDate);
		console.log(arryVal);
		setTimeout(function(){intchart('ichart','',arryDate,arryVal);},200);
	}
},
    error : function(obj,msg){
    	debugger
    	//alert(obj  + msg);
    }
});
</script>
<script>
function intchart(el,tit,arryDate,arryVal){
	var myChart = echarts.init(document.getElementById(el));
	option = {
	    title: {
	    	//show: false,
	        text: tit
	    },
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {
	    	show:false
	      //  data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
	    },
	    grid: {
	        left: '3%',
	        right: '10%',
	        bottom: '10%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	           // saveAsImage: {}
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        axisLabel:{
	            //interval:0,
	           	//rotate:45,
	            //margin:2,
	            textStyle:{
	                color:"#222"
	        }},
	        data: arryDate
	    },
	    yAxis: {
	        type: 'value',
	        scale:true,
		    boundaryGap:['10%','0%'],
		    max:100
	    },
	    series: [
	        {
	            name:'得分',
	            type:'line',
	            stack: '总量',
	            data:arryVal,
	            itemStyle:{
	                normal:{
	                    color:'#2c886f',  
	                    lineStyle:{  
	                        color:'#2c886f'  
	                    }  
	                }
	            }
	        }
	        
	    ]
	};
	myChart.setOption(option);
}

</script>
</body>
</html>
