<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>口令支付</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body style="background: #f8f1f1;">
<section class="my_view">
<div class="top-key"><a class="goback" href="javascript:history.go(-1);"><img src="img/o-arr-b.png"></a><span class="tit">口令支付</span></div>
<div class="keypay-c">
	<template v-if="language == 'en'">
		<div class="tipc">Enter your password</div>
		<div class="intdiv"><input type="text" placeholder="Enter your password" id="wordNum" onkeyup="this.value=this.value.replace(/\s+/g,'')"></div>
		<div class="btndiv"><button class="btn-go" id="subgo" @click="gouseBtn($event)">Use it now</button></div>
		<div class="btndiv"><button class="btn-go" id="scanQRCode" v-if="!clientType" @click="gotoSaoMa()">Code scanning</button></div>
		<div class="btndiv"><button class="btn-go" id="appscanQRCode" v-if="!openId && clientType" @click="appscanQRCode()">Code scanning</button></div>
		<div class="tipc2">Please enter the password character you get, use it immediately, and you can pay</div>
	</template>
	<template v-else>
		<div class="tipc">输入口令</div>
		<div class="intdiv"><input type="text" placeholder="请输入口令" id="wordNum" onkeyup="this.value=this.value.replace(/\s+/g,'')"></div>
		<div class="btndiv"><button class="btn-go" id="subgo" @click="gouseBtn($event)">立即使用</button></div>
		<div class="btndiv"><button class="btn-go" id="scanQRCode" v-if="!clientType" @click="gotoSaoMa()">扫口令码使用111</button></div>
		<div class="btndiv"><button class="btn-go" id="appscanQRCode" v-if="!openId && clientType" @click="appscanQRCode()">扫码使用口令</button></div>
		<div class="tipc2">请输入您获得的口令字符，立即使用，即可支付</div>
	</template>
		
</div>

<div class="tc-qx" id="alert">
	<p class="pc1">?</p>
	<p class="psub"><a class="subBtn">确定</a></p>
</div>
<div class="modal-overlay"></div>

<div class="daifu_d">
	<p class="imo"><img src="img/daifu.png" class="img_b"></p>
	<p class="tit">亲，这份报告数据已被别人扫描<br>请重新测量</p>
	<p class="tip">误扫别人的健康报告，将会影响您的健康趋势，谢谢您的配合！</p>
	<p class="dbtn"><button id="iknow">知道了</button></p>
</div>

</section>	
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="zhuge.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/checkMsg.js"></script>
<script type="text/javascript" src="js/language.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<!--<script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
<script>
    var vConsole = new VConsole();
</script>-->
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>document.write('<script src="js/wordPay.js?t=' + new Date().getTime() + '"><\/script>')</script>

</body>
</html>
