<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
  <meta content="telephone=no" name="format-detection" />
  <link rel="stylesheet" href="./css/print_kh1.css">
  <title>详尽版</title>
</head>
<body>
  <div id="app">
    <div class="fr">
      <div class="h">
        <h6 class="h6">全身健康检测报告</h6>
        <h6 class="h7">CENERAL HEALTH REPORT</h6>
      </div>
      <div class="f_user" v-if="info.insureSalesman && info.insureSalesman.customerName">
        <div class="f_l">
            <span>姓 名：<em class="emname" v-if="info.insureSalesman ">{{info.insureSalesman.customerName}}</em></span>
            <span>联系方式：<em v-if="info.insureSalesman ">{{info.insureSalesman.userTel}}</em></span>
            <span>检测时间：<em v-if="info.insureSalesman ">{{info.insureView.inspectDateStr}}</em></span>
        </div><div class="f_r">
            <span>姓 别：<em v-if="info.insureSalesman ">{{info.insureView.sex}}</em></span>
            <span>检测码：<em v-if="info.insureSalesman ">{{info.insureView.detectionCode}}</em></span>
            <span>保险经纪人编号：<em class="emname" v-if="info.insureSalesman ">{{info.insureSalesman.salesmanCode}}</em></span>
        </div>
      </div>
      <div class="f_img">
        <em>快速</em>
        <em>全面</em>
        <em>无创</em>
        <em>超早</em>
        <img src="./img/kh/shebei.png" alt="">
      </div>
      <p class="f_p">健 康 检 测 仪</p>
    </div>
    <div class="sr">
        <div class="sr_box">
          <div class="sr_tit">以下是您的评估结果：</div>
          <div class="bp">
            <img class="bpan" src="./img/kh/bpan.png" alt="">
            <img class="bzhen" src="./img/kh/bzhen.png" alt="">
            <div class="text_box">
              <span class="spana_active" data-target="best" data-index="1">最佳状态</span>
              <span data-target="better" data-index="2">良好状态</span>
              <span data-target="no1" data-index="3">一级风险</span>
              <span data-target="no2" data-index="4">二级风险</span>
              <span data-target="no3" data-index="5">三级风险</span>
            </div>
          </div>
          <!-- <div class="srt">
            <div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部脑部脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>中毒风险</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div><div class="list">
                <span><img src="./img/kh/qg-A3510.png" alt="">脑部</span>
                <span><em>正常</em></span>
              </div>
            </div> -->
            <div class="box">
                <div class="lf">
                  <div class="body">
                    <img src="./img/kh/s_man.png" alt="">
                  </div>
                  <div class="dian_box">
                    <span class="dian1"><i></i></span>
                    <span class="dian2"><i></i></span>
                    <span class="dian3"><i></i></span>
                    <span class="dian4"><i></i></span>
                    <span class="dian5"><i></i></span>
                    <span class="dian6"><i></i></span>
                    <span class="dian7"><i></i></span>
                    <span class="dian8"><i></i></span>
                    <span class="dian9"><i></i></span>
                    <span class="dian10"><i></i></span>
                    <span class="dian11"><i></i></span>
                    <span class="dian12"><i></i></span>
                    <span class="dian13"><i></i></span>
                    <span class="dian14"><i></i></span>
                    <span class="dian15"><i></i></span>
                    <span class="dian16"><i></i></span>
                    <span class="dian17"><i></i></span>
                    <span class="dian18"><i></i></span>
                  </div>
                </div>
                <div class="rt" v-if="info.insureView && info.insureView.firsts">
                  <div class="list" v-for="(item,index) in info.insureView.firsts">
                    <span><img :src="'./img/kh/qg-'+ item.targetId +'.png'" alt="">{{item.targetName}}</span>
                    <span><em style="background:#2CBCB4;" v-if="item.score >= 90 ">正常</em><em style="background:#F2B84F;" v-if="item.score <  90  && item.score >= 80">轻度风险</em><em v-if="item.score < 80" style="background:#F2843A;">中度风险</em></span>
                  </div>
                </div>
              </div>

          </div>
      </div>
      <div class="danger clearfix" v-if="info.insureView &&  info.insureView.abnormalTarget ">
        <h3>异常指标情况</h3>
        <div class="title">
          <div class="z" v-if="info.insureView.abnormalTarget.moderate  && info.insureView.abnormalTarget.moderate.length > 0">
            <p>中度风险（<em>{{info.insureView.abnormalTarget.moderate.length}}</em> 项）</p>
            <div><span class="li" v-for="(item,index) in info.insureView.abnormalTarget.moderate">{{item.targetName}}</span></div>
          </div><div class="q" v-if="info.insureView.abnormalTarget.mild  && info.insureView.abnormalTarget.mild.length > 0">
            <p>轻度风险（<em>{{info.insureView.abnormalTarget.mild.length}}</em> 项）</p>
            <div><span v-for="(item,index) in info.insureView.abnormalTarget.mild">{{item.targetName}}</span>
            </div>
          </div>
        </div>
      </div>
      <b></b>
      <!-- 皮肤 -->
      <div class="sr_skin" v-if="info.insureView && info.insureView.inspectSkinView">
          <h4>皮肤报告</h4>
          <div class='zongjie'><div class="l">{{info.insureView.inspectSkinView.totalScore}} 分</div><div class="r"><span><em>肤质</em><i>{{info.insureView.inspectSkinView.skinTypeResult}}</i></span><span><em>肤龄</em><i>{{info.insureView.inspectSkinView.age}}</i></span><span><em>肤色</em><i>{{info.insureView.inspectSkinView.color}}</i></span></div>
          </div>
          <div class="xiangqing">
            <h5 class="dan">重点关注</h5>
            <div class="tou"><span>毛孔</span><span>49 分</span><span>1328 个</span><span>好于 59%的人</span></div>
            <div class="bd">
              <p class="tit">护肤建议：</p>
              <p>清淡饮食，拒绝熬夜，保持良好心态；尽量仰卧睡觉，避免挤压皮肤；</p>
            </div>
          </div>
          <div class="xiangqing">
            <h5 class="gai">重点关注</h5>
            <div class="tou"><span>毛孔</span><span>49 分</span><span>1328 个</span><span>好于 59%的人</span></div>
            <div class="bd">
              <p class="tit">护肤建议：</p>
              <p>清淡饮食，拒绝熬夜，保持良好心态；尽量仰卧睡觉，避免挤压皮肤；</p>
            </div>
          </div>
          <div class="xiangqing">
            <h5 class="chi">重点关注</h5>
            <div class="tou"><span>毛孔</span><span>49 分</span><span>1328 个</span><span>好于 59%的人</span></div>
            <div class="bd">
              <p class="tit">护肤建议：</p>
              <p>清淡饮食，拒绝熬夜，保持良好心态；尽量仰卧睡觉，避免挤压皮肤；</p>
            </div>
          </div>
        </div>
        <b></b>
      <!-- 年龄 -->
      <div class="age">
        <h3>生理年龄</h3>
        <div class="true_age">
          <div class="age1">
            <div>实际年龄<span>{{info.insureView.physicalAge}}</span>岁</div>
            <div>生理年龄<span>{{info.insureView.age}}</span>岁</div>
          </div><div class="age2">
            <div>年龄差<span v-html="info.insureView.age - info.insureView.physicalAge"></span></div>
          </div>
        </div>
        <p v-if="(info.insureView.age - info.insureView.physicalAge) < 0 ">您的生理年龄比实际年龄更年轻，继续保持哦～</p>
        <p v-if="(info.insureView.age - info.insureView.physicalAge) > 0 ">您的生理年龄高于实际年龄，请注意管理健康哦！</p>
      </div>
      <!-- 状态 -->
      <div class="state" v-if="info.insureView && info.insureView.conditions ">
        <h3>身体实时状况</h3>
        <div class="state_box">
          <div class="state_l"><div class="state_list" v-for="(item,index) in info.insureView.conditions"><span><img src="'./img/kh/'+ item.targetId+'.png'" alt="">{{item.targetName}}</span><span>89</span></div>
          </div>
        </div>        
      </div>
      <b></b>
      
      <!-- 食谱 -->
      <div class="sr_cook">
        <h3>一周专属健康食谱</h3>
        <div class="sp-dcn">
          <p class="cnt"><span>Day1</span></em></p>
          <div class="cnc">
            <div class="tt"><span>名称</span><em>荤菜</em><em>素菜</em><em>主食</em></div>
            <dl class="tli">
              <dt><p class="ce"><font>早餐</font></p></dt>
              <dd>
                  <span>洋葱拌木耳</span>
                  <span>洋葱拌木耳</span>
              </dd>
              <dd>
                <template>
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
              <dd>
                <template >
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
            </dl>
            <dl class="tli">
              <dt><p class="ce"><font>早加餐</font></p></dt>
              <dd>
                <template>
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
            </dl>
            <dl class="tli">
              <dt><p class="ce"><font>午餐</font></p></dt>
              <dd>
                <template>
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
              <dd>
                <template >
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
              <dd>
                <template >
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
            </dl>
            <dl class="tli">
              <dt><p class="ce"><font>午加餐</font></p></dt>
              <dd>
                <template >
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
            </dl>
            <dl class="tli">
              <dt><p class="ce"><font>晚餐</font></p></dt>
              <dd>
                <template >
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
              <dd>
                <template >
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
              <dd>
                <template>
                  <span>洋葱拌木耳</span>
                </template>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <b></b>
      <div class="sr_head">
        <div class="sr_hr"><img src="./img/kh/qg-A3115.png" alt="">脑部<span>轻度风险</span></div>
        <div class="sr_hbox"><div class="hr_list"><span>脑组织供血状况脑组织供血状况</span><span>正常正常</span></div><div class="hr_list"><span>脑组织供血状况</span><span>正常</span></div><div class="hr_list"><span>脑组织供血状况</span><span>正常</span></div><div class="hr_list"><span>脑组织供血状况</span><span>正常</span></div><div class="hr_list"><span>脑组织供血状况</span><span>正常</span></div>
        </div>
      </div>
      <!-- 血管 -->
      <div class="sr_head_b">
        <div class="sr_head_b_tit">血管弹性：</div>
        <div class="sr_head_bzi"><span>正常</span><span>轻度风险</span><span>中度风险</span><img src="./img/kh/fubiao.png" alt="" class="fubiao">
        </div>
        <div class="sr_title">
          <p class="h8">指标解读</p>
          <div class="sr-text"> 血管弹性是反映人体血液循环过程中血管壁的弹性。 血管弹性偏低易造成头痛、头晕、目眩、反应迟钝等症状。持续偏低会造成高血压等心血管系统疾病。 </div> 
        </div>
        <div class="sr_zhengwen">
          <p class="h8">改善建议</p>
          <p class="h9">膳食建议</p>
          <div class="sr_jybox">
            <p class="h10">一、低热量</p>
            <p class="h11">根据您的检测结果，每日建议摄入热量低于 1400 千卡</p>
            <div class="sr_jytext"> 
              血管弹性是反映人体血液循环过程中血管壁的弹性。 血管弹性偏低易造成头痛、头晕、目眩、反应迟钝等症状。持续偏低会造成高血压等心血管系统疾病。 
            </div>
          </div>
          <div class="sr_yyjy">
            <p class="h9">营养建议</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
          </div>
          <div class="sr_yyjy">
            <p class="h9">运动和生活方式建议</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
          </div>
        </div>
      </div>
      <!-- 脑组织供血 -->
      <div class="sr_head_b">
        <div class="sr_head_b_tit">脑组织供血状况：</div>
        <div class="sr_head_bzi"><span>正常</span><span>轻度风险</span><span>中度风险</span><img src="./img/kh/fubiao.png" alt="" class="fubiao">
        </div>
        <div class="sr_title">
          <p class="h8">指标解读</p>
          <div class="sr-text"> 血管弹性是反映人体血液循环过程中血管壁的弹性。 血管弹性偏低易造成头痛、头晕、目眩、反应迟钝等症状。持续偏低会造成高血压等心血管系统疾病。 </div> 
        </div>
        <div class="sr_zhengwen">
          <p class="h8">改善建议</p>
          <p class="h9">膳食建议</p>
          <div class="sr_jybox">
            <p class="h10">一、低热量</p>
            <p class="h11">根据您的检测结果，每日建议摄入热量低于 1400 千卡</p>
            <div class="sr_jytext"> 
              血管弹性是反映人体血液循环过程中血管壁的弹性。 血管弹性偏低易造成头痛、头晕、目眩、反应迟钝等症状。持续偏低会造成高血压等心血管系统疾病。 
            </div>
          </div>
          <div class="sr_yyjy">
            <p class="h9">营养建议</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
          </div>
          <div class="sr_yyjy">
            <p class="h9">运动和生活方式建议</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
            <p>根据您的检测结果，建议您每日补充维生素A</p>
          </div>
        </div>
      </div>
      <!-- 微循环 -->
      <div class="weixunhaun">
        <div class="sr_hr"><img src="./img/kh/qg-A3115.png" alt="">微循环<span>轻度风险</span></div>
        <div class="sr_hbox"><div class="hr_list"><span>心率</span><span>正常正常正常正常正常</span></div><div class="hr_list"><span>血氧饱和度</span><span>正常</span></div><div class="hr_list"><span>心脏功能</span><span>正常</span></div><div class="hr_list"><span>微循环</span><span>正常</span></div>
        </div>
      </div>
  </div>
  <script src="./js/jquery.js"></script>
  <script src="./js/vue.min.js"></script>
  <script>
    $(function(){
      var Purl = 'http://analysisreport-ysc.jiankangzhan.com/print/report/insure/queryInsurePrint'
      var reportId = 'KJ501KT00000156190619000226482'
      var sign = 'kj147258'
      var vm = new Vue({
        el:'#app',
        data:function(){
          return {
            info:{},
            skinColor:{
              'toubai':'透白',
              'baixi':'白皙',
              'ziran':'自然',
              'xiaomai':'小麦',
              'anchen':'暗沉',
              'youhei':'黝黑',
            }
          }
        },
        methods:{
          getData : function(){
            var that = this
            $.ajax({
              type:'POST',
              url:Purl,
              data:{
                reportId : reportId,
                sign : sign
              },
              success:function(res){
                if(res.code == 200){
                  that.info = res.data 
                  that.info.insureView.inspectDateStr = res.data.insureView.inspectDateStr.split(' ')[0]
                  that.info.insureView.sex = res.data.insureView.sex == '0' ? '女' : '男'
                  that.info.insureView.totalScore = res.data.insureView.totalScore >= 95 ? '1' : res.data.insureView.totalScore >= 90 ? '2' : res.data.insureView.totalScore >= 85 ? '3' :  res.data.insureView.totalScore >= 80 ? '4' : '5'
                  that.info.insureView.inspectSkinView.color = that.skinColor[res.data.insureView.inspectSkinView.color ]
                  setTimeout(function(){
                    if(that.info.insureView.abnormalTarget.mild.length > that.info.insureView.abnormalTarget.moderate.length){
                      console.log($('.z'))
                      $('.z').addClass('nol')
                    }else{
                      $('.q').addClass('nor')
                    }
                  })

                  $('.spana_active').removeClass('spana_active')
                  $('[data-index='+that.info.insureView.totalScore+']').addClass('spana_active')
                  $('.bzhen').addClass('bzhen_'+that.info.insureView.totalScore)

                  console.log(that.info)

                }
              }
            })
          }
        },
        mounted : function(){
          this.getData()
        }
      })
    })
  </script>
</body>
</html>