<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>新闻</title>
  <link rel="stylesheet" href="css/basic.css">
  <script>
      document.write('<link rel="stylesheet" href="css/news.css?t='+new Date().getTime()+'">')
  </script>
</head>
<body>
  <div class="loadmore loading"></div>
  <div id="app" data-name="">
    <div class="h_box" style="height:.88rem;">
      <div class="fixedbox">
        <div class="header">
          <span class="back"><i @click="goBack()"></i></span><div class="sousuoinput"><i></i><input id="search" type="text" placeholder="请输入需要查询的关键字"></div><span class="btn" data-target="btn">搜索</span>
        </div>
        <!-- <div class="list">
          <div class="warp" v-if = "list && list.length > 0">
            <ul class="nav" id="nav">
              <li v-for="item in list" :data-id="item.id" >{{item.name}}</li>
            </ul>
            </div>	
        </div> -->
      </div>
    </div>
    <div class="btn_box">
      <!-- <h4>热门搜索</h4>
      <div class="his">
        <span>医生</span><span>医生</span><span>医生</span><span>医生</span><span>医生</span><span>医生</span>
      </div> -->
      <!-- <h4>猜你想搜</h4>
      <div class="guess">
        <span>花</span><span>花</span><span>花</span><span>花</span><span>花</span><span>花</span>
      </div> -->
    </div>
    <!-- <div class="img_sousuo">
      <img src="./img/sousuo.png" alt="">
    </div> -->
    <div class="content" v-if="info.length > 0">
      <div class="list" v-for="(item,index) in info" :data-url="item.jump_url" :data-index="index">
        <div class="list_box" v-if="item.images && item.images.length > 1">
            <h3>{{item.title}}</h3>
            <div class="img_list"><img :src="a.url" alt="" v-for="a in item.images"></div>
            <p class="small"><span class='zhiding' v-if="item.is_top && item.is_top == 1">置顶</span><span class="laiyuan" v-if="item.source">{{item.source}}</span>
              <!-- <span class="pinglun">评论 <em>55</em></span> -->
            </p>
        </div>
        <!-- no2 -->
        <div class="lef" v-if="item.images && item.images.length == 1">
          <div class="title">
            <h3>{{item.title}}</h3>
          </div>
          <p class="small"><span class='zhiding' v-if="item.is_top && item.is_top == 1">置顶</span><span class="laiyuan" v-if="item.source">{{item.source}}</span>
            <!-- <span class="pinglun">评论 <em>55</em></span> -->
          </p>
        </div>
        <div class="rig"  v-if="item.images && item.images.length == 1" >
          <img :src="item.images[0].url" alt="" v-if="item.images && item.images[0] && item.images[0].url">
        </div>
      </div>
      <!-- <div class="list">
        <div class="lef">
          <div class="title">
            <h3>清华老师的粉笔板书太养眼了！简直舍不得擦清华老师的粉笔板书太养眼了！简直舍不得擦</h3>
          </div>
            <p class="small"><span class='zhiding'>置顶</span><span class="laiyuan">中国经济网</span><span class="pinglun">评论 <em>55</em></span></p>
        </div>
        <div class="rig">
          <img src="./img/ba146ebc33e04bb8a810c7b60d0c5b19.jpg" alt="">
        </div>
      </div> -->
    </div>
    <div class="bottom">
      <p>到底了</p>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="./js/vue.min.js"></script> 
  <script type="text/javascript">
    (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var    clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if(clientWidth>=750){
              docEl.style.fontSize = '100px';
          }else{
              docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
          }
        };
      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
  <script>
    $(function() {
    	//微信内置浏览器浏览H5页面弹出的键盘遮盖文本框的解决办法 
    	window.addEventListener("resize", function() {
    		if(document.activeElement.tagName == "INPUT" || document.activeElement.tagName == "TEXTAREA") {
    			window.setTimeout(function() {
    				document.activeElement.scrollIntoViewIfNeeded();
    			}, 0);
    		}
    	})
    })
  </script>
  <script>
    $(function(){
      // 获取url参数方法
      function getQueryString(name) {
          var    result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
          if (result == null || result.length < 1) {
              return "";
          }
          return result[1];
      };
      var getSearch = decodeURIComponent(getQueryString('search'))

      var url = 'http://news-tt.jiankangzhan.com/api/mobile/artlist'
      var page = 1
      var pid = 0
      var zid = 0
      var cid = 0
      var title = ''
      var ajaxFlag = true
      var num = 0
      var v = new Vue({
        el:'#app',
        data : function(){
          return{
            list:[], //导航
            info : [],//内容
            banner : [] // 轮播
          }
        },
        methods : {
          // ajax请求
          // 启动搜索
          goSea : function(){
            // if(getSearch && getSearch != ' '){
            //   console.log(getSearch)
            //   title = getSearch
            //   this.getData()
            // }
            var that = this
            $('.btn_box>div>span').on('click',function(){
              $('.btn_box').css({
                'display':'none'
              })
              title = $(this).text()
              that.getData()
            })
            $('#search').focus()
          }
          ,
          getList : function(){
            var that = this;
            $.ajax({
              url : 'http://news-tt.jiankangzhan.com/api/mobile/colum',
              type : 'POST',
              data : {
              },
              dataType:'JSON',
              success : function(res){
                if(res.code == 200){
                  that.list = res.data
                  if(res.data.length > 0 ){
                    setTimeout(function(){
                      cid= pid = res.data[0]['id']
                      that.Touch()
                      $('.nav li:first').trigger('click')
                    },10)
                  }
                }
              },
              error : function(err){
              }
            })
          },
          // 第一次 获取数据 滚动加载  点击加载（跳转页面做）
          getData : function(elid){
            var that = this;
            if(elid != undefined){
              cid = elid
              page = 1
            }
            $.ajax({
              url : url,
              type : 'POST',
              data : {
                cid : cid,
                page : page,
                title : title
              },
              dataType:'JSON',
              success : function(res){
                if(res.data.data.length <= 0){
                  $('.bottom').css({
                    'display':'block'
                  })
                }
                if(res.code == 200){
                  if(elid == undefined){
                    $.each(res.data.data,function(index,item){
                      that.info.push(item)  
                    })
                    page = parseInt(res.data.page ) + 1
                  }else if(elid != undefined){
                    that.info = res.data.data
                    page = parseInt(res.data.page ) + 1
                  }
                  setTimeout(function(){
                    $('.content .list:last').css({
                      'border-bottom' : 'none'
                    })
                    ajaxFlag = true
                    if(num < 1){
                      num += 1
                      that.lazyGo()
                    }
                    that.destail()
                  },20)
                }
              },
              error : function(err){
                
              }
            })
          },
          // 搜索跳转
          btnClick : function(){
            var that = this
            $('[data-target=btn]').on('click',function(){
              cid = 0
              page = 1
              that.info = []
              //滚动到顶部
              $(window).scrollTop(0)
              var val = $('#search').val()
              val = val.trim()
              var name = $('#app').attr('data-name')
              if(val == ''){
                $('#search').val('').focus()
              }else if(val != ' '){
                title = val
                that.getData()
              }
            })
          },
          // 绑定滚动事件
          lazyGo : function (){
            var that = this 
            $(window).scroll(function(){
              var innerH = $(document).height();
              var winH = $(window).height();
              var scroH = $(window).scrollTop();
              if((innerH - winH - scroH) < 1 ){
                if(ajaxFlag){
                  ajaxFlag = false
                  that.getData()
                }
              }
            })
          },
          Touch : function(){
            var that = this
            // touch  click 
            var nav = document.getElementById("nav");
            var navs = document.getElementsByTagName("li");
            var left = nav.style.left;      // ul 距离左边的距离
            var totalWidth = 0;             // 总宽度
            var minusValue = 0;             // 设备宽度与总宽度的差值
            var chuangkoukuan = window.screen.width
            var flag = true;
            left = left ? left : 0;         // 初始时 ul 距离左边 0px
            // 获取所有 li 所占用的宽度
            for (var i = 0; i < navs.length; i++){
              // var index = (function(e){return e;})(i)
              // totalWidth += $(navs[index]).width();
              totalWidth += navs[i].offsetWidth;
            }
            // 固定 ul 的宽度
            nav.style.width = totalWidth + 10 + 'px';
            minusValue = window.screen.width - totalWidth;
            var startx,starty,movex,movey,endx,endy,nx,ny,off_w;
            function touchtab(event) {
            	// event.preventDefault();'
              flag = false;
              if(event.type=="touchstart"){
                var touch = event.touches[0];
                startx = Math.floor(touch.pageX);
                starty = Math.floor(touch.pageY);
              }else if(event.type=="touchmove"){//触摸中的坐标获取
                var touch = event.touches[0];
                movex = Math.floor(touch.pageX);
                movey = Math.floor(touch.pageY);
                off_w = (movex-startx)
                nav.style.left = (left+off_w) + 'px';
              }else if(event.type == "touchend" || event.type == "touchcancel"){
                    //获取最后的坐标位置
                endx = Math.floor(event.changedTouches[0].pageX);
                endy = Math.floor(event.changedTouches[0].pageY);
                 //获取开始位置和离开位置的距离
                nx = endx-startx;
                ny = endy-starty;
                left += nx
                if(left>0){
                  left = 0
                }else if(left<window.screen.width-totalWidth){
                  left = window.screen.width-totalWidth
                }
                nav.style.left = left  + 'px';
                flag = true;
              }
            }
            if(totalWidth > chuangkoukuan) {
              nav.addEventListener('touchstart',touchtab,false);
              nav.addEventListener('touchmove',touchtab,false);
              nav.addEventListener('touchend',touchtab,false);
            }
            $(nav).on('click','li',function(){
              $('.liactive').removeClass('liactive')
              $(this).addClass('liactive')
              // 导航条转
              var elid = $(this).attr('data-id')
              that.getData(elid)
              //滚动到顶部
              $(window).scrollTop(0)
            })
            // 
          },
          // 点击跳转详情
          destail : function(){
            $('.content .list').on('click',function(){
              window.location = $(this).attr('data-url')
            })
          } 
          ,
          // 返回
          goBack : function(){
            history.go(-1)
          }
        },
        mounted : function(){
          this.btnClick()
          this.goSea()
        }
      })
    })
  </script>
  
</body>
</html>