<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>新闻</title>
  <link rel="stylesheet" href="css/basics.css">
  <script>
      document.write('<link rel="stylesheet" href="css/news.css?t='+new Date().getTime()+'">')
  </script>
</head>
<body>
  <div class="loadmore loading"></div>
  <div id="app" data-name="">
    <!-- 固定定位 -->
    <div class="h_box" style="height:.88rem;">
      <div class="fixedbox">
        <div class="header">
          <span class="back"><i @click="goBack()"></i></span><div class="sousuoinput"><i></i><input id="search" type="text" placeholder="请输入需要查询的关键字"></div><span class="btn" data-target="btn">搜索</span>
        </div>
        <!-- <div class="list">
          <div class="warp" v-if = "list && list.length > 0">
            <ul class="nav" id="nav">
              <li v-for="item in list" :data-id="item.id" >{{item.name}}</li>
            </ul>
            </div>	
        </div> -->
      </div>
    </div>
    <!-- 推荐内容 -->
    <div class="btn_box" v-if="hot && hot.length > 0">
      <h4 class="tishi" style="text-align: center;display:none;padding-left:0;">未搜索到相关内容</h4>
      <!-- <h4>热门搜索</h4>
      <div class="his">
        <span>医生</span><span>医生</span><span>医生</span><span>医生</span><span>医生</span><span>医生</span>
      </div> -->
      <h4>热门文章</h4>
      <div class="hot">
        <span v-for="item in hot " @click="hotClick(event)">{{item.title}}</span>
      </div>
    </div>
    <!-- 文章主体 -->
    <div class="content" v-if="info.length > 0">
      <div class="list" v-for="(item,index) in info" :data-url="item.jump_url" :data-index="index">
        <div class="list_box" v-if="item.images && item.images.length > 1">
            <h3>{{item.title}}</h3>
            <div class="img_list"><img :src="a.url" alt="" v-for="a in item.images"></div>
            <p class="small"><span class='zhiding' v-if="item.is_top && item.is_top == 1">置顶</span><span class="laiyuan" v-if="item.source">{{item.source}}</span>
            <span class="zhiding" v-if="item.tag && item.tag[0] && item.tag.length > 0"  :style="' transform:scale(.75);display:inline-block;border:none;font-weight:400;color: ' + item.tag[0].label_color + ';' ">{{item.tag[0].label_name}}</span>
              
              <!-- <span class="pinglun">评论 <em>55</em></span> -->
            </p>
        </div>
        <!-- no2 -->
        <div class="lef" v-if="item.images && item.images.length == 1">
          <div class="title">
            <h3>{{item.title}}</h3>
          </div>
          <p class="small"><span class='zhiding' v-if="item.is_top && item.is_top == 1">置顶</span><span class="laiyuan" v-if="item.source">{{item.source}}</span>
            <span class="zhiding" v-if="item.tag && item.tag[0] && item.tag.length > 0"  :style="' transform:scale(.75);display:inline-block;border:none;font-weight:400;color: ' + item.tag[0].label_color + ';' ">{{item.tag[0].label_name}}</span>
            
            <!-- <span class="pinglun">评论 <em>55</em></span> -->
          </p>
        </div>
        <div class="rig"  v-if="item.images && item.images.length == 1" >
          <img :src="item.images[0].url" alt="" v-if="item.images && item.images[0] && item.images[0].url">
        </div>
      </div>
    </div>
    <div class="lazy_load" >
      <img src="./img/loading.gif" alt="" style="width:.5rem;">
    </div>
    <div class="bottom">
      <p>到底了</p>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="./js/vue.min.js"></script> 
  <script src="./js/ajaxUrl.js"></script>
  <script src="js/wxShare.js"></script>
  <script type="text/javascript">
    (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var    clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if(clientWidth>=750){
              docEl.style.fontSize = '100px';
          }else{
              docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
          }
        };
      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
  <script>
  (function () {
    if (typeof WeixinJSBridge == "object" && typeof WeixinJSBridge.invoke == "function") {
        handleFontSize();
    } else {
        if (document.addEventListener) {
            document.addEventListener("WeixinJSBridgeReady", handleFontSize, false);
        } else if (document.attachEvent) {
            document.attachEvent("WeixinJSBridgeReady", handleFontSize);
            document.attachEvent("onWeixinJSBridgeReady", handleFontSize);
        }
    }
    function handleFontSize() {
        WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize': 0 });
        WeixinJSBridge.on('menu:setfont', function () {
            WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize': 0 });
        });
    }
  })(); 
  </script>
  <script>
    $(function() {
    	//微信内置浏览器浏览H5页面弹出的键盘遮盖文本框的解决办法 
    	window.addEventListener("resize", function() {
    		if(document.activeElement.tagName == "INPUT" || document.activeElement.tagName == "TEXTAREA") {
    			window.setTimeout(function() {
    				document.activeElement.scrollIntoViewIfNeeded();
    			}, 0);
    		}
    	})
    })
  </script>
  <script>
    $(function(){
      // 获取url参数方法
      function getQueryString(name) {
          var    result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
          if (result == null || result.length < 1) {
              return "";
          }
          return result[1];
      };
      var page = 1
      var pid = 0
      var zid = 0
      var cid = 0
      var title = ''
      var ajaxFlag = true
      var num = 0
      var v = new Vue({
        el:'#app',
        data : function(){
          return{
            list:[], //导航
            info : [],//内容
            banner : [], // 轮播
            hot : [] // 热门文章
          }
        },
        methods : {
          // ajax请求
          // 启动搜索
          goSea : function(){
            // input 获取焦点
            $('#search').focus()
          }
          ,
          // getList : function(){
          //   var that = this;
          //   $.ajax({
          //     url : getListUrl,
          //     type : 'POST',
          //     data : {
          //     },
          //     dataType:'JSON',
          //     success : function(res){
          //       if(res.code == 200){
          //         that.list = res.data
          //         if(res.data.length > 0 ){
          //           setTimeout(function(){
          //             cid= pid = res.data[0]['id']
          //             that.Touch()
          //             $('.nav li:first').trigger('click')
          //           },10)
          //         }
          //       }
          //     },
          //     error : function(err){
          //     }
          //   })
          // },
          // 第一次 获取数据 滚动加载  点击加载
          getData : function(elid){
            var that = this;
            // 有 cid 设置 page 为 1
            if(elid != undefined){
              cid = elid
              page = 1
            }
            $.ajax({
              url : getDataUrl,
              type : 'POST',
              data : {
                cid : cid,
                page : page,
                title : title
              },
              dataType:'JSON',
              success : function(res){
                // 是否到底
                var winH = $(window).height();
                if(res.data.data.length <= 0){
                  $('.bottom').css({
                    'display':'block'
                  })
                }
                if($('#app').height() <= winH){
                  $('.bottom').css({
                    'display':'none'
                  })
                }
                if(res.code == 200){
                  // 是否有cid 没有按照title搜索 或者 懒加载 
                  if(elid == undefined){
                    $.each(res.data.data,function(index,item){
                      that.info.push(item)  
                    })
                    page = parseInt(res.data.page ) + 1
                  }else if(elid != undefined){
                    that.info = res.data.data
                    page = parseInt(res.data.page ) + 1
                  }
                  if(title != '' && res.data.data.length <= 0){
                    $('.btn_box').css({
                      'display' : 'block'
                    })
                    $('.tishi').css({
                      'display' : 'block'
                    })
                  }
                  setTimeout(function(){
                    $('.lazy_load').css({'display':'none'})
                    $('.content .list:last').css({
                      'border-bottom' : 'none'
                    })
                    // 截留 执行一次懒加载绑定
                    ajaxFlag = true
                    if(num < 1){
                      num += 1
                      that.lazyGo()
                      setTimeout(function(){
                        that.wxFenxiang()
                      },1000)
                    }
                    // 跳转详情
                    that.destail()
                  },20)
                  
                }
              },
              error : function(err){
                
              }
            })
          },
          //获取热门文章
          getHot : function(){
            var that = this
            $.ajax({
              url : getHotUrl,
              data : {},
              type : 'POST',
              dataType : 'JSON',
              success : function(res){
                if(res.code == 200){
                  that.hot = res.data
                  setTimeout(function(){
                    // loading
                    $('#app').css({
                      'visibility':'visible'
                    })
                    $('.loadmore').css({
                      'display':'none'
                    })
                  })
                }
              }
            })
          },
          //热门点击搜索
          hotClick : function(event){
            var curr = $(event.currentTarget) 
            title = $(curr).text()
            $('.btn_box').css({
              'display' : 'none'
            })
            cid = 0
            page = 1
            this.info = []
            this.getData()
          }
          ,
          // 搜索跳转
          btnClick : function(){
            var that = this
            $('[data-target=btn]').on('click',function(){
              var val = $('#search').val()
              val = val.trim()
              var name = $('#app').attr('data-name')
              if(val == ''){
                $('#search').val('').focus()
              }else if(val != ''){
                $('.btn_box').css({
                  'display' : 'none'
                })
                cid = 0
                page = 1
                that.info = []
                //滚动到顶部
                $(window).scrollTop(0)
                title = val
                that.getData()
              }
            })
          },
          // 绑定滚动事件
          lazyGo : function (){
            var that = this 
            $(window).scroll(function(){
              var innerH = $(document).height();
              var winH = $(window).height();
              var scroH = $(window).scrollTop();
              if((innerH - winH - scroH) < 1 ){
                // 懒加载截留
                if(ajaxFlag){
                  $('.lazy_load').css({'display':'block'})
                  ajaxFlag = false
                  that.getData()
                }
              }
            })
          },
          // 点击跳转详情
          destail : function(){
            $('.content .list').on('click',function(){
              window.location = $(this).attr('data-url')
            })
          } 
          ,
          // 返回
          goBack : function(){
            history.go(-1)
          },
           // 微信分享
           wxFenxiang : function(){
            var that = this
            setTimeout(function(){
              var url = window.location.href 
              var tit = that.info[0]['title']
              var desc = that.info[0]['descr']
              var img = that.info[0]['images'][0]['url']
              wxShare(url,tit,img,desc,dataUrl)
            },500)
          }
        },
        mounted : function(){
          this.btnClick()
          this.goSea()
          this.getHot()
          // 启动微信分享
        }
      })
    })
  </script>
  
</body>
</html>