<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>报告详情</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div class="my_view bck-col-f4" id="appVUE" style="display: none;">
	<header class="header">
		<p class="t-cen txt1"><span>{{targetFirstName}}</span></p>
		<a class="b-arr fl" href="javascript:history.go(-1);"></a>
		<!--<a class="t-right fr" id="gotrend">查看趋势</a>-->
	</header>
	
	<ul class="sysList">
		<li class="" v-for="state in status">
			<div class="lab fl">{{state.targetSecondName}}</div>
			<div class="prc fl"><span><i></i></span></div>
			<div class="fen fr"><font>{{state.score}}</font>分</div>
		</li>
	</ul>
	<div class="sysInf">
		<p class="btit">详细说明</p>
		<dl class="infCon" v-for="ostate in status">
			<dt class="tit">
				<span class="lab">{{ostate.targetSecondName}}</span><i class="pop"></i>
				<div class="v_overlert">
					<div class="tc_sy">
						<p class="bit"><span class="lab">{{ostate.targetSecondName}}</span><em></em></p>
						<div class="bxt">
							{{ostate.inspectExplain}}
						</div>
					</div>
				</div>
				<div class="tiptxt" style="display: none;"></div>
				<span class="num fr">{{ostate.score}}</span>
			</dt>
			<dd class="item" v-for="osite in ostate.thirdPages">
				<span class="lab">{{osite.targetThirdName}}</span><i class="pop"></i>
				<div class="v_overlert">
					<div class="tc_sy">
						<p class="bit">
							<span class="lab">{{osite.targetThirdName}}</span><em></em>
							<span class="fr" style="color: #333;">
								{{osite.inspectStandard==1?'正常':(osite.inspectStandard==2?'偏高':'偏低')}}
							</span>
						</p>
						<div class="bxt">
							{{osite.inspectExplain}}
						</div>
					</div>
				</div>
				<span class="tx fr">
					正常
				</span>
				<span class="num fr">{{osite.score}}</span>
				<a class="jy fr" :href="osite.targetThirdId|getSuggestHref">建议</a>
				<!--<div class="v_overlert2">
					<div class="tc_sy">
						<p class="bit"><span class="lab">{{osite.targetThirdName}}</span><em>System</em></p>
						<div class="bxt">
							{{osite.suggestContent}}
						</div>
					</div>
				</div>-->
			</dd>
		</dl>
	</div>
	
</div>

<div class="v_overlay"></div>

<div class="load-overlay">
	<div class="loadimg"><img src="img/loading.gif"></div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/circle-progress.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<script>
$('.my_view').css("display","none");
$('.load-overlay').css("display","block");
//截取URL 获取
function GetQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
};
var myReportId = GetQueryString('reportId');
var mytargetFirstId=GetQueryString("targetFirstId");
var agentId = GetQueryString('agentId');  //代理商id  代理商报告用  康加报告不用

$.ajax({
url : dataUrl + "/api/v1/reportIndex/getTargetByFirst",
type : "POST",
dataType : 'json',
data : {
    reportId : myReportId,
    targetFirstId : mytargetFirstId
},
success : function(indexData) {
	//alert('get it')
	if(indexData.code == 200){
		$('.my_view').css("display","block");
		$('.load-overlay').css("display","none");
		//获取趋势页取药的seconds
		var arrySeconds = [];
		for(var i=0;i<indexData.data.secondPages.length;i++){
			arrySeconds.push(indexData.data.secondPages[i].targetSecondId);
		}
		var seconds = arrySeconds.join(',');
		//console.log(seconds);
		
		var myApp = new Vue({
		  	el: '#appVUE',
		  	data: {
		    	score: indexData.data.score, //系统得分
		   		targetFirstName: indexData.data.targetFirstName, // 系统名称
		    	status: indexData.data.secondPages, //二级指标
		  	},
		  	filters:{
	    		getSuggestHref:function(val){
	            return 'suggest.html?reportId='+myReportId+'&targetId='+ val
	       		}
		  	}
		});
		
	
		//低分 高亮显示
		$('.sysList li .fen').each(function(){
			var v_score = parseInt($(this).find('font').text())
			if(v_score < 90 && v_score >=80){
				$(this).parent('li').addClass('bcolor1');
			}else if(v_score < 80){
				$(this).parent('li').addClass('bcolor2');
			}
			$(this).prev().find('span').css('width',v_score + '%');
		});
		$('.infCon .item .num').each(function(){
			if(parseInt($(this).text()) < 90 && parseInt($(this).text()) >= 80){
				$(this).parent('dd').addClass('cor1');
				$(this).parent('dd').find('.tx').text('轻度异常');
				$(this).next('.jy').css("display","inline-block");
			}else if(parseInt($(this).text()) < 80 && parseInt($(this).text()) >= 70){
				$(this).parent('dd').addClass('cor1');
				$(this).parent('dd').find('.tx').text('中度异常');
				$(this).next('.jy').css("display","inline-block");
			}else if(parseInt($(this).text()) <70){
				$(this).parent('dd').addClass('cor2');
				$(this).parent('dd').find('.tx').text('重度异常');	
				$(this).next('.jy').css("display","inline-block");
			}
		})
		//弹
		function showMask(){
			$('.v_overlay').css({"visibility":"visible","opacity":"1"});
			$(document).on('touchmove',function(e){
				e.preventDefault();//阻止滚动
			})
		}
		$('.infCon .item .pop').on("click",function(){
			event.stopPropagation();
			showMask();
			$(this).next('.v_overlert').css({"visibility":"visible","opacity":"1"});
			return false;
		});
		$('.infCon .tit .pop').on("click",function(){
			event.stopPropagation();
			showMask();
			$(this).next('.v_overlert').css({"visibility":"visible","opacity":"1"});
			return false;
		});
		/*$('.infCon .item .jy').on("click",function(){
			event.stopPropagation();
			showMask();
			$(this).next('.v_overlert2').css({"visibility":"visible","opacity":"1"});
			return false;
		});*/
		
		$('.v_overlay').click(function(){
			$('.v_overlay').css({"visibility":"hidden","opacity":"0"});
			$('.v_overlert').css({"visibility":"hidden","opacity":"0"});
			//$('.v_overlert2').css({"visibility":"hidden","opacity":"0"});
			$(document).off("touchmove")
		});
		
		//带参数
		var deviceType = indexData.data.deviceType;
		var userId = indexData.data.userId;
		var arrSecond =[];
		for(n =0;n<indexData.data.secondPages.length;n++){
			arrSecond.push(indexData.data.secondPages[n].targetSecondId);
		}
		var seconds = arrSecond.join(',');
		//$('#gotrend').attr("href","trend.html?deviceType="+deviceType+"&userId="+userId+"&seconds="+seconds+"&agentId="+agentId);
	}
		

	
},

    error : function(obj,msg){
    	debugger
    	alert(obj  + msg);
    }
});
</script>
</body>
</html>
