body{-webkit-print-color-adjust:exact;width:640px;margin:0 auto;padding:15px 0; font-family: "MicrosoftJhengHei";}
.print{width:640px;margin:0 auto; position: relative;}
.print-index{color:#676767;padding:35px}
.print-index .logo{width:105px}
.print-index .title{font-size:55px;text-align:center;font-weight:bold;padding-top:30px;/*letter-spacing:8px*/}
.print-index .title p{line-height:50px}
.print-index .title .english{font-size:32px;}
.print-index ul{padding:30px 20px; overflow: hidden;}
.print-index ul .pli{float:left;width:50%;font-size:16px;overflow:hidden; line-height: 50px;}
.print-index ul .pli .key{float:left;/*width:74px;text-align-last:justify*/}
.print-index ul .pli .value{float:left}
.print-index .banner{width:260px;margin:0 auto}
.print-index .slogan{padding:0; height: 66px; line-height: 66px;}
.print-index .slogan div{display: inline-block; vertical-align: top; width: 49.5%; text-align:center;color:#8abc29;font-size:22px;}
.print-index .bottom{font-size:28px;color:#259a91;text-align:center;line-height:50px;/*letter-spacing:12px;*/font-weight:bold}
.print .sr_box{border:1px solid #348798;}
.print h3{text-align:center;background:#348798;font-size:18px;color:#fff;font-weight:bold;line-height:40px;/*margin-bottom:20px*/}
.print  .box{width:100%;position:relative; padding:40px 0; overflow: hidden;}
.print  .box > .lf{width:180px;display:inline-block;position:relative;left:0}
.print  .box > .lf > img{width:180px}
.print  .box > .rt{display:inline-block;width:416px; float: right;}
.print  .box .rt ul{overflow:hidden;width:402px;margin:0 auto}
.print  .box .rt ul li{width:50%;height:90px;float:left;overflow:hidden;padding-bottom:30px}
.print  .box .rt ul li .img{float:left;width:60px;margin-right:10px}
.print  .box .rt ul li .txt{float:left}
.print  .box .rt ul li .txt p{line-height:20px}
.print  .box .rt ul li .name{color:#000}
.print  .box .rt ul li .grade{font-size:20px}
.print  .box .rt ul li .name{font-size:14px}
.print  .box .rt ul li .state{font-size:14px}
.print  .box .rt ul .normal{color:#1ebeb1}
.print  .box .rt ul .mild{color:#ff9e05}
.print  .box .rt ul .severity{color:#ff4c05}
.mianyi{}
.mianyi .fen_sta{height: 60px; line-height: 60px; font-size:16px; padding: 0 20px; overflow: hidden; font-weight: bold; border-bottom: #cccccc solid 1px;}
.mianyi .fen_sta em{ color: #1ECEB7; font-weight: bold;}
.mianyi .fen_sta span{color: #1ECEB7;font-weight:normal;}
.mianyi .fen_sta font{font-size: 20px;}
.mianyi .bid_list{font-size: 0; padding: .1rem .3rem; text-align: center; padding: 20px;}
.mianyi .bid_list .c-li{width:33.3%;display: inline-block; vertical-align: top; padding:5px; text-align: left;}
.mianyi .bid_list .c-li a{height: 62px; display: block;box-shadow:0px .1rem 10px 0px rgba(234,234,234,1); border-radius:4px; border:1px solid rgba(242,242,242,1);}
.mianyi .bid_list .c-li .pic{display: inline-block; vertical-align: top; width: 55px; padding:16px 12px;}
.mianyi .bid_list .c-li .dtt{ display: inline-block; vertical-align: top; padding: 7px 0; font-size: 15px; line-height: 24px;}
.mianyi .bid_list .c-li .dtt .sta{color: #1ECEB7;}
.mianyi .bid_list .c-li .dtt .sta.lit{color: #FF8800;}
.mianyi .bid_list .c-li .dtt .sta.mid{color: #F10000;}

/*=皮肤=*/
.print .skin{width:100%;margin-bottom:20px; line-height: 22px; font-size: 12px;}
.print .skin > .zongjie{width:100%;font-size: 0;}
.print .skin > .zongjie > div{text-align:center}
.print .skin > .zongjie > .l{border-bottom:1px solid #348798;border-right:1px solid #348798;display:inline-block;width:25%;font-size:24px;color:#348798;height:48px;line-height:40px;position:relative;top:-11px}
.print .skin > .zongjie > .r{border-bottom:1px solid #348798;position:relative;left:-1px;display:inline-block;width:75%; font-size: 0;}
.print .skin > .zongjie > .r > span{display:inline-block;width:33.3%;border-right:1px solid #348798;font-size: 12px;}
.print .skin > .zongjie > .r > span:last-child{border-right:none}
.print .skin > .zongjie > .r > span > em{display:block;width:100%;border-bottom:1px solid #348798;font-weight:bold}
.print .skin > .xiangqing{position:relative;top:-11px}
.print .skin > .xiangqing > .tou{width:100%;border-bottom:1px solid #348798;border-top:1px solid #348798;}
.print .skin > .xiangqing > .tou > span{display:inline-block;width:24.5%;text-align:center;font-weight:bold}
.print .skin > .xiangqing > .bd{padding:5px 10px}
.print .skin > .xiangqing > .bd > .tit{/*font-weight:bold*/}
.print .skin .dan{text-align:center;background:#FF8C3E;font-size:14px;color:#fff;line-height:30px}
.print .skin .gai{border-top:1px solid #348798;text-align:center;font-size:14px;color:#fff;line-height:30px;background:#FFC255}
.print .skin .chi{border-top:1px solid #348798;text-align:center;font-size:14px;color:#fff;line-height:30px;background:#2CBCB4}

/*=重疾=*/
.zhongji{padding:30px 20px;margin:0 0 30px}
.zhongji .biaoti{color:#23a197;text-align:center;font-size:25px;font-weight:bold;line-height:30px;margin:0 0 020px}
.zj_list{}
.zj_list li{margin-bottom:40px}
.zj_list li .bit{line-height:24px;height:24px;padding:0 10px}
.zj_list li .bit i{display:inline-block;width:6px;height:12px;border-radius:3px;margin:6px 6px 0 0;background:#23a197;vertical-align:top}
.zj_list li .bit .lab{color:#23a197;font-weight:bold;font-size:15px}
.zj_list li .bit .pro{width:360px;height:20px;line-height:20px;margin:2px;border:#666 solid 1px;text-align:center;position:relative;background:#ECF7ED}
.zj_list li .bit .pro .ppc{background:#72B269;display:block;height:20px}
.zj_list li .bit .pro .tcc{position:absolute;width:100%;left:0;top:0}
.zj_list li .bit em{color:#23a197}
.zj_list li .tit{color:#e73622;font-size:16px;line-height:35px;font-weight:bold}
.zj_list li .txt{line-height:21px}

/*=建议=*/
.print .jianyi{margin-bottom:40px; font-size: 12px;}
.shanshi,.yingyang,.yundong{ font-size: 0; line-height: 24px;}
.print .jianyi > div{border-bottom:1px solid #348798;width:100%;height:100%;position:relative}
.print .jianyi > div > .left{display:inline-block;width:5%;text-align:center; font-size: 12px;}
.print .jianyi > div > .left > em{font-weight:bold;position:absolute;top:50%;left:1%;/*transform:translateY(-50%);*/width: .2rem; margin-top: -60px;}
.print .jianyi > div > .right{display:inline-block;width:95%;border-left:1px solid #348798; font-size: 12px; padding: 10px 5px;}
.print .jianyi > div > .right > p i{display:inline-block;width:8px;height:8px;background:#348798;border-radius:50%;margin:0 15px 0 7px}

/*=食谱菜单=*/
.sp-dcn{ margin:16px 0; padding: 0 20px;}
.sp-dcn .cnt{ line-height: 26px; overflow: hidden;}
.sp-dcn .cnt span{font-size: 15px; font-weight: bold; background: #348798; color: #ffffff;}
.sp-dcn .cnc{ border: #000 solid 1px;}
.sp-dcn .cnc .tt{line-height: 34px; text-align: center; display: -webkit-box; display: -ms-flexbox; border-bottom: #000 solid 1px; color: #348798;}
.sp-dcn .cnc .tt span{ display: block; width: 80px; height: 34px; font-size: 16px;}
.sp-dcn .cnc .tt em{ display: block; -webkit-box-flex: 1; height: 34px; font-size: 16px;width: 26%; border-left: #000 solid 1px;}
.sp-dcn .cnc dl.tli{ display: -webkit-box; display: -ms-flexbox; border-bottom: #000 solid 1px;}
.sp-dcn .cnc .tli dt{ display: block; width: 80px; position: relative; min-height: 44px; text-align: center;}
.sp-dcn .cnc .tli dt .ce{ width: 100%; position: absolute; top: 50%; margin-top: -11px;}
.sp-dcn .cnc .tli dt font{ font-size: 14px; font-weight: bold; line-height: 22px;}
.sp-dcn .cnc .tli dd{ -webkit-box-flex: 1; width: 26%; text-align: center; display: flex; flex-direction: column; justify-content: center; border-left: #000 solid 1px; font-size: 14px;}
.sp-dcn .cnc .tli dd span{ line-height: 24px; font-size: 13px;}
.sp-dcn .cnc dl.tli:last-of-type{ border-bottom: none;}

/*=具体指标=*/
.print .sr_head{width:100%;border:1px solid #348798;margin-bottom:30px; font-size: 12px;}
.print .sr_head > .sr_hr{line-height:45px;height:45px;font-weight:bold;padding-left:10px;border-bottom:1px solid #348798}
.print .sr_head > .sr_hr img{width:21px;vertical-align:-7px;margin:0 20px 0 6px}
.print .sr_head > .sr_hr > span{display:inline-block;width:91px;height:24px;line-height:24px;background:#23D1A2;color:#fff;font-weight:400;margin-left:20px;text-align:center}
.print .sr_head > .sr_hr > span.lit{background:#FFC255;}

.print .sr_head_b{width:100%;border:1px solid #348798;margin-bottom:30px;margin-top:10px; font-size: 12px;}
.print .sr_head_b > .sr_head_b_tit{line-height:39px;height:39px;font-weight:bold;padding-left:10px;border-bottom:1px solid #348798}
.print .sr_head_b > .sr_head_bzi{position:relative;padding:10px 0 20px 10px;border-bottom:1px solid #348798}
.print .sr_head_b > .sr_head_bzi > span{display:inline-block;width:91px;height:24px;line-height:24px;background:#23D1A2;color:#fff;font-weight:400;text-align:center}
.print .sr_head_b > .sr_head_bzi > span:nth-child(2){background:#FFC255}
.print .sr_head_b > .sr_head_bzi > span:nth-child(3){background:#FF8C3E}
.print .sr_head_b > .sr_head_bzi > .fubiao{position:absolute;top:36px;left:48px;width:15px}
.print .sr_head_b > .sr_head_bzi > .fubiao.lit{left:140px;}
.print .sr_head_b > .sr_head_bzi > .fubiao.mid{left:230px;}
.print .sr_head_b > .sr_title{padding-left:15px;padding-bottom:15px;border-bottom:1px solid #348798}
.print .sr_head_b > .sr_title > .h8{height:30px;line-height:30px;color:#2CBCB4;margin-bottom:5px;font-weight:bold}
.print .sr_head_b > .sr_title > .sr-text{line-height:20px}
.print .sr_head_b > .sr_zhengwen{padding-left:15px;padding-bottom:15px;padding-top:10px}
.print .sr_head_b > .sr_zhengwen .h8{height:20px;line-height:20px;color:#2CBCB4;font-weight:bold}
.print .sr_head_b > .sr_zhengwen .h9{height:20px;line-height:20px;font-weight:bold}
.print .sr_head_b > .sr_zhengwen > .sr_jybox{line-height:20px;margin-bottom:15px}
.print .sr_head_b > .sr_zhengwen > .sr_jybox:last-child{margin-bottom:0}
.print .sr_head_b > .sr_zhengwen > .sr_yyjy{line-height:20px;margin-bottom:15px}
.print .sr_head_b > .sr_zhengwen > .sr_yyjy:last-child{margin-bottom:0}


.print .sr_head .c_con{ /*display: -webkit-box; display: -ms-box;*/ border-bottom: #333 solid 1px; min-height: 29px; overflow: hidden;  position: relative;}
.print .sr_head .c_con:last-of-type{ border-bottom: none;}
.print .sr_head .c_con .second{ display:inline-block; width: 24%; float: left; border-right: #333 solid 1px;/* position: relative;*/}
.print .sr_head .c_con .second span{ position: absolute; top: 50%; transform: translateY(-50%);}
.print .sr_head .c_con .second em{ display:inline-block; padding: 0 5px; text-align: center; font-weight: bold;}
.print .sr_head .c_con .third{ /*-webkit-box-flex: 1; -ms-box-flex:1;*/ font-size: 0; line-height: 20px; width: 66%; float: right;border-left: #333 solid 1px;}
.print .sr_head .c_con .third span.ite{ display: inline-block; width: 49.9%;}
.print .sr_head .c_con .third span:nth-child(odd){ border-right: #333 solid 1px;}
.print .sr_head .c_con .third span:nth-last-of-type(2) em{ border-bottom: none;}
.print .sr_head .c_con .third span:last-of-type em{ border-bottom: none;}
.print .sr_head .c_con .third span em{line-height: 20px; display: inline-block; font-size: 12px; border-bottom: #333 solid 1px;}
.print .sr_head .c_con .third span em:first-of-type{ width: 50%; padding-left: 10px;}
.print .sr_head .c_con .third span em:nth-of-type(2){ width: 25%;}
.print .sr_head .c_con .third span em:nth-of-type(3){ width: 25%; text-align: center;}

/*微循环*/
.print .weixunhaun{width:100%;border:1px solid #348798;margin-bottom:30px;}
.print .weixunhaun > .sr_hr{line-height:45px;height:45px;font-weight:bold;padding-left:10px;border-bottom:1px solid #348798; font-size: 13px;}
.print .weixunhaun > .sr_hr img{width:21px;vertical-align:-4px;margin:0 20px 0 6px}
.print .weixunhaun > .sr_hr > span{display:inline-block;width:91px;height:24px;line-height:24px;background:#FFC255;color:#fff;font-weight:400;margin-left:20px;text-align:center}
.print .weixunhaun > .sr_hbox{width:100%; font-size:0 ;}
.print .weixunhaun > .sr_hbox > .hr_list{display:inline-block;width:50%;height:30px;line-height:30px;padding-left:10px;border-bottom:1px solid #348798;border-right:1px solid #348798}
.print .weixunhaun > .sr_hbox > .hr_list:nth-child(even){border-right:none}
.print .weixunhaun > .sr_hbox > .hr_list:nth-child(3){border-bottom:none}
.print .weixunhaun > .sr_hbox > .hr_list:last-child{border-bottom:none}
.print .weixunhaun > .sr_hbox > .hr_list span{display:inline-block;width:60%;text-align:right;padding-right:20px; font-size: 12px;}
.print .weixunhaun > .sr_hbox > .hr_list > span:nth-child(1){text-align:left;width:40%}

.banben{position: absolute; right: 0; top: 10px; width: 130px; background: #D30000;height: 46px; line-height: 46px; text-align: center; color: #ffffff; font-size: 20px; border-radius: 23px 0 0 23px; font-weight: bold; }
.a4 {        
    page-break-before: auto;        
    page-break-after: always;
}

/*loading*/
.load-overlay{ position: fixed; left: 0; top: 0; bottom: 0; right: 0; width: 100%; height: 100%; background: rgba(204,204,204,0.1); z-index: 9999; display: none;}
.load-overlay .loadimg{ width: .6rem; height: .6rem; position: absolute; top: 50%; left: 50%; margin: -.3rem 0 0 -.3rem;}



/*心血管功能*/
.xxg_con{ padding: 14px;}
.xxg_con .xinlv{width: 116px; height: 67px; display: inline-block; vertical-align: top; box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.27); border-radius: 6px; margin-right: 18px; text-align: center; line-height: 30px;}
.xxg_con .xinlv .lab{ font-size: 16px;  font-weight: bold;}
.xxg_con .xinlv .zhi{ color: #D04B58; font-size: 20px;}
.xxg_con .xinlv .zhi font{ font-size: 10px;}

.xxg_con .xinz{ max-width: 430px; padding: 5px 12px; display: inline-block; box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.27); border-radius: 6px;}
.xxg_con .xinz .z1{ line-height: 20px; font-size: 10px;}
.xxg_con .xinz .z1 img.io{ width: 10px; height: 10px;}
.xxg_con .xinz .z1 span{ font-size: 14px; font-weight: bold;}
.xxg_con .xinz .z2{ line-height: 16px; font-size: 10px;}
.xxg_con2{ font-size: 0; padding: 14px; border-top: #3D8392 solid 1px;}
.xxg_con2 .cn1{display: inline-block; vertical-align: top;}
.xxg_con2 .cn1 .xybh{width: 230px; height: 67px; margin: 0 0 14px; box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.27); border-radius: 6px; font-size: 0;}
.xxg_con2 .cn1 .xybh .pic{display: inline-block; vertical-align: top; padding: 10px;}
.xxg_con2 .cn1 .xybh .pic img{display: block; margin: 0 auto; width: 46px; height: 46px;}
.xxg_con2 .cn1 .xybh .inf{ display: inline-block; vertical-align: top; font-size: 12px; padding: 3px 0;}
.xxg_con2 .cn1 .xybh .inf .lab{ line-height: 14px;}
.xxg_con2 .cn1 .xybh .inf .sta{ color: #2671C7; line-height: 28px;}
.xxg_con2 .cn1 .xybh .inf .fw{ font-size: 10px; line-height: 14px;}
.xxg_con2 .cn2{display: inline-block; width: 378px; vertical-align: top; padding: 0 0 0 5px;}
.xxg_con2 .cn2 ul{ font-size: 0;}
.xxg_con2 .cn2 ul li{display: inline-block;width: 30%; text-align: center; box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.27);
border-radius: 6px;  font-size: 14px; margin: 0 5px 14px;}
.xxg-wx{border-top: #3D8392 solid 1px; padding: 12px;}
.xxg-wx .ttt{font-weight: 600; font-size: 16px;}
.xxg-wx .yinsu{ overflow: hidden; padding: 10px 0;}
.xxg-wx .yinsu li{float: left; box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.27); border-radius: 6px; font-size: 12px; line-height: 30px; padding: 0 10px; margin: 0 12px;}
.xxg-wx .ztxt{padding: 12px 0; line-height: 20px; font-size: 13px;}
.xxg-wx .jibing{ overflow: hidden; padding: 10px 0 0;}
.xxg-wx .jibing li{ float: left; line-height: 17px; font-size: 13px; margin: 0 40px 13px 0;}
.xxg-wx .jibing li em{display: inline-block; vertical-align: top; margin: 5px 5px 0 0; width: 7px; height: 7px; background: url(../img/gg.png) no-repeat center; background-size: 7px 7px;}
.xxg-wx .jibing li span{display: inline-block; vertical-align: top;}

.feibid{ font-size: 0; padding:20px 12px; position: relative;}
.feibid .bitem{display: inline-block; width: 138px; height: 68px;background: #FFFFFF; box-shadow: 0px 2px .06rem 0px rgba(29, 71, 133, 0.28); margin:0 15px 10px 0; padding: 10px 0rem 10px 5px; border-radius: 6px;}
.feibid .bitem .pic{display: inline-block; vertical-align: top; padding: 9px 0 0;width: 30px;}
.feibid .bitem .pic img{width:30px; height: 30px;}
.feibid .bitem .inf{ display: inline-block; vertical-align: top; width: 90px; margin-left: 10px; overflow: hidden;}
.feibid .bitem .inf .lab{font-size: 14px; line-height:23px;}
.feibid .bitem .inf .sta{color: #306FB7; font-size: 14px; line-height: 23px;}

.feibid .sitem{width: 50%; height: 62px; padding: 10px 11px; font-size: 0;
box-shadow: 0px .02rem .06rem 0px rgba(29, 71, 133, 0.28); border-radius: 4px;}
.feibid .sitem .pic{display: inline-block; vertical-align: top; padding:6px 0; width: 30px;}
.feibid .sitem .pic img{width: 30px; height: 30px; display: block;}
.feibid .sitem .inf{ display: inline-block; vertical-align: top; font-size: 14px; margin-left: .50px;}
.feibid .sitem .inf .lab{ font-size: 14px; line-height: 21px;}
.feibid .sitem .inf .sta{ font-size: 14px; color: #306FB7; line-height: 21px;}
.feibid .sitem .fen{ line-height: 21px;}
.feibid .sitem .fen .up{ font-size: 18px; color: #2671C7; text-align: center;}
.feibid .sitem .fen .fw{ font-size: 15px; color: #666666;}
.xxg-wx .feizz{ overflow: hidden; padding: 20px 0 10px;}
.xxg-wx .feizz li{ width: 76px; float: left; text-align: center;}
.xxg-wx .feizz li img{width: 40px; height: 40px;}
.xxg-wx .feizz li p{ font-size: 13px; line-height: 16px;}