<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no" name="format-detection" />
<title>健康建议</title>
<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div class="my_view" id="appX" style="">
	<header class="header" style="position: fixed; top: 0; left: 0; right: 0; z-index: 10000;">
		<a class="b-arr fl" href="javascript:history.go(-1);"></a>
		<a class="t-right fr" href="#"></a>
		<p class="t-cen txt1"><span>健康建议</span></p>
	</header>
	
	<p class="vtip">请查阅您的专属健康改善建议</p>
	<div class="conView">
		<p style="height: 1.55rem;"></p>
		
		<p class="btit"><i class=""></i><span class="">膳食建议</span><font class="fr ssjyTab">专家</font></p>
		<div class="bcon">
		<template v-for="(site,index) in sites">
			<p class="item-tit" id="" otop="">{{options[index]}}.{{site.indexName}}</p>
			<p>{{site.personality}}</p>
			<div class="item-txt" v-html="site.proposal"></div>
		</template>
		</div>
		
		
		<p class="btit"><i class=""></i><span class="">营养建议</span><font class="fr ssjyTab">专家</font></p>
		<div class="bcon">
		<template v-for="(oli,index) in oul">
			<p class="item-tit" id="" otop="">{{options[index]}}.{{oli.indexName}}</p>
			<div class="item-txt">{{oli.personality}}</div>
		</template>	
		</div>
		
		
		<p class="btit"><i class=""></i><span class="">运动建议</span><font class="fr yysTab">专家</font></p>
		<div class="bcon" id="ydjj">
		<template v-for="(sport,index) in sports">
			<!--<p class="item-tit" id="item6">一、低热量</p>-->
			<div class="item-txt">
				{{index+1}}.{{sport.personality}}
			</div>
		</template>
		</div>
		<div class="zanshi" style="display: none">没有获取到数据</div>	
	</div>
	
	<nav class="navL">
		<p class="p-item"><i><img src="img/x_i_sh.png"></i><em>膳食建议</em></p>
		<div class="ncon">
		<template v-for="(site,index) in sites">
			<a class="a-li"><i class=""></i><font>{{site.indexName}}</font></a>
		</template>
		</div>
		
		<p class="p-item"><i><img src="img/x_i_yy.png"></i><em>营养建议</em></p>
		<div class="ncon">
		<template v-for="(oli,index) in oul">
			<a class="a-li"><i></i><font>{{oli.indexName}}</font></a>
		</template>
		</div>

		<p class="p-item" id="ydjj_i"><i><img src="img/x_i_yd.png"></i><em>运动建议</em></p>
	</nav>
	
	
</div>

<div class="v_overlay"></div>
<div class="v_overlert" id="ssjyTab">
	<div class="tc_sy">
		<p class="bit2">
			<span class="labt">康加膳食、营养专家 肖荣教授领衔的专家团队为您提供。</span>
		</p>
		<div class="bxt">
			肖 荣   <br/>
			博士/教授，博士生导师<br/>
			中国营养学会常务理事 <br/>
			中国优生科学协会常务理事<br/>
			中国营养学会学术交流工作委员会委员<br/>
			北京营养师协会副理事长<br/>
			首都医科大学公共卫生学院营养与食品卫生学系主任<br/>
		</div>
	</div>
</div>
<div class="v_overlert" id="yysTab">
	<div class="tc_sy">
		<p class="bit2">
			<span class="labt">康加运动学专家 高岭娣教授、生活方式专家 潘晓明博士领衔的专家团队为您提供。</span>
		</p>
		<div class="bxt">
			高岭娣<br/>     
			首都医科大学卫生与教育管理学院体育学系主任/副教授<br/><br/>
			
			潘晓明<br/>     
			中医博士<br/>
			北京大学医学部研究中心学术部副主任<br/>
			深圳市中医药健康服务协会副会长；<br/>
		</div>
	</div>
</div>


<div class="load-overlay">
	<div class="loadimg"><img src="img/loading.gif"></div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript">
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if(clientWidth>=750){
                docEl.style.fontSize = '100px';
            }else{
                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
            }
        };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>

<script>
$('.my_view').css("display","none");
$('.load-overlay').css("display","block");
//截取URL 获取
function GetQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
};
var myreportId=GetQueryString("reportId");

$.ajax({
url : dataUrl + "/api/v1/reportIndex/getSuggest",
type : "POST",
dataType : 'json',
data : {
    reportId : myreportId //变量myreportId替换 
},
success : function(proposalData) {
	//alert('get it');
	if(proposalData.code == 200){
		$('.my_view').css("display","block");
		$('.load-overlay').css("display","none");
		
		if(proposalData.data==null){
			$('.box-c').css("display","none");
			$('.zanshi').css("display","block");
		}else{
			if(proposalData.data.healthAdviceVo.dietList!=null){
				for(var i=0;i<proposalData.data.healthAdviceVo.dietList.length;i++){
				var newprop = proposalData.data.healthAdviceVo.dietList[i].proposal.replace(/\n/g, "<br/>");
				proposalData.data.healthAdviceVo.dietList[i].proposal = newprop;
				}
			}
			
			var myApp01 = new Vue({
			  	el: '#appX',
			  	data: {
			    	sites: proposalData.data.healthAdviceVo.dietList, //膳食建议
			    	oul: proposalData.data.healthAdviceVo.nutritionList, // 营养建议
			    	sports: proposalData.data.healthAdviceVo.motionList, //运动建议
			    	options:['一','二','三','四','五','六','七','八','九','十','十一','十二','十三','十四','十五','十五','十六']
			  	}
			});
			
			//字段缩减
			$('nav a font').each(function(index){
				if($(this).text() == '避免刺激性食物'){
					$(this).text('刺激性');$(this).prev('i').addClass('bi');
				}else if($(this).text() == '避免海鲜发物'){
					$(this).text('海鲜发物');$(this).prev('i').addClass('bi');	
				}else if($(this).text() == '避免容易富集农药的食物'){
					$(this).text('集农药');$(this).prev('i').addClass('bi');	
				}else if($(this).text() == '避免容易富集重金属的食物'){
					$(this).text('集重金属');$(this).prev('i').addClass('bi');	
				}else if($(this).text() == '避免辛辣刺激食物'){
					$(this).text('辛辣刺激');$(this).prev('i').addClass('bi');	
				}else if($(this).text() == '避免烟酒'){
					$(this).text('烟酒');$(this).prev('i').addClass('bi');	
				}else if($(this).text() == '不宜食用动物内脏'){
					$(this).text('食用动物内脏');$(this).prev('i').addClass('bi');	
				}else if($(this).text() == '充足的优质蛋白'){
					$(this).text('优质蛋白');$(this).prev('i').addClass('di');	
				}else if($(this).text() == '低胆固醇'){
					$(this).text('胆固醇');$(this).prev('i').addClass('di');	
				}else if($(this).text() == '低热量'){
					$(this).text('低热量');$(this).prev('i').addClass('di');	
				}else if($(this).text() == '低糖'){
					$(this).text('低糖');$(this).prev('i').addClass('di');	
				}else if($(this).text() == '低盐'){
					$(this).text('低盐');$(this).prev('i').addClass('di');	
				}else if($(this).text() == '低脂肪'){
					$(this).text('低脂肪');$(this).prev('i').addClass('di');	
				}else if($(this).text() == '多吃刺激胶原蛋白合成的食物'){
					$(this).text('刺激胶原蛋白合成');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃粗杂粮'){
					$(this).text('粗杂粮');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃促进胃肠蠕动的食物'){
					$(this).text('促进胃肠蠕动');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃对男性健康有益的食物'){
					$(this).text('对男性有益');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含碘的食物'){
					$(this).text('含碘食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含多不饱和脂肪酸的食物'){
					$(this).text('多不饱和脂肪酸');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含番茄红素的食物'){
					$(this).text('含番茄红素');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含辅酶Q10的食物'){
					$(this).text('含辅酶Q10');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含钙的食物'){
					$(this).text('含钙食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含钾的食物'){
					$(this).text('含钾食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含精氨酸的食物'){
					$(this).text('含精氨酸');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含镁的食物'){
					$(this).text('含镁食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含膳食纤维的食物'){
					$(this).text('膳食纤维');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含铁的食物'){
					$(this).text('含铁食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素A的食物'){
					$(this).text('含维A');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素B12的食物'){
					$(this).text('含维B12');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素B1的食物'){
					$(this).text('含维B1');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素B2的食物'){
					$(this).text('含维B2');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素B3的食物'){
					$(this).text('含维B3');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素B6的食物'){
					$(this).text('含维B6');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素B族的食物'){
					$(this).text('含维B族');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素C的食物'){
					$(this).text('含维C');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素E的食物'){
					$(this).text('含维E');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含维生素K1的食物'){
					$(this).text('含维K1');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含硒的食物'){
					$(this).text('含硒食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含锌的食物'){
					$(this).text('含锌食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含叶酸的食物'){
					$(this).text('叶酸食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含益生菌的食物'){
					$(this).text('益生菌');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含益生元的食物'){
					$(this).text('含益生元');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃富含植物雌激素的食物'){
					$(this).text('植物雌激素');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃护肝的食物'){
					$(this).text('护肝食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃鸡蛋'){
					$(this).text('鸡蛋');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃抗氧化的食物'){
					$(this).text('抗氧化');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃深海鱼类'){
					$(this).text('深海鱼');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃疏通软化血管的食物'){
					$(this).text('疏通软化血管');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃有助于重金属排出的食物'){
					$(this).text('重金属排出');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多吃助眠食物'){
					$(this).text('助眠食物');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '多饮水'){
					$(this).text('多饮水');$(this).prev('i').addClass('duo');	
				}else if($(this).text() == '平衡膳食'){
					$(this).text('平衡膳食');$(this).prev('i').addClass('ping');	
				}else if($(this).text() == '少吃富含草酸的食物'){
					$(this).text('含草酸');$(this).prev('i').addClass('shao');	
				}else if($(this).text() == '少吃富含碘的食物'){
					$(this).text('含碘食物');$(this).prev('i').addClass('shao');	
				}else if($(this).text() == '适量补充葡萄糖'){
					$(this).text('葡萄糖');$(this).prev('i').addClass('ping');	
				}else if($(this).text() == '规律饮食'){
					$(this).text('规律饮食');$(this).prev('i').addClass('ping');	
				}else if($(this).text() == '氨糖软骨素'){
					$(this).text('氨糖软骨素');$(this).prev('i').addClass('');	
				}else if($(this).text() == '钙维生素D补充剂'){
					$(this).text('钙维生素D');$(this).prev('i').addClass('');	
				}else if($(this).text() == '天然β-胡萝卜素'){
					$(this).text('胡萝卜素');$(this).prev('i').addClass('');	
				}else{
					//$(this).prev('i').addClass('ping');
				};
			});
						
			$('.conView .item-tit').each(function(index){
				$(this).attr("id","item"+index);
			});
			$('nav a').each(function(index){
				$(this).attr("href","#item" + index);	
			});
			
			//判断如果没有数据的时候（数据数组为null时）
			$('.bcon').each(function(){
				if($(this).html() == ''){
					$(this).prev('p').css("display","none");
				}
			});
			$('.ncon').each(function(){
				if($(this).html() == ''){
					$(this).prev('p').css("display","none");
				}
			});
			
			if($('#ydjj').html()==''){
				$('#ydjj_i').css("display","none");
			}
			
			$('.conView').css("min-height",$(window).height())
		}	
	}else{
		alert('code='+proposalData.code);
	};
	
	//先算每个元素的position.top记录下来 赋值。绑定死
	$('.conView .item-tit').each(function(index){
		//$(this).attr("otop",$(this).position().top);
		$(this).attr("otop",$(this).offset().top);
	});
	$('.conView .btit').each(function(index){
		//$(this).attr("otop",$(this).position().top);
		$(this).attr("otop",$(this).offset().top);
		
	});
	
	
	var $navs = $('nav a'),       // 导航
			$sections = $('.item-tit'),   // 模块
		  	//$window = $(window),
		  	$window = $('.conView'),
		  	navLength = $navs.length - 1;
		  	
		$window.on('scroll', function() {
			var hcha = $('header').height() + $('.vtip').height();
		  	var scrollTop = $window.scrollTop();
		   	for (var len = navLength; len > -1; len--) {
			    var that = $sections.eq(len);
			    if (scrollTop+hcha >= that.attr("otop")) {
			       $navs.removeClass('on').eq(len).addClass('on');
			       var topOn = $navs.eq(len).position().top;
			       //console.log(topOn);
			       if(topOn < 0){
			       		console.log('scrolltop=' + $('.navL').scrollTop());
			       		//$('.navL').scrollTop($('.navL').scrollTop()-100)
			       		$('.navL').scrollTop(0);
			       }else if(topOn > $('.navL').height()){
			       		$('.navL').scrollTop($('.navL').scrollTop()+50)
			       };
			       break;
			    }
		  	};
		   	
		});
		$navs.on('click', function(e){
		  	e.preventDefault();
		  	var hcha = $('header').height() + $('.vtip').height()-2;
		  	$('.conView').animate({
		    	'scrollTop': $($(this).attr('href')).attr("otop") - hcha
		  	}, 300);
		});
		
		//点图标
		$('nav .p-item').each(function(index){
			var hcha = $('header').height() + $('.vtip').height()-2;
			$(this).click(function(){
				$('.conView').animate({
			    	'scrollTop': $('.conView .btit').eq(index).attr("otop") - hcha
			  	}, 300);
			});
		});
			
		//专家弹
		function showMask(){
			$('.v_overlay').css({"visibility":"visible","opacity":"1"});
			$(document).on('touchmove',function(e){
				e.preventDefault();//阻止滚动
			})
		}
		$('.ssjyTab').on("click",function(){
			event.stopPropagation();
			showMask();
			$('#ssjyTab').css({"visibility":"visible","opacity":"1"});
			return false;
		});
		$('.yysTab').on("click",function(){
			event.stopPropagation();
			showMask();
			$('#yysTab').css({"visibility":"visible","opacity":"1"});
			return false;
		});
		$('.v_overlay').click(function(){
			$('.v_overlay').css({"visibility":"hidden","opacity":"0"});
			$('.v_overlert').css({"visibility":"hidden","opacity":"0"});
			//$('.v_overlert2').css({"visibility":"hidden","opacity":"0"});
			$(document).off("touchmove");
		});
			
},

    error : function(obj,msg){
    	//debugger
    	console.log('请求失败');
    }
});

</script>

</body>
</html>
